<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="legal page">
    <section class="legal__nav">
        {{partial "banner" .}}
				{{partial "secondNav" .}}
    </section>
    {{ with .Site.GetPage "privacyPolicy" }}
    <div class="legal__container container container">
			<h1 class="legal__container__title"> {{ .Params.title }} </h1>
			<p class="legal__container__date"> Last Updated <b>{{ .Params.lastUpdated }}</b> </p>

			<div class="legal__content h-100">
					{{ .Content }}
			</div>
    </div>
    {{end}}

    <footer>
        {{partial "footer" . }}
    </footer>

    {{partial "site-scripts" .}}
  </body>
</html>
