<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="page">
    <section class="legal__nav">
        {{partial "banner" .}}
        {{partial "nav" .}}
    </section>
    {{ with .Site.GetPage "privacyPolicy" }}
    <div class="legal__container container text-center">
        <h1> {{ .Params.title }} </h1>
        <div class="legal__content h-100">
            {{ .Content }}
        </div>
    </div>
    {{end}}

    <footer>
        {{partial "footer" . }}
    </footer>

    {{partial "site-scripts" .}}
  </body>
</html>