<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}
</head>

<body class="press-kit-page page">
    {{ partial "banner" .}}
    {{partial "press-kit/hero" .}}

    <div class="press-kit__terminology">
        {{partial "press-kit/terminology" .}}
    </div>

    <div class="press-kit__logo">
        {{partial "press-kit/logo" .}}
    </div>

    <div class="press-kit__mascot">
        {{partial "press-kit/mascot" .}}
    </div>

    <div class="press-kit__fonts">
        {{partial "press-kit/fonts" .}}
    </div>

    <div class="press-kit__colors">
        {{partial "press-kit/colors" .}}
    </div>


    <footer>
        {{partial "footer" . }}
    </footer>

    {{partial "site-scripts" .}}
</body>
</html>
