<div class="container-fluid">
  <div class="container">
    <div class="spacer125"></div>
    <div class="row">
      <div class="col-lg-11 mt-5">
        <h2>
            Colors
        </h2>
      </div>
      <!-- <div class="col-lg-1 mt-5">
        <p>
            Download Logo Kit
        </p>
      </div> -->
    </div>
    <div class="pt-5 row d-flex flex-row">
      <div class="color col-xs-12 col-lg-4">
        <div class="visual" style="background: #2582FF"></div>
        <div class="text">
          <p style="font-weight: bold">Aurora Blue</p>
          <p>#2582FF</p>
        </div>
      </div>
      <div class="color col-xs-12 col-lg-4">
        <div class="visual" style="background: #0059D0"></div>
        <div class="text">
          <p style="font-weight: bold">Aurora Blue-Medium</p>
          <p>#0059D0</p>
        </div>
      </div>
      <div class="color col-xs-12 col-lg-4">
        <div class="visual" style="background: #133E9C"></div>
        <div class="text">
          <p style="font-weight: bold">Aurora Blue-Dark</p>
          <p>#133E9C</p>
        </div>
      </div>
    </div>
    <div class="spacer125"></div>
  </div>
</div>
