<div class="container-fluid lite-gray-bg">
  <div class="container">
    <div class="spacer90"></div>
    <div class="row">
      <div class="col-6 col-lg-9 mt-5">
        <h2 class="heading__name">
            Colors
        </h2>
      </div>
      <div class="col-6 col-lg-3 mt-5 text-right pt-1">
        <div class="download-btn">
          <a class="download-btn__link" href="/press-kit/Tardigrade-Colors.zip">
            <span class="download-btn__text">
                Download Color Kit
            </span>
            <img class="img-fluid download-btn__image" src="/img/download-btn.svg" alt="benefits icon">
          </a>
        </div>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col">
        <div class="press-kit__colors__color">
          <div class="press-kit__colors__visual color-1"></div>
          <div class="press-kit__colors__text">
            <p class="press-kit__colors__color-name">Aurora Blue</p>
            <p class="press-kit__colors__color-hex">#2582FF</p>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer125"></div>
  </div>
</div>
