<div class="container-fluid lite-gray-bg">
  <div class="container">
    <div class="spacer90"></div>
    <div class="row heading">
      <div class="col-lg-9 col-sm-6 col-6 mt-5">
        <h2 class="heading__name">
            Colors
        </h2>
      </div>
      <div class="download-btn col-lg-3 col-sm-6 col-6 mt-5">
        <a class="download-btn__link" href="/press-kit/Tardigrade-Colors.zip">
          <p class="download-btn__text">
              Download Color Kit
          </p>
          <img class="img-fluid download-btn__image" src="/img/download-btn.svg" alt="benefits icon">
        </a>
      </div>
    </div>
    <div class="pt-2 row d-flex flex-row">
      <div class="press-kit__colors__color col-12">
        <div class="press-kit__colors__visual color-1"></div>
        <div class="press-kit__colors__text">
          <p class="press-kit__colors__color-name">Aurora Blue</p>
          <p class="press-kit__colors__color-hex">#2582FF</p>
        </div>
      </div>
    </div>
    <div class="spacer125"></div>
  </div>
</div>
