<div class="container-fluid">
  <div class="container">
    <div class="spacer125"></div>
    <div class="row heading">
      <div class="col-lg-9 col-sm-6 col-6 mt-5">
        <h2>
            Fonts
        </h2>
      </div>
      <div class="download-btn col-lg-3 col-sm-6 col-6 mt-5">
        <a href="/press-kit/Tardigrade-Fonts.zip">
          <p>
              Download Logo Kit
          </p>
          <img class="img-fluid" src="/img/download.png" alt="benefits icon">
        </a>
      </div>
    </div>
    <div class="pt-4 row d-flex flex-row">
      <div class="press-kit__fonts-font col-xs-12 col-lg-6">
        <div class="press-kit__fonts-display">
          <h4 class="press-kit__fonts-headline-example">This is a Cool Headline</h4>
        </div>
        <div class="desc">
          <p style="font-weight: bold; color: #205193;">Headlines</p>
          <p>Poppins Bold</p>
        </div>
      </div>
      <div class="press-kit__fonts-font col-xs-12 col-lg-6">
        <div class="press-kit__fonts-display">
          <p class="press-kit__fonts-body-example">This is body copy talking about how cool the headline is.</p>
        </div>
        <div class="desc">
          <p style="font-weight: bold; color: #205193;">Body</p>
          <p>Roboto Light</p>
        </div>
      </div>
    </div>
    <div class="spacer125"></div>
  </div>
</div>
