<div class="container-fluid">
  <div class="container">
    <div class="spacer125"></div>
    <div class="row">
      <div class="col-lg-11 mt-5">
        <h2>
            Fonts
        </h2>
      </div>
      <!-- <div class="col-lg-1 mt-5">
        <p>
            Download Logo Kit
        </p>
      </div> -->
    </div>
    <div class="pt-5 row d-flex flex-row">
      <div class="font col-xs-12 col-lg-6">
        <div class="display"><h4>This is a Cool Headline</h4></div>
        <div class="desc">
          <p>Headlines</p>
          <p>Poppins Bold</p>
        </div>
      </div>
      <div class="font col-xs-12 col-lg-6">
        <div class="display"><p>This is a Cool Headline</p></div>
        <div class="desc">
          <p>Body</p>
          <p>Roboto Light</p>
        </div>
      </div>
    </div>
    <div class="spacer125"></div>
  </div>
</div>
