<div class="container-fluid">
  <div class="container">
    <div class="spacer90"></div>
    <div class="row">
      <div class="col-lg-9 col-sm-6 col-6 mt-5">
        <h2 class="heading__name">
            Fonts
        </h2>
      </div>
      <div class="col-lg-3 col-sm-6 col-6 mt-5 text-right">
        <div class="download-btn">
          <a class="download-btn__link" href="/press-kit/Tardigrade-Fonts.zip">
            <span class="download-btn__text">
                Download Font Kit
            </span>
            <img class="img-fluid download-btn__image" src="/img/download-btn.svg" alt="benefits icon">
          </a>
        </div>
      </div>
    </div>
    <div class="pt-2 row">
      <div class="col">
        <div class="press-kit__fonts__font">
          <div class="press-kit__fonts__display">
            <h4 class="press-kit__fonts__headline-example">This is a Cool Headline</h4>
          </div>
          <div class="press-kit__fonts__desc">
            <p class="press-kit__fonts__font-name-title">Headlines</p>
            <p class="press-kit__fonts__font-name">Poppins Bold</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="press-kit__fonts__font">
          <div class="press-kit__fonts__display">
            <p class="press-kit__fonts__body-example">This is body copy talking about how cool the headline is.</p>
          </div>
          <div class="press-kit__fonts__desc">
            <p class="press-kit__fonts__font-name-title">Body</p>
            <p class="press-kit__fonts__font-name">Roboto Light</p>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer125"></div>
  </div>
</div>
