{{ with .Site.GetPage "press-kit-hero"}}
<div class="container-fluid press-kit__hero-bg">
  <div class="spacer30"></div>
  <div class="container">
    <div>
         {{partial "nav" .}}
    </div>
  </div>
  <div class="spacer90"></div>
  <div class="container">
    <div class="row">
      <div class="press-kit__hero-msg col-md-5 col-sm-12">
        <div class="row mb-24">
          <div class="col-xs-12 col-md-10 center-sm">
            <h1 class="press-kit__hero-title">
             {{ replace .Params.heading "\n" "<br/>" | safeHTML}}
            </h1>
          </div>
        </div>
        <div class="spacer30"></div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 center-sm">
            <p>{{ replace .Params.content "\n" "<br/>" | safeHTML}}</p>
          </div>
        </div>
        <div class="spacer30"></div>
        <div class="row">
          <div class="press-kit__hero-cta-button-wrapper col-xs-12 col-sm-12 center-sm">
            <a href="/press-kit/Tardigrade-Full-Kit.zip">
              <button class="hero_signup-btn font-weight-bold">
                  Download Full Press Kit
              </button>
            </a>
            <a href="mailto:hello@storj.io">
              <p class="press-kit__hero-contact-us">
                Contact Us
                <img class="mb-1" src="/img/white-carrot.png" height="13" width="13">
              </p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-7">
         <img class="press-kit__hero-img img-fluid" src="{{ .Params.img }}" alt="open sourc icon">
      </div>
    </div>
  </div>
  <div class="spacer125"></div>
</div>
{{end}}
