{{ with .Site.GetPage "press-kit-hero"}}
<div class="press-kit__hero__bg">
  <div class="container">
    <div class="spacer30"></div>
    {{partial "nav" .}}
    <div class="row pt-sm-0 pb-sm-5 py-md-5">
      <div class="col center-sm my-5 text-center text-lg-left">
        <h1>
            {{ replace .Params.heading "\n" "<br/>" | safeHTML}}
        </h1>
        <p class="lead mt-4 mb-4">{{ replace .Params.content "\n" "<br/>" | safeHTML}}</p>
        <div class="row mt-3 mb-5">
          <div class="col">
            <a href="/press-kit/Tardigrade-Full-Kit.zip" class="btn btn-light btn-lg hero_signup-btn">
                Download Full Press Kit
            </a>
            <a href="mailto:partnerships@tardigrade.io" class="press-kit__hero__contact-us mt-2">
                Contact Us
                <img src="/img/arrow-right-white.svg" height="16" width="16">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
