<div class="container-fluid">
  <div class="container">
    <div class="spacer90"></div>
    <div class="row">
      <div class="col-lg-9 col-sm-12 col-12 mt-5 text-center text-lg-left">
        <h2 class="heading__name">
            Logo
        </h2>
      </div>
      <div class="col-lg-3 col-sm-6 col-6 mt-5 text-right d-none d-lg-block">
        <div class="download-btn">
          <a class="download-btn__link" href="/press-kit/Tardigrade-Full-Kit.zip">
            <span class="download-btn__text">
                Download Logo Kit
            </span>
            <img class="img-fluid download-btn__image" src="/img/download-btn.svg" alt="benefits icon">
          </a>
        </div>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-xs-12 col-lg-6">
        <div class="press-kit__logo__logo">
          <img class="img-fluid" src="/img/press-kit-logos/tar-logo-blue.svg" alt="benefits icon">
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="press-kit__logo__logo ">
          <img class="img-fluid" src="/img/press-kit-logos/tar-combined-blue.svg" alt="benefits icon">
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="press-kit__logo__logo background ">
          <img class="img-fluid" src="/img/press-kit-logos/tar-logo-white.svg" alt="benefits icon">
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="press-kit__logo__logo background ">
          <img class="img-fluid" src="/img/press-kit-logos/tar-combined-white.svg" alt="benefits icon">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="spacer55"></div>
      <div class="col text-center">
        <div class="press-kit__logo__download-btn download-btn bottom">
          <a class="download-btn__link" href="/press-kit/presskit.zip">
            <span class="download-btn__text">
                Download Logo Kit
            </span>
            <img class="img-fluid press-kit__logo__download-btn__image download-btn__image" src="/img/download-btn.svg" alt="benefits icon">
          </a>
        </div>
      </div>
    </div>
    <div class="spacer125"></div>
  </div>
</div>
