<div class="container-fluid">
  <div class="container">
    <div class="spacer90"></div>
    <div class="row heading">
      <div class="col-lg-9 col-sm-12 col-12 mt-5">
        <h2 class="heading__name">
            Logo
        </h2>
      </div>
      <div class="press-kit__logo__download-btn download-btn col-lg-3 col-sm-6 col-6 mt-5">
        <a class="download-btn__link" href="/press-kit/Tardigrade-Full-Kit.zip">
          <p class="download-btn__text">
              Download Logo Kit
          </p>
          <img class="img-fluid download-btn__image" src="/img/download.png" alt="benefits icon">
        </a>
      </div>
    </div>
    <div class="pt-4 row d-flex flex-row">
      <div class="press-kit__logo__logo col-xs-12 col-lg-6">
        <img class="img-fluid" src="/img/press-kit-logos/tar-logo-blue.png" alt="benefits icon">
      </div>
      <div class="press-kit__logo__logo col-xs-12 col-lg-6">
        <img class="img-fluid" src="/img/press-kit-logos/tar-combined-blue.png" alt="benefits icon">
      </div>
      <div class="press-kit__logo__logo background col-xs-12 col-lg-6">
        <img class="img-fluid" src="/img/press-kit-logos/tar-logo-white.png" alt="benefits icon">
      </div>

      <div class="press-kit__logo__logo background col-xs-12 col-lg-6">
        <img class="img-fluid" src="/img/press-kit-logos/tar-combined-white.png" alt="benefits icon">
      </div>
    </div>
    <div class="row">
      <div class="spacer55"></div>
      <div class="press-kit__logo__download-btn download-btn bottom text-center col-lg-12">
        <a class="download-btn__link" href="/press-kit/presskit.zip">
          <p class="download-btn__text">
              Download Logo Kit
          </p>
          <img class="img-fluid press-kit__logo__download-btn__image download-btn__image" src="/img/download.png" alt="benefits icon">
        </a>
      </div>
    </div>
    <div class="spacer125"></div>
  </div>
</div>
