<div class="container-fluid">
  <div class="container">
    <div class="spacer125"></div>
    <div class="row heading">
      <div class="col-lg-9 col-sm-12 col-12 mt-5">
        <h2>
            Logo
        </h2>
      </div>
      <div class="press-kit__logo-download-btn col-lg-3 col-sm-6 col-6 mt-5">
        <a href="/press-kit/presskit.zip">
          <p class="press-kit__logo-download-btn-text">
              Download Logo Kit
          </p>
          <img class="img-fluid" src="/img/download.png" alt="benefits icon">
        </a>
      </div>
    </div>
    <div class="pt-4 row d-flex flex-row">
      <div class="press-kit__logo-logo col-xs-12 col-lg-6">
        <img class="img-fluid" src="/img/press-kit-logos/tar-logo-blue.png" alt="benefits icon">
      </div>
      <div class="press-kit__logo-logo col-xs-12 col-lg-6">
        <img class="img-fluid" src="/img/press-kit-logos/tar-combined-blue.png" alt="benefits icon">
      </div>
      <div style="background: #2582FF" class="press-kit__logo-logo col-xs-12 col-lg-6">
        <img class="img-fluid" src="/img/press-kit-logos/tar-logo-white.png" alt="benefits icon">
      </div>

      <div style="background: #2582FF" class="press-kit__logo-logo col-xs-12 col-lg-6">
        <img class="img-fluid" src="/img/press-kit-logos/tar-combined-white.png" alt="benefits icon">
      </div>
    </div>
    <div class="row">
      <div class="spacer30"></div>
      <div class="spacer30"></div>
      <div class="press-kit__logo-download-btn bottom text-center col-lg-12">
        <a href="/press-kit/presskit.zip">
          <p>
              Download Logo Kit
          </p>
          <img style="top: -2px;" class="img-fluid" src="/img/download.png" alt="benefits icon">
        </a>
      </div>
    </div>
    <div class="spacer125"></div>
  </div>
</div>
