<div class="container-fluid lite-gray-bg">
  <div class="container">
    <div class="spacer90"></div>
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="heading press-kit__mascot__title col-lg-6 col-sm-6 col-6 mt-5">
            <h2 class="heading__name">
                Mascot
            </h2>
          </div>
          <div class="press-kit__mascot__download-btn download-btn col-lg-6 col-sm-6 col-6 mt-5">
            <a class="download-btn__link" href="/press-kit/Tardigrade-Mascot.zip">
              <p class="download-btn__text">
                  Download Mascot Kit
              </p>
              <img class="img-fluid download-btn__image" src="/img/download.png" alt="benefits icon">
            </a>
          </div>
        </div>
        <div class="spacer20"></div>
        <div class="row">
          <div class="press-kit__mascot__image-wrapper">
            <img class="img-fluid" src="/img/mascot-images/mascot-102.png" alt="benefits icon">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="heading press-kit__mascot__title col-lg-6 col-sm-6 col-6 mt-5">
            <h2 class="heading__name">
                Images
            </h2>
          </div>
          <div class="press-kit__mascot__download-btn download-btn col-lg-6 col-sm-6 col-6 mt-5">
            <a class="download-btn__link" href="/press-kit/Tardigrade-Images.zip">
              <p class="download-btn__text">
                  Download Images Kit
              </p>
            </a>
            <img class="img-fluid download-btn__image" src="/img/download.png" alt="benefits icon">
          </div>
        </div>
        <div class="spacer20"></div>
        <div class="row">
          <div class="press-kit__mascot__image-wrapper">
            <img class="img-fluid" src="/img/mascot-images/mascot-101.png" alt="benefits icon">
          </div>
        </div>
      </div>
    </div>
    <div class="spacer125"></div>
  </div>
</div>
