<div class="container-fluid lite-gray-bg">
  <div class="container">
    <div class="spacer125"></div>
    <div class="row">
      <div class="col-lg-6 mt-5">
        <h2>
            Mascot
        </h2>
      </div>
      <div class="col-lg-6 mt-5">
        <h2>
            Image
        </h2>
      </div>
    </div>
    <div class="pt-5 row d-flex flex-row">
      <div class="logo col-xs-12 col-lg-6">
        <img class="img-fluid" src="/img/mascot-images/mascot-102.png" alt="benefits icon">
      </div>
      <div class="logo col-xs-12 col-lg-6">
        <img class="img-fluid" src="/img/mascot-images/mascot-101.png" alt="benefits icon">
      </div>
    </div>
    <div class="spacer125"></div>
  </div>
</div>
