<div class="container-fluid lite-gray-bg">
  <div class="container">
    <div class="row py-5">
      <div class="col-lg-6">
        <div class="row">
          <div class="col text-center">
            <div class="press-kit__mascot__title mt-5 mb-3">
              <h2 class="heading__name">
                  Mascot
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="press-kit__mascot__image-wrapper">
              <img class="img-fluid" src="/img/mascot-images/mascot-102.png" alt="benefits icon">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <div class="press-kit__mascot__download-btn download-btn mt-4 mb-5">
              <a class="download-btn__link" href="/press-kit/Tardigrade-Mascot.zip">
                <span class="download-btn__text">
                    Download Mascot Kit
                </span>
                <img class="img-fluid download-btn__image" src="/img/download-btn.svg" alt="benefits icon">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col text-center">
            <div class="press-kit__mascot__title mt-5 mb-3">
              <h2 class="heading__name">
                  Images
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="press-kit__mascot__image-wrapper">
              <img class="img-fluid" src="/img/mascot-images/mascot-101.png" alt="benefits icon">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <div class="press-kit__mascot__download-btn download-btn mt-4 mb-5">
              <a class="download-btn__link" href="/press-kit/Tardigrade-Images.zip">
                <span class="download-btn__text">
                    Download Images Kit
                </span>
  							<img class="img-fluid download-btn__image" src="/img/download-btn.svg" alt="benefits icon">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
