<div class="container-fluid">
  <div class="container">
    {{ with .Site.GetPage "pressHeading.md" }}
      <div class="spacer125"></div>
      <div class="row">
        <div class="col mb-5 text-center">
          <h2 class="press-kit__news__title mb-4" >{{.Title}}</h2>
        </div>
      </div>
    {{end}}
    <div class="row">
      <div class="col-lg-2 press-kit__news__years-wrapper">
        <ul class="press-kit__news__years-list">
          <li class="press-kit__news__ear active">2019</li>
          <li class="press-kit__news__ear">2018</li>
          <li class="press-kit__news__ear">2017</li>
          <li class="press-kit__news__ear">2016</li>
          <li class="press-kit__news__ear">2015</li>
          <li class="press-kit__news__ear">2014</li>
        </ul>
      </div>
      <div class="col-lg-10 press-kit__news__mobile-article-group">
        {{range where .Site.Pages ".Params.class" "newPressArticle"}}
         <div class="row press-kit__news__article">
           <div class="col-lg-9">
             <h4 class="press-kit__news__article-name"><a href="{{.Params.link}}" target="_blank" class="press-kit__news__article-name-link">{{.Params.articleName}}</a></h4>
           </div>
           <div class="col-lg-3">
             <span class="press-kit__news__press-source">{{.Params.publishedBy}}</span>
           </div>
           <div class="col-lg-12">
             <p class="press-kit__news__press-date">{{ dateFormat "January 2, 2006" .Params.publishdate }}</p>
           </div>
           <div class="spacer30"></div>
         </div>
       {{end}}
         {{range where .Site.Pages ".Params.class" "pressArticle"}}
          <div class="row press-kit__news__article">
            <div class="col-lg-9">
              <h4 class="press-kit__news__article-name"><a href="{{.Params.link}}" target="_blank" class="press-kit__news__article-name-link">{{.Params.articleName}}</a></h4>
            </div>
            <div class="col-lg-3">
              <span class="press-kit__news__press-source">{{.Params.publishedBy}}</span>
            </div>
            <div class="col-lg-12">
              <p class="press-kit__news__press-date">{{  .Params.publishedOn }}</p>
            </div>
            <div class="spacer30"></div>
          </div>
        {{end}}

      </div>
      <div class="col-lg-10 2019 press-kit__news__desktop-article-group current-year">
        {{range where .Site.Pages ".Params.class" "newPressArticle"}}
         <div class="row press-kit__news__article">
           <div class="col-lg-9">
             <h4 class="press-kit__news__article-name"><a href="{{.Params.link}}" target="_blank" class="press-kit__news__article-name-link">{{.Params.articleName}}</a></h4>
           </div>
           <div class="col-lg-3">
             <span class="press-kit__news__press-source">{{.Params.publishedBy}}</span>
           </div>
           <div class="col-lg-12">
             <p class="press-kit__news__press-date">{{ dateFormat "January 2, 2006" .Params.publishdate }}</p>
           </div>
           <div class="spacer30"></div>
         </div>
       {{end}}
       {{range where .Site.Pages ".Params.class" "pressArticle"}}
         {{ if in .Params.publishedOn "2019" }}
           <div class="row press-kit__news__article">
             <div class="col-lg-9">
               <h4 class="press-kit__news__article-name"><a href="{{.Params.link}}" target="_blank" class="press-kit__news__article-name-link">{{.Params.articleName}}</a></h4>
             </div>
             <div class="col-lg-3">
               <span class="press-kit__news__press-source">{{.Params.publishedBy}}</span>
             </div>
             <div class="col-lg-12">
               <p class="press-kit__news__press-date">{{.Params.publishedOn}}</p>
             </div>
             <div class="spacer30"></div>
           </div>
        {{end}}
      {{end}}
    </div>
    <div class="col-lg-10 2018 press-kit__news__desktop-article-group">
      {{range where .Site.Pages ".Params.class" "pressArticle"}}
        {{ if in .Params.publishedOn "2018" }}
          <div class="row press-kit__news__article">
            <div class="col-lg-9">
              <h4 class="press-kit__news__article-name"><a href="{{.Params.link}}" target="_blank" class="press-kit__news__article-name-link">{{.Params.articleName}}</a></h4>
            </div>
            <div class="col-lg-3">
              <span class="press-kit__news__press-source">{{.Params.publishedBy}}</span>
            </div>
            <div class="col-lg-12">
              <p class="press-kit__news__press-date">{{.Params.publishedOn}}</p>
            </div>
            <div class="spacer30"></div>
          </div>
        {{end}}
      {{end}}
    </div>
    <div class="col-lg-10 2017 press-kit__news__desktop-article-group">
      {{range where .Site.Pages ".Params.class" "pressArticle"}}
        {{ if in .Params.publishedOn "2017" }}
          <div class="row press-kit__news__article">
            <div class="col-lg-9">
              <h4 class="press-kit__news__article-name"><a href="{{.Params.link}}" target="_blank" class="press-kit__news__article-name-link">{{.Params.articleName}}</a></h4>
            </div>
            <div class="col-lg-3">
              <span class="press-kit__news__press-source">{{.Params.publishedBy}}</span>
            </div>
            <div class="col-lg-12">
              <p class="press-kit__news__press-date">{{.Params.publishedOn}}</p>
            </div>
            <div class="spacer30"></div>
          </div>
        {{end}}
      {{end}}
    </div>
    <div class="col-lg-10 2016 press-kit__news__desktop-article-group">
    {{range where .Site.Pages ".Params.class" "pressArticle"}}
      {{ if in .Params.publishedOn "2016" }}
        <div class="row press-kit__news__article">
          <div class="col-lg-9">
            <h4 class="press-kit__news__article-name"><a href="{{.Params.link}}" target="_blank" class="press-kit__news__article-name-link">{{.Params.articleName}}</a></h4>
          </div>
          <div class="col-lg-3">
            <span class="press-kit__news__press-source">{{.Params.publishedBy}}</span>
          </div>
          <div class="col-lg-12">
            <p class="press-kit__news__press-date">{{.Params.publishedOn}}</p>
          </div>
          <div class="spacer30"></div>
        </div>
      {{end}}
    {{end}}
    </div>
    <div class="col-lg-10 2015 press-kit__news__desktop-article-group">
      {{range where .Site.Pages ".Params.class" "pressArticle"}}
        {{ if in .Params.publishedOn "2015" }}
          <div class="row press-kit__news__article">
            <div class="col-lg-9">
              <h4 class="press-kit__news__article-name"><a href="{{.Params.link}}" target="_blank" class="press-kit__news__article-name-link">{{.Params.articleName}}</a></h4>
            </div>
            <div class="col-lg-3">
              <span class="npress-kit__news-ress-source">{{.Params.publishedBy}}</span>
            </div>
            <div class="col-lg-12">
              <p class="press-kit__news__press-date">{{.Params.publishedOn}}</p>
            </div>
            <div class="spacer30"></div>
        </div>
        {{end}}
      {{end}}
    </div>
    <div class="col-lg-10 2014 press-kit__news__desktop-article-group">
      {{range where .Site.Pages ".Params.class" "pressArticle"}}
        {{ if in .Params.publishedOn "2014" }}
          <div class="row press-kit__news__article">
            <div class="col-lg-9">
              <h4 class="press-kit__news__article-name"><a href="{{.Params.link}}" target="_blank" class="press-kit__news__article-name-link">{{.Params.articleName}}</a></h4>
            </div>
            <div class="col-lg-3">
              <span class="press-kit__news__press-source">{{.Params.publishedBy}}</span>
            </div>
            <div class="col-lg-12">
              <p class="press-kit__news__press-date">{{.Params.publishedOn}}</p>
            </div>
            <div class="spacer30"></div>
          </div>
        {{end}}
      {{end}}
    </div>
    <div class="spacer30"></div>
    <div id="loadMore">
      <button class="btn btn-outline-primary btn-lg">Load More</button>
    </div>
    <div class="spacer125"></div>
  </div>
</div>
</div>

<script type="text/javascript">

  $(document).ready(function(){

    //grab first four articles of currently active year
    $(".current-year .press-kit__news__article").slice(0, 4).css("display", "flex");

    $("#loadMore").click(function(e){ // click event for load more
      e.preventDefault();
      if($(".current-year .press-kit__news__article:hidden").length !== 0){ // check if any hidden divs still exist
        $(".current-year .press-kit__news__article:hidden").slice(0, 4).css("display", "flex");
      } else if($(".current-year .press-kit__news__article:hidden").length === 0){
        $("#loadMore").hide()
      }
    });


    // active timeline year logic
    $(".press-kit__news__ear").click(function(e){

      e.preventDefault();
      // grabbing year of clicked element
      var year = $(event.target).text()

      $(".active").removeClass('active')
      $(e.target).addClass('active')
      $(".current-year").removeClass('current-year')
      $("." + year).addClass('current-year')
      $(".current-year .press-kit__news__article").slice(0, 4).css("display", "flex");

      if($(".current-year .press-kit__news__article:hidden").length > 0){
        $("#loadMore").show()
      } else if($(".current-year .press-kit__news__article:hidden").length === 0){
        $("#loadMore").hide()
      }
    });

    // if there're no more articles, hide load more btn
    if($(".current-year .press-kit__news__article:hidden").length === 0){
      $("#loadMore").hide()
    }

    // mobile load more logic
    $(".press-kit__news__mobile-article-group .press-kit__news__article").slice(0, 4).css("display", "flex");

    $("#loadMore").click(function(e){ // click event for load more
      e.preventDefault();
      if($(".press-kit__news__mobile-article-group .press-kit__news__article:hidden").length !== 0){ // check if any hidden divs still exist
        $(".press-kit__news__mobile-article-group .press-kit__news__article:hidden").slice(0, 4).css("display", "flex");
      } else if($(".press-kit__news__mobile-article-group .press-kit__news__article:hidden").length === 0){
        $("#loadMore").hide()
      }
    });


  })


</script>
