{{ with .Site.GetPage "encFiles" }}
<div class="encFiles">
	<div class="spacer125"></div>
  <div class="container">
    <div class="row">
      <div class="encFiles__image-wrapper col-sm-6 col-md-6 col-lg-6">
				<div class="spacer125"></div>
				<img class="encFiles__image" alt="Retrieve Image" src="{{ .Params.img }}" />
      </div>
	    <div class="encFiles__text-section col-sm-5 col-md-5 col-lg-5 ">
				<h2 class="hiw-header">
				{{ replace .Params.header "\n" "<br/>" | safeHTML}}
				</h2>
				<div class="spacer20"></div>
				<p class="hiw-text">{{ .Params.text }}</p>
				<div class="spacer60"></div>
				<div class="hiw-dropdown">
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    What is nodes goes offline?
					  </button>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					  </div>
					</div>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							How many pieces to retrieve a file?
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						</div>
					</div>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Is this fast?
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						</div>
					</div>
				</div>
		  </div>
    </div>
  </div>
	<div class="spacer125"></div>
</div>
{{ end }}
