{{ with .Site.GetPage "encFiles" }}
<div class="enc-files">
    <div class="spacer125"></div>
    <div class="container">
        <div class="row">
            <div class="enc-files__image-wrapper hiw__image-wrapper col-sm-12 col-md-12 col-lg-6">
                <div class="spacer125"></div>
                <img class="enc-files__image" alt="Retrieve Image" src="{{ .Params.img }}" />
            </div>
            <div class="enc-files__text-section col-sm-12 col-md-12 col-lg-5 ">
                <p class="badge badge-primary">2</p>
                <h2 class="hiw-header">
                    {{ replace .Params.header "\n" "<br/>" | safeHTML}}
                </h2>
                <div class="spacer20"></div>
                <p class="hiw-text">{{ .Params.text }}</p>
                <div class="spacer60"></div>
                <div class="hiw-dropdown accordion" id="encFilesAccordion">
                    {{range where .Site.Pages ".Params.class" "enc-files"}}
										<div class="card">
											<div class="card-header">
												<h2 class="mb-0">
													<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#{{.Params.id}}" aria-expanded="false" aria-controls="{{.Params.id}}">
									          {{.Params.button}}
														<img class="arrow" alt="dropdown arrow" src="/img/dropdown-arrow.svg" />
									        </button>
												</h2>
											</div>
											<div class="collapse" id="{{.Params.id}}">
													<div class="card card-body">
															{{.Params.text}}
													</div>
											</div>
										</div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
    <div class="spacer125"></div>
</div>
{{ end }}
