{{ with .Site.GetPage "encLocally" }}
<div class="encLocally">
	<div class="spacer125"></div>
  <div class="container">
    <div class="row mt-5">
      <div class="encLocally__text-wrapper col-sm-6 col-md-6 col-lg-6  use-case__list">
				<h2 class="hiw-header use-case__top-heading">
				{{ replace .Params.header "\n" "<br/>" | safeHTML}}
				</h2>
				<div class="spacer20"></div>
				<p class="hiw-text">{{ .Params.text }}</p>
				<div class="spacer60"></div>
				<div class="hiw-dropdown">
					<div class="dropdown">
						<button
							data-toggle="collapse"
							href="#encLocallyOne"
							role="button"
							aria-expanded="false"
							aria-controls="encLocallyOne"
							class="btn btn-secondary"
							type="button"
							id="dropdownMenuButton"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							What is nodes goes offline?
						</button>
						<div class="collapse" id="encLocallyOne">
						  <div class="card card-body">
						    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
						  </div>
						</div>
					</div>
					<div class="dropdown">
						<button
							data-toggle="collapse"
							href="#encLocallyTwo"
							role="button"
							aria-expanded="false"
							aria-controls="encLocallyTwo"
							class="btn btn-secondary dropdown-toggle"
							type="button"
							id="dropdownMenuButton"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							How many pieces to retrieve a file?
						</button>
						<div class="collapse" id="encLocallyTwo">
						  <div class="card card-body">
						    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
						  </div>
						</div>
					</div>
					<div class="dropdown">
						<button
							data-toggle="collapse"
							href="#encLocallyThree"
							role="button"
							aria-expanded="false"
							aria-controls="encLocallyThree"
							class="btn btn-secondary dropdown-toggle"
							type="button"
							id="dropdownMenuButton"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>							Is this fast?
						</button>
						<div class="collapse" id="encLocallyThree">
						  <div class="card card-body">
						    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
						  </div>
						</div>
					</div>
				</div>
      </div>
	    <div class="encLocally__image-wrapper col-sm-5 offset-lg-1 col-md-5 offset-md-1 col-lg-5 offset-lg-0">
				<div class="spacer60"></div>
				<img class="encLocally__image" alt="Retrieve Image" src="{{ .Params.img }}" />
		  </div>
    </div>
  </div>
	<div class="spacer125"></div>
</div>
{{ end }}
