{{ with .Site.GetPage "encLocally" }}
<div class="encLocally">
	<div class="spacer125"></div>
  <div class="container">
    <div class="row mt-5">
      <div class="encLocally__text-wrapper col-sm-12 col-md-12 col-lg-6">
				<h2 class="hiw-header">
				{{ replace .Params.header "\n" "<br/>" | safeHTML}}
				</h2>
				<div class="spacer20"></div>
				<p class="hiw-text">{{ .Params.text }}</p>
				<div class="spacer60"></div>
				<div class="hiw-dropdown">
					{{range where .Site.Pages ".Params.class" "enc-locally"}}
						<div class="dropdown">
							<button
								data-toggle="collapse"
								href="#{{.Params.id}}"
								role="button"
								aria-expanded="false"
								aria-controls="{{.Params.id}}"
								class="btn btn-secondary"
								type="button"
								id="dropdownMenuButton"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"
							>
								{{.Params.button}}
							</button>
							<img
								class="arrow"
								alt="dropdown arrow"
								src="/img/dropdown-arrow.svg"
								data-toggle="collapse"
								href="#{{.Params.id}}"
								role="button"
								aria-expanded="false"
								aria-controls="{{.Params.id}}"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"
							/>
							<div class="collapse" id="{{.Params.id}}">
								<img
									class="arrow-down"
									alt="dropdown arrow"
									src="/img/dropdown-arrow-down.svg"
									data-toggle="collapse"
									href="#{{.Params.id}}"
									role="button"
									aria-expanded="false"
									aria-controls="{{.Params.id}}"
									data-toggle="dropdown"
									aria-haspopup="true"
									aria-expanded="false"
								/>
								<div class="card card-body">
									{{.Params.text}}
								</div>
							</div>
						</div>
					{{end}}
				</div>
      </div>
	    <div class="encLocally__image-wrapper col-sm-12 offset-lg-1 col-md-5 offset-md-12 col-lg-5 offset-lg-0">
				<div class="spacer60"></div>
				<img class="encLocally__image" alt="Retrieve Image" src="{{ .Params.img }}" />
		  </div>
    </div>
  </div>
	<div class="spacer125"></div>
</div>
{{ end }}
