{{ with .Site.GetPage "experience" }}
<div class="partner__virtuous-cycle container-fluid">
    <div class="partner__virtuous-cycle-wrapper row d-flex flex-column justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center text-center p-5">
            <h4>
							{{ replace .Params.header "\n" "<br/>" | safeHTML}}
            </h4>
            <div class="pt-5 clear">
                <a href="{{ .Params.ctaLink }}">
                    <button class="partner__virtuous-cycle-btn btn-signup font-weight-bold">
                        {{ .Params.cta }}
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{{end}}
