{{ with .Site.GetPage "hiwHero" }}
<div class="hiw-hero container-fluid">
	<div id="blackBg">
		<div class="container">
			<div class="spacer20"></div>
			{{ partial "nav" .}}
			<div class="spacer60"></div>
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-8 col-sm-10 col-12">
					<div class="embed-responsive embed-responsive-16by9 hiw-hero__video-wrapper mb-4">
					  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RtyBjWmbePQ" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="hiw-hero__content-wrapper d-flex flex-column justify-content-center align-items-center text-center p-5 mt-2">
				<h4 class="hiw-header">
					{{ replace .Params.header "\n" "<br/>" | safeHTML}}
				</h4>
				<div class="hiw-hero__text-wrapper">
					<p>	{{ .Params.text }} </p>
				</div>
				<a href="#encLocally" class="hiw-hero__learn-more-wrapper text-center mt-5">
					<span class="hiw-hero__learn-more-text">Learn More</span>
					<img class="hiw-hero__learn-more-icon" alt="arrow down" src="/img/arrow-down.svg" />
				</a>
			</div>
		</div>
	</div>
</div>
{{end}}
