{{ with .Site.GetPage "reinventing" }}
<div class="reinventing">
	<div class="spacer125"></div>
	<div class="container">
		<div class="row">
			<div class="reinventing__image-wrapper col-sm-12 col-md-12 col-lg-6">
				<img class="reinventing__image img-fluid" alt="Storj Network Diagram" src="{{ .Params.img }}" />
			</div>
			<div class="reinventing__text-section col-sm-12 offset-lg-1 col-md-12 col-lg-5">
				<h2 class="hiw-header">
					{{ replace .Params.header "\n" "<br/>" | safeHTML}}
				</h2>
				<div class="spacer20"></div>
				<p class="hiw-text">{{ .Params.text }}</p>
			</div>
		</div>
	</div>
	<div class="spacer125"></div>
</div>
{{ end }}
