{{ with .Site.GetPage "reinventing" }}

<div class="use-case">

  <div class="container">

    <div class="row mt-5">
      <div class="col-sm-6 col-md-6 col-lg-6  use-case__list">
				<img alt="Storj Network Diagram" src="{{ .Params.img }}" />
      </div>
	    <div class="col-sm-5 offset-lg-1 col-md-5 offset-md-1 col-lg-5 offset-lg-0 large-content">
				<h2 class="mt-5 use-case__top-heading">
				{{ replace .Params.header "\n" "<br/>" | safeHTML}}
				</h2>
				<div class="spacer30"></div>
				<p>{{ .Params.text }}</p>
		  </div>
    </div>

  </div>
</div>
{{ end }}
