{{ with .Site.GetPage "reinventing" }}
<div class="reinventing">
	<div class="spacer125"></div>
  <div class="container">
    <div class="row">
      <div class="reinventing__image-wrapper col-sm-6 col-md-6 col-lg-6">
				<img class="reinventing__image" alt="Storj Network Diagram" src="{{ .Params.img }}" />
      </div>
	    <div class="reinventing__text-section col-sm-5 offset-lg-1 col-md-5 offset-md-1 col-lg-5 large-content">
				<h2 class="hiw-header">
				{{ replace .Params.header "\n" "<br/>" | safeHTML}}
				</h2>
				<div class="spacer20"></div>
				<p class="hiw-text">{{ .Params.text }}</p>
		  </div>
    </div>
  </div>
	<div class="spacer125"></div>
</div>
{{ end }}
