{{ with .Site.GetPage "retrieve" }}
<div class="retrieve">
	<div class="spacer125"></div>
  <div class="container">
    <div class="row">
      <div class="retrieve__image-wrapper col-sm-6 col-md-6 col-lg-6">
				<div class="spacer60"></div>
				<img class="retrieve__image" alt="Retrieve Image" src="{{ .Params.img }}" />
      </div>
	    <div class="retrieve__text-wrapper col-sm-5 offset-lg-1 col-md-5 offset-md-1 col-lg-5 offset-lg-0">
				<h2 class="hiw-header">
				{{ replace .Params.header "\n" "<br/>" | safeHTML}}
				</h2>
				<div class="spacer20"></div>
				<p class="hiw-text">{{ .Params.text }}</p>
				<div class="spacer60"></div>
				<div class="hiw-dropdown">
					<div class="dropdown">
						<button
							data-toggle="collapse"
							href="#retrieveOne"
							role="button"
							aria-expanded="false"
							aria-controls="retrieveOne"
							class="btn btn-secondary"
							type="button"
							id="dropdownMenuButton"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							What is nodes goes offline?
					  </button>
						<img class="arrow" alt="dropdown arrow" src="/img/dropdown-arrow.svg" />
						<div class="collapse" id="retrieveOne">
							<img class="arrow-down" alt="dropdown arrow" src="/img/dropdown-arrow-down.svg" />
							<div class="card card-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
							</div>
						</div>
					</div>
					<div class="dropdown">
						<button
							data-toggle="collapse"
							href="#retrieveTwo"
							role="button"
							aria-expanded="false"
							aria-controls="retrieveTwo"
							class="btn btn-secondary"
							type="button"
							id="dropdownMenuButton"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							How many pieces to retrieve a file?
						</button>
						<img class="arrow" alt="dropdown arrow" src="/img/dropdown-arrow.svg" />
						<div class="collapse" id="retrieveTwo">
							<img class="arrow-down" alt="dropdown arrow" src="/img/dropdown-arrow-down.svg" />
							<div class="card card-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
							</div>
						</div>
					</div>
					<div class="dropdown">
						<button
							data-toggle="collapse"
							href="#retrieveThree"
							role="button"
							aria-expanded="false"
							aria-controls="retrieveThree"
							class="btn btn-secondary"
							type="button"
							id="dropdownMenuButton"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							Is this fast?
						</button>
						<img class="arrow" alt="dropdown arrow" src="/img/dropdown-arrow.svg" />
						<div class="collapse" id="retrieveThree">
							<img class="arrow-down" alt="dropdown arrow" src="/img/dropdown-arrow-down.svg" />
							<div class="card card-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
							</div>
						</div>
					</div>
				</div>
		  </div>
    </div>
  </div>
	<div class="spacer125"></div>
</div>
{{ end }}
