{{ with .Site.GetPage "whyBetter" }}
<div class="why-better">
	<div class="spacer125"></div>
	<div class="container">
		<h2 class="hiw-header text-center">
			{{ replace .Params.header "\n" "<br/>" | safeHTML}}
		</h2>
		<div class="spacer30"></div>
		<table class="why-better__table">
			<tr class="why-better__table__row">
				<th class="why-better__table__heading"></th>
				<th class="why-better__table__heading traditional">Traditional</th>
				<th class="why-better__table__heading decentralized">Tardigrade</th>
			</tr>
			<tr class="why-better__table__row">
				<td class="why-better__table__title">No-Single Point of Failure</td>
				<td class="why-better__table__title"><img alt="check icon" class="why-better__table__icon" src="/img/table-exit.svg" /></td>
				<td class="why-better__table__title"><img alt="check icon" class="why-better__table__icon" src="/img/table-check.svg" /></td>
			</tr>
			<tr class="why-better__table__row">
				<td class="why-better__table__title">Secure by Default</td>
				<td class="why-better__table__title"><img alt="check icon" class="why-better__table__icon" src="/img/table-exit.svg" /></td>
				<td class="why-better__table__title"><img alt="check icon" class="why-better__table__icon" src="/img/table-check.svg" /></td>
			</tr>
			<tr class="why-better__table__row">
				<td class="why-better__table__title">Affordable</td>
				<td class="why-better__table__title"><img alt="check icon" class="why-better__table__icon" src="/img/table-exit.svg" /></td>
				<td class="why-better__table__title"><img alt="check icon" class="why-better__table__icon" src="/img/table-check.svg" /></td>
			</tr>
			<tr class="why-better__table__row">
				<td class="why-better__table__title">More Durable</td>
				<td class="why-better__table__title"><img alt="check icon" class="why-better__table__icon" src="/img/table-exit.svg" /></td>
				<td class="why-better__table__title"><img alt="check icon" class="why-better__table__icon" src="/img/table-check.svg" /></td>
			</tr>
		</table>
	</div>
	<div class="spacer125"></div>
</div>
{{ end }}
