<div class="lite-gray-bg container-fluid satellites-verify">
  <div class="container">
    <div class="satellites-verify__content-wrapper">
			<div class="satellites-verify__content">
				<h1 class="satellites-verify__msg">Got it!</h1>
				<p class="satellites-verify-txt">Check your email for next steps.</p>
				<a class="satellites-verify__cta" href="/community">
          Sign In <img class="mb-1" src="/img/blue-carrot.svg" height="13" width="13"/>
        </a>
				<div class="satellites-verify__btm__wrapper">
					<p class="satellites-verify__btm__txt">Didn't recieve the email?</p>
					<a class="satellites-verify__btm__txt link" href="">Contact our support team</a>
				</div>
			</div>
      <div class="satellites-verify__mascot">
				<img src="/img/verify-mascot.png" />
      </div>
    </div>
  </div>
  <div class="spacer125"></div>
</div>
