<div class="container-fluid satellites-verify">
  <div class="container">
    <div class="satellites-verify__content-wrapper">
			<div class="satellites-verify__content">
				<h2 class="satellites-verify__header">Got it!</h2>
				<p class="satellites-verify__txt">Check your email for next steps.</p>
				<a class="satellites-verify__cta" href="/community">
          Sign In <img class="satellites-verify__cta__arrow" src="/img/arrow-right.svg" height="13" width="13"/>
        </a>
				<div class="satellites-verify__btm__wrapper">
					<p class="satellites-verify__btm__txt">Didn't recieve the email?</p>
					<a class="satellites-verify__btm__txt link" target="_blank" href="https://support.tardigrade.io/hc/en-us">Contact our support team</a>
				</div>
			</div>
      <div class="satellites-verify__mascot">
				<img class="satellites-verify__mascot__img" src="/img/verify-mascot.png" />
      </div>
    </div>
  </div>
</div>
