<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    {{ partial "banner" .}}
    <div class="waitlist__container">
      <div class="spacer30"></div>
      <div class="container">
          <div>
            {{partial "nav" .}}
          </div>
      </div>
      <div class="waitlist__content">
        {{ partial "waitlist/main" .}}
      </div>
    </div>

    <footer>
        {{partial "footer" . }}
    </footer>

    {{partial "site-scripts" .}}
  </body>
</html>
<script type="text/javascript">
  window.onload = function() {
    var button = document.getElementById("test")
    button.onclick = function () {
      analytics.identify(analytics.user().anonymousId(), {email: "test@test.com"}, {}, function() {
        analytics.track("developer_sign_up", {});
      });
    }
  }
</script>