<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}
</head>

<body class="page">

    {{ partial "banner" .}}

    <div  class="container-fluid pt-3 pb-1 storj-blu-bg">
        <div class="container">
        {{ partial "nav"  .}}
        </div>
        <div class="container-fluid pt-3 d-xs-block d-lg-none storj-blu-bg"></div>
    </div>

    <div class="mb-5 p-1 text-center subscribe-flow">
        {{partial "almost-there/main" .}}
    </div>

    <footer class="fixed-bottom">
        {{partial "footer" . }}
    </footer>

    {{partial "site-scripts" .}}
</body>
</html>
