<div class="container-fluid community_events_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 text-center">
                <div class="spacer125"></div>
                <h1 class="community_events_heading">Past Events</h1>
                <div class="spacer30"></div>
                <!-- <p class="community_events_subheading">Interested in learning more about Tardigrade? Come chat with us at these upcoming events. We also sponsor community members interested planning meetups, events, or those wanting to demo their Tardigrade projects.</p>
                <div class="spacer55"></div> -->
            </div>
        </div>
      </div>
      <div class="container-lg">
        <div class="community_events_table">
        {{range where (.Site.Pages).Reverse.ByPublishDate ".Params.class" "event"}}
            <div class="row py-3">
                <div class="col-5 col-sm-6 col-md-4">
                    <p class="community_events_name">{{.Params.name}}</p>
                </div>
                <div class="col-md-3 d-none d-md-block">
                    <p class="community_events_data">{{.Params.location}}</p>
                </div>
                <div class="col-4 col-sm-4 col-md-3">
                    <p class="community_events_data">{{.Params.when}}</p>
                </div>
                <div class="col-2 col-sm-2 col-md-2">
                    <a href="{{.Params.link}}">
                        <span class="d-none d-md-block community_events_link">Learn More</span>
                        <img class="community_main_chevron_right d-sm-block d-md-none" src="/img/chevron-right-grey.png"/>
                    </a>
                </div>
            </div>
            <div class="row">
              <hr class="community_events_divider">
            </div>
        {{end}}
        </div>
      </div>
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <p class="community_events_bottom_heading mb-3">Got a Meetup You’re Trying to Nurture?</p>
            <p>Ask about sponsorships at
                <a class="community_events_bottom_cta" href="mailto:ask@storj.io">ask@storj.io</a>
            </p>
          </div>
        </div>
        <div class="spacer125"></div>
    </div>
</div>
