<div class="container-fluid community_events_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 text-center">
                <div class="spacer125"></div>
                <h1 class="community_events_heading">Past Events</h1>
                <div class="spacer30"></div>
                <!-- <p class="community_events_subheading">Interested in learning more about Tardigrade? Come chat with us at these upcoming events. We also sponsor community members interested planning meetups, events, or those wanting to demo their Tardigrade projects.</p>
                <div class="spacer55"></div> -->
            </div>
        </div>
            <div class="community_events_table container">
            <div class="spacer30"></div>
            {{range where (.Site.Pages).Reverse.ByPublishDate ".Params.class" "event"}}
                <div class="row community_events_data text-center">
                    <div class="col col-md-3 community_events_name">{{.Params.name}}</div>
                    <div class="col-md-3 community_events_data d-none d-md-block">{{.Params.location}}</div>
                    <div class="col col-md-3 community_events_data">{{.Params.when}}</div>
                    <div class="col col-md-3">
                        <a href="{{.Params.link}}">
                            <p class="d-none d-md-block community_events_link">Learn More</p>
                            <img class="community_main_chevron_right d-sm-block d-md-none" src="/img/chevron-right-grey.png"/>
                        </a>
                    </div>
                </div><hr class="community_events_divider">
            {{end}}
            </div>
            <div class="spacer125"></div>
            <span class="text-center">
                <p class="community_events_bottom_heading">Got a Meetup You’re Trying to Nurture?</p>
                <p>Ask about sponsorships at
                    <a class="community_events_bottom_cta" href="mailto:ask@storj.io">ask@storj.io</span>
                </p>
            </span>
            <div class="spacer125"></div>
        </div>
    </div>
</div>
