<div class="container-fluid community_hero_bg">
    <div  class="container">
        <div class="spacer20"></div>
        {{partial "nav" .}}
        <div class="row">
            <div class="spacer125 d-none d-lg-block"></div>
            <div class="spacer30 d-lg-none"></div>
            {{with .Site.GetPage "communityHero" }}
            <div class="col-12 col-lg-6">
                <span class="community_hero_mobile_adjust">
                    <div class="spacer20"></div>
                    <p class="community_hero_heading" >
                        {{.Params.heading}}
                    </p>
                    <div class="spacer20"></div>
                    <p class="community_hero_subheading">
                        {{.Params.subheading}}
                    </p>
                    <div class="spacer20"></div>
                    <div class="col-12 nomp d-none d-lg-block">
                        <a href="{{.Params.ctaLink}}" class="btn btn-primary btn-lg mt-3">
                            {{.Params.ctaText}}
                        </a>
                    </div>
                </span>
                <div class="spacer125"></div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <img class="community_hero_img img-responsive" src="{{.Params.img}}">
            </div>
            <div class="col-12 text-center nomp d-sm-block d-md-none">
                    <a href="{{.Params.ctaLink}}" class="btn btn-primary btn-lg">
                        {{.Params.ctaText}}
                    </a>
                    <div class="spacer125"></div>
                </div>
            {{end}}
        </div>
    </div>
</div>
