<div class="container">
    <div class="spacer125"></div>
        <div class="row text-center">
        {{ range where .Site.Pages ".Params.class" "communitySectionBox" }}
        <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="community_main_box_top">
            <img src="{{.Params.img}}" width="70" height="70">
            <div class="spacer20"></div>
            <h3 class="community_main_heading">{{.Params.heading}}</h3>
            <p class="community_main_subheading">{{.Description}}</p>
            <div class="spacer20"></div>
        </div>
            <div class="row">
                <div class="col">
                    <a href="{{.Params.ctaLink}}" class="community_main_cta">
                      {{.Params.ctaText}}
                      <img src="/img/blue-carrot.svg" height="20" class="ml-2" alt="Right arrow"/>
                    </a>
                </div>
            </div>
            <div class="spacer125"></div>
        </div>
        {{end}}
    </div>
</div>
