<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}
</head>

<body class="page">
    {{ partial "banner" .}}
    {{partial "tech-partner/headline" .}}
    <div class="partner__single-partners container-fluid">
        <div class="row d-flex justify-content-center">
            {{partial "tech-partner/partners" .}}
        </div>
    </div>

    <div class="partner__single-benefits">
        {{partial "tech-partner/benefits" .}}
    </div>

    <div class="partner__single-virtuous-cycle">
        {{partial "tech-partner/virtuous-cycle" .}}
    </div>

    <footer>
        {{partial "footer" . }}
    </footer>

    {{partial "site-scripts" .}}
</body>
</html>
