<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}
</head>

<body class="page">
    <div class="tech-partner__heading">
      {{ partial "banner" .}}
      <div class="tech-partner__headline">
        {{partial "tech-partner/headline" .}}
      </div>
    </div>
    <div class="tech-partner__partnership-types">
      {{partial "tech-partner/partnership-types" .}}
    </div>

    <div class="tech-partner__why">
        {{partial "tech-partner/why" .}}
    </div>

    <div class="tech-partner__who">
        {{partial "tech-partner/who" .}}
    </div>

    <div class="tech-partner__more-benefits">
      {{partial "tech-partner/more" .}}
    </div>

    <footer>
        {{partial "footer" . }}
    </footer>

    {{partial "site-scripts" .}}
</body>
</html>

<script type="text/javascript">

	var heroBg = document.getElementById("heroBg");

	function callback(mutationsList) {
    mutationsList.forEach(mutation => {
        if (mutation.target.className.includes("show")) {
            heroBg.style.height = "970px"
        } else {
					heroBg.style.height = "850px"
				}
    })
	}

	const mutationObserver = new MutationObserver(callback)

	mutationObserver.observe(
	    document.getElementById('navbarToggler'),
	    { attributes: true }
	)

</script>
