<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-10 col-md-6 text-center pt-5">
            <h2 class="mb-4">Thanks for Trying Tardigrade</h2>
            <p>Get started using decentralized cloud storage. Check your an email confirmation in 2-3 business days when 1 TB has been added to your account.</p>
            <div class="row">
              <div class="col">
                <a href="/login/" class="btn btn-primary btn-lg mt-4">Sign In <img src="/img/arrow-right.svg" class="ml-2" alt="Arrow Right"></a>
              </div>
            </div>
            <img src="/img/mascot-3d-hello.svg" class="mt-5 pt-5" alt="Tardigrade Mascot"/>
        </div>
    </div>
</div>
