<div class="bg-light">
  <div class="container pb-5">
    <div class="row py-5">
      {{with .Site.GetPage "how" }}
      <div class="col-10 offset-1 col-sm-8 offset-sm-2 offset-md-0 col-md-6 col-lg-4 mb-5">
        <img src="/img/tar-about-cloud.png" alt="Cloud icon" class="img-fluid mt-2">
      </div>
      <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-6 offset-lg-1 mb-5">
          <h3 class="mb-4">{{.Params.heading}}</h3>
          <p class="lh-2">{{.Params.subheading}}</p>
      </div>
      {{end}}
    </div>
  </div>
</div>
