<div class="container py-5">
    <div class="row text-center my-4">
      <div class="col">
        {{with .Site.GetPage "leadership" }}
        <h3 class="mt-4">{{.Params.title}}</h3>
      </div>
    </div>
    <div class="row">
        {{ range where .Site.Pages ".Params.class" "leadership" }}
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="card bg-light text-center py-2 my-3 border-0 rounded-xl">
            <div class="card-body">
              <img src="{{.Params.headshot}}" class="border border-white rounded-circle mx-auto mb-4" width="140" height="140">
              <h4 class="card-title">{{.Params.name}}</h4>
              <p class="card-text">{{.Params.position}}</p>
            </div>
          </div>
        </div>
        {{end}}
    </div>
    <div class="row text-center my-5">
        <div class="col">
              <h4 class="mb-4">{{.Params.ctaHeadline}}</h4>
              <a href="{{.Params.ctaLink}}" class="btn btn-outline-primary btn-lg">{{.Params.ctaText}}</a>
            {{end}}
        </div>
    </div>
</div>
