{{ with .Site.GetPage "headline"}}
<div class="partner__headline container-fluid">
    <div class="partner__headline-wrapper d-flex flex-row">
           <div class="partner__headline-logo-wrapper p-2 d-flex justify-content-end align-items-center">
                <img class="partner__headline-logo-img" src="{{ .Params.img }}" alt="open sourc icon">
           </div>
           <div class="partner__headline-description-wrapper p-2 d-flex flex-column justify-content-center text-white">
               <h1 class="partner__headline-description-title">
                    {{ replace .Params.heading "\n" "<br/>" | safeHTML}}
               </h1>
               <div class="partner__headline-description-content">
                    <span>{{ replace .Params.content "\n" "<br/>" | safeHTML}}</span>
               </div>
           </div>
        </div>
    </div>
</div>
{{end}}