{{ with .Site.GetPage "headline"}}
<div class="partner__headline container-fluid">
     <div class="spacer30"></div>
     <div class="container">
          <div>
               {{partial "nav" .}}
          </div>
     </div>
    <div class="partner__headline-wrapper row">
           <div class="partner__headline-logo-wrapper p-2 offset-sm-3 col-6 offset-3 col-sm-3 col-xl-2 order-2 order-sm-1">
                <img class="partner__headline-logo-img img-fluid" src="{{ .Params.img }}" alt="open sourc icon">
           </div>
           <div class="partner__headline-description-wrapper mt-lg-5 offset-1 offset-sm-1 col-sm-4 col-10 d-flex flex-column text-white order-1 order-sm-2">
               <h1 class="partner__headline-description-title">
                    {{ replace .Params.heading "\n" "<br/>" | safeHTML}}
               </h1>
               <div class="partner__headline-description-content">
                    <span>{{ replace .Params.content "\n" "<br/>" | safeHTML}}</span>
               </div>
           </div>
     </div>
</div>
{{end}}