{{ with .Site.GetPage "virtuous-cycle" }}
<div class="partner__virtuous-cycle container-fluid">
    <div class="partner__virtuous-cycle-wrapper row d-flex flex-column justify-content-center">
        <div class="partner__virtuous-cycle-header pb-5 row offset-sm-1 m-0">
            <div class="partner__virtuous-cycle-header-icon text-center offset-md-2 col-md-4 col-lg-3 mb-5">
                <img class="img-fluid" src="{{ .Params.img }}" alt="virtuous cycle icon">
            </div>
            <div class="partne__virtuous-cycle-heading-content offset-md-1 offset-sm-4 offset-md-1 col-sm-4 col-12">
                <h2>
                    {{ replace .Params.heading "\n" "<br/>" | safeHTML}}
                </h2>
                <br />
                <p>
                        {{ replace .Params.subheading "\n" "<br/>" | safeHTML}}
                </p>
            </div>
        </div>
        <div class="pt-5 row text-center offset-md-1 offset-1 col-10">
            {{ range where .Site.Pages ".Params.class" "virtuous-cycle"}}
                <div class="partner__virtuous-cycle-icon-wrapper col-md-3 mb-5 mt-5 text-center">
                    <img class="img-fluid" src="{{ .Params.img }}" alt="virtuous cycle icon">
                    <div class="pt-3">
                        <h4>
                            {{ .Params.heading }}
                        </h4>
                        <p>
                            {{ .Params.content }}
                        </p>
                    </div>
                </div>
                <div class="partner__virtuous-cycle-icon-arrow col-sm-3 col-md-1 m-auto mr-md-3">
                    <img class="img-fluid" src="/img/next-step-arrow.svg" alt="arrow right">
                </div>
            {{ end }}
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center text-center p-5">
            <div>
                <span>{{ replace .Params.content1 "\n" "<br/>" | safeHTML}}</span>
            </div>
            <div class="pt-5">
                <span>{{ replace .Params.content2 "\n" "<br/>" | safeHTML}}</span>
            </div>
            <div class="pt-5 clear">
                <a href="{{ .Params.btnLink }}">
                    <button class="partner__virtuous-cycle-btn btn-signup font-weight-bold">
                        {{ .Params.btnText }}        
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{{end}}