{{ with .Site.GetPage "covidBottom"}}
  <div class="container-fluid covid__bottom">
    <div class="container">
      <div class="covid__bottom__content-wrapper">
				<div class="covid__bottom__content">
	        <div class="row mb-24">
	          <h1 class="covid__bottom__heading">
	           {{ replace .Params.title "\n" "<br/>" | safeHTML}}
	          </h1>
	        </div>
	        <div class="spacer30"></div>
	        <div class="row">
	          <p class="covid__bottom__text">{{ replace .Params.content "\n" "<br/>" | safeHTML}}</p>
	        </div>
	        <div class="spacer30"></div>
	        <div class="row">
	          <div class="covid__bottom__cta__button-wrapper">
	            <a class="covid__bottom__cta__button-link" href="/partner-form">
	              <button class="covid__bottom__cta__button font-weight-bold">
	                  {{ .Params.cta }}
	              </button>
	            </a>
	          </div>
	        </div>
				</div>
      </div>
			<div class="row">
				<div class="covid__bottom__image-wrapper">
					<img src="{{ .Params.image }}" alt="Tardigrade Mascot" class="covid__bottom__image"/>
				</div>
			</div>
    </div>
  </div>
{{end}}
