<div class="container-fluid covid__questions">
	<div class="container">
		<div class="spacer60"></div>
		<div class="row">
			<div class="text-center mt-5">
				<h2 class="covid__questions__heading">
					Common Questions
				</h2>
			</div>
		</div>
		<div class="row covid__questions__wrapper">
			{{ range where .Site.Pages ".Params.class" "covid-questions"}}
			<div class="col-sm-12 col-lg-6">
				<div class="covid__questions__section-wrapper">
					<h4 class="covid__questions__subheading">
						{{ .Params.question }}
					</h4>
					<p class="covid__questions__content">
						{{ .Content }}
						{{ .Params.answer }}
					</p>
				</div>
			</div>
			{{ end }}
		</div>
		<div class="spacer125"></div>
	</div>
</div>
