{{ $lastUrlElement := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}
{{ $paginator := .Paginate (.Paginator 8).Pages}}
<div class="container-fluid nomp">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-4">
				<aside class="sidebar">
					<section>
						<div class="spacer20"></div>
						{{ partial "connectors/taxonomy" (dict "taxonomy" .Site.Taxonomies.categories "taxonomyname" "categories" "lastUrlElement" $lastUrlElement)}}
					</section>
				</aside>
			</div>
			<div class="col-md-12 col-md-12 col-lg-8 ">
				<div class="connectors__partners__heading">
					<h4 class="connectors__partners__title">More Connectors</h4>
					{{ partial "connectors/dropdown" (dict "lastPage" $paginator.Last "lastUrlElement" $lastUrlElement) }}
				</div>
				<div class="pt-2 row d-flex flex-row connectors__partners__partners">
					{{ range (where ((.Paginator 8).Pages.ByParam "ready").Reverse ".Params.class" "partner") }}
					<div class="connectors__partners__partner col-xs-12 col-lg-6 ">
						{{ if eq .Params.ready false }}
						<p class="connectors__partners__partner__header__ready">
							Coming Soon
						</p>
						{{end}}
						<div class="connectors__partners__partner__wrapper {{ if eq .Params.ready false }}not-ready{{ end }}">
							{{ if .Params.link }}<a class="connectors__partners__partner__link" target="_blank" href="{{ .Params.link }}"> {{ end }}
							<div class="connectors__partners__partner__header">
								<img class="img-fluid connectors__partners__partner__header__image" alt="{{ .Params.name }} logo" src="{{ .Params.img }}" alt="{{ .Params.name }}">
								<h4 class="connectors__partners__partner__header__name">
									{{ .Params.name }}
								</h4>
								{{ if eq .Params.new true }}
								<p class="connectors__partners__partner__header__status">
									New
								</p>
								{{end}}
								{{ if eq .Params.ready false }}
								<p class="connectors__partners__partner__header__ready">
									Coming Soon
								</p>
								{{end}}
							</div>
							<p class="connectors__partners__partner__description">
								{{ .Params.description }}
							</p>
							<div class="connectors__partners__partner__category">
								{{ .Params.categories }}
							</div>
							{{ if eq .Params.community true }}
								<div class="connectors__partners__partner__community">
									Community Sourced
								</div>
							{{ end }}
							{{ if .Params.link }} </a> {{ end }}
						</div>
					</div>
					{{end}}
					<p class="badge">No Results</p>
				</div>
				<div id="loadMore">
					<p class="load-more-btn">Load More</p>
				</div>
			</div>
		</div>
	</div>
</div>
