{{ $lastUrlElement := .lastUrlElement }}
{{ $taxonomy := .taxonomy }}
{{ $taxonomyname := .taxonomyname }}
{{ with $taxonomy }}
<div class="spacer30"></div>
<h4 class="category-title">Categories</h4>
<div class="spacer20"></div>
<a class="category-name" href="/connectors"><p class="{{ if eq $lastUrlElement `connectors` }}current-page {{end}}">All Categories</p></a>
<div class="spacer30"></div>
{{ range $name, $value := . }}
	<a class="category-name" href="{{ printf "/%s/" $taxonomyname | relLangURL }}{{ $name | urlize }}"><p class="{{ if eq $lastUrlElement $name }}current-page{{end}}">{{ humanize $name }}</p></a>
	<div class="spacer30"></div>
{{ end }}
<div class="spacer30"></div>
{{ end }}
