<div class="container-fluid single-connector__content">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div>
					<h3 class="single-connector__section-header">About</h3>
					<p class="single-connector__section-text">Tardigrade and FileZilla work seamlessly together to make transferring files simple and secure with default end-to-end encryption. FileZillla is a cross-platform graphical FTP, SFTP, and FTPS file management and transfer tool that can easily be used to store and move files onto Tardigrade. Tardigrade has Nodes across the globe, making retrieving your files simple and fast with zone free performance.</p>
				</div>
				<div>
					<button class="single-connector__button fill">Download</button>
					<button class="single-connector__button">Join Tardigrade</button>
				</div>
				<div>
					<h3>Why Tardigrade is Perfect for Filezilla</h3>

					<div class="row">
						{{ range where .Site.Pages ".Params.class" "connector-content"}}
						<div class="col-md-6">
							<h4>{{ .Params.title }}<h4>
							<p>{{ .Params.text }}</p>
						</div>
						{{ end }}
					</div>
				</div>
				<div class="single-connector__bottom-section">
					<h3 class="single-connector__section-header">How Tardigrade Works</h3>
					<p class="single-connector__section-text">Files are encrypted and split into pieces client-side, then distributed across our network of high-performance Storage Nodes, making it virtually impossible for your data to be compromised.</p>
					<button class="single-connector__button">Get Started</button>
				</div>
			</div>
			<div class="col-md-4 offset-lg-1">
				<div class="column-section">
					<p class="column-section__title">Details</p>
					<ul class="column-section__column left">
						<li class="column-section__list-item">Released</li>
						<li class="column-section__list-item value">02/22/20</li>
					</ul>
					<ul class="column-section__column right">
						<li class="column-section__list-item">Version</li>
						<li class="column-section__list-item value">1.3.22</li>
					</ul>
				</div>
				<div class="column-section">
					<p class="column-section__title">Resources</p>
					<ul class="column-section__link-section">
						<li class="column-section__link-wrapper"><a class="column-section__link" href="#">Docs</a></li>
						<li class="column-section__link-wrapper"><a class="column-section__link" href="#">Repo</a></li>
						<li class="column-section__link-wrapper"><a class="column-section__link" href="#">Website</a></li>
					</ul>
				</div>
				<div class="column-section">
					<p class="column-section__title">Links</p>
					<ul class="column-section__link-section">
						<li class="column-section__link-wrapper"><a class="column-section__link" href="#">Join Tardigrade</a></li>
						<li class="column-section__link-wrapper"><a class="column-section__link" href="#">Sign In</a></li>
						<li class="column-section__link-wrapper"><a class="column-section__link" href="#">Community</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
