.p404-page {
  .p404 {
		&__content-wrapper {
			height: 350px;
			@media (max-width: 991px) {
	      height: 600px;
      }
		}
    &__content {
      text-align: left;
			@media (max-width: 991px) {
	     margin-top: 300px;
			 text-align: center;
      }
    }
    &__heading {
      font-size: 32px;
    }
    &__msg {
      font-size: 18px;
      font-weight: 200;
      font-family: 'Roboto'
    }
    &__cta {
      font-weight: 700;
      font-size: 18px;
      color: $color--blue-light;
      .mb-1 {
        position: relative;
        top: 2px;
      }
    }
    &__mascot {
			height: 680px;
			z-index: 0;
			@media (max-width: 991px) {
				position: absolute;
				margin: 0 auto;
				margin-top: 90px;
			}
    }
  }
}
