.apps {
	background: #fff;

	@media only screen and (max-width: 1024px) {
		background: #F7F8FA;
	}
}

.apps__hero {
	&__container {
		background: url("/img/apps-bg.png"), radial-gradient(90.29% 121.56% at 53.03% 29.19%, #0055C6 0%, #000000 100%); /* W3C */
		background-size: cover;
		@media only screen and (min-width: 1660px) {
			height: 620px;
		}
		@media only screen and (max-width: 1660px) {
			height: 560px;
		}
		@media only screen and (max-width: 1500px) {
			height: 500px;
		}
		@media only screen and (max-width: 1360px) {
			height: 460px;
		}
		@media only screen and (max-width: 1280px) {
			height: 430px;
		}
		@media only screen and (max-width: 1280px) {
			height: 430px;
		}
		@media only screen and (max-width: 1200px) {
			height: 380px;
		}
		@media only screen and (max-width: 1024px) {
			height: 320px;
		}
		@media only screen and (max-width: 868px) {
			height: 280px;
		}
		@media only screen and (max-width: 768px) {
			background: url("/img/apps-bg-sm.png"), radial-gradient(144.46% 79.03% at 50% 49.94%, #0055C6 0%, #000000 100%); /* W3C */
			height: 790px;
			background-size: cover;
		}
		@media only screen and (max-width: 600px) {
			height: 690px;
		}
	  .btn-group-vertical>.btn, .btn-group>.btn{
	    color: $color--blue-light;
	  }
	  .navlink, .navlink a {
	    color: $color--blue-light;
	  }
	  .nav-join {
	    border-color: $color--blue-light;
	    color: $color--blue-light;
	  }
	}
	&__content {
		margin: 0 auto;
		text-align: center;
		margin-top: 8%;
		color: #fff;
		@media only screen and (min-width: 1660px) {
			margin-top: 10%;
		}
		@media only screen and (max-width: 1500px) {
			margin-top: 7%;
		}
		@media only screen and (max-width: 1200px) {
			margin-top: 3%;
		}
		@media only screen and (max-width: 868px) {
			margin-top: 1%;
		}
		@media only screen and (max-width: 768px) {
			margin-top: 38%;
		}
		@media only screen and (max-width: 600px) {
			width: 330px;
			margin: 0 auto;
			margin-top: 28%;
		}
	}
	&__title {
		font-family: $primary-font;
		font-weight: bold;
		font-size: 28px;
		line-height: 40px;
		margin-bottom: 20px;
		@media only screen and (min-width: 768px) and (max-width: 1024px) {
			font-size: 28px;
			line-height: 34px;
			margin-bottom: 10px;
		}
	}
	&__subheading {
		font-family: $secondary-font;
		font-weight: 300;
		font-size: 18px;
		line-height: 27px;
		width: 480px;
		margin: 0 auto;
		@media only screen and (min-width: 768px) and (max-width: 1024px) {
			font-size: 14px;
			line-height: 20px;
		}
		@media only screen and (max-width: 600px) {
			width: inherit;
		}
	}
	#searchInput {
		width: 340px;
		margin: 0 auto;
		margin-top: 30px;
		@media only screen and (min-width: 768px) and (max-width: 1024px) {
			margin-top: 15px;
		}
	}
}

.sidebar {
	@media only screen and (max-width: 991px) {
		display: none;
	}
	.category-title {
		font-weight: bold;
		font-family: $primary-font;
		font-size: 14px;
		line-height: 40px;
		color: #000;
	}
	.category-name {
		font-family: $primary-font;
		font-weight: 300;
		font-size: 14px;
		line-height: 50px;
		letter-spacing: .25px;
		color: #000;
		text-transform: capitalize;
	}
	.current-page {
		font-weight: bold;
		color: $color--blue-light;
	}
}

.dropdown {
	margin-top: 45px;
	display: block;
	.dropdown-icon {
		margin-right: 10px;
		margin-bottom: 2px;
	}
	.btn {
		font-family: $secondary-font;
		font-weight: 300;
		font-size: 16px;
		color: #93A1AF;
		background: #fff;
		border: none;
		&:hover, &:focus, &:active {
			background: #fff;
			color: inherit;
			border: none;
			box-shadow: none !important;
		}
		.fa {
			margin-left: 20px;
		}
	}
	.dropdown-toggle::after {
		display: none;
	}
	.dropdown-menu {
		transform: translate3d(5px, 35px, 0px)!important;
		border: 1px solid #F2F2F2;
		box-sizing: border-box;
		box-shadow: 0px 7px 14px rgba(20, 29, 37, 0.6);
		border-radius: 6px;
		overflow: scroll;
		margin-top: 5px;
		.dropdown-item {
			.item-name {
				color: #93A1AF;
				font-family: $secondary-font;
				font-size: 14px;
				font-weight: 300;
			}
			&:hover {
				.item-name {
					color: #000;
				}
			}
		}
	}
	.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
		background: #fff;
	}
}

.apps__partners {
	&__title {
		margin-top: 45px;
		font-weight: bold;
		font-family: $primary-font;
		font-size: 14px;
		line-height: 40px;
		color: #000;
	}
	&__partner, &__partner__featured  {
		background: #F7F8FA;
		height: 188px;
		margin-bottom: 25px;
		display: none;
		@media only screen and (max-width: 1024px) {
			background: #fff;
		}
		&__header {
			&__name {
				font-family: 'Poppins';
				font-weight: bold;
				font-size: 18px;
				line-height: 20px;
				display: inline;
				margin-left: 10px;
				top: 15px;
				position: relative;
			}
			&__image {
				height: 46px;
				width: 46px;
				margin-left: 20px;
				margin-top: 20px;
			}
			&__version {
				display: inline;
			}
			&__status {
				display: inline;
				float: right;
				margin: 15px 30px 0px 0px;
				border: 1px solid $color--blue-light;
				color: $color--blue-light;
				font-family: $primary-font;
				font-weight: bold;
				font-size: 10px;
				border-radius: 2px;
				text-transform: uppercase;
				padding: 0 8px;
			}
		}
		&__description {
			font-family: Roboto;
			font-weight: 300;
			font-size: 15px;
			line-height: 20px;
			margin-left: 20px;
			margin-top: 20px;
		}
		&__category {
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 12px;
			line-height: 20px;
			color: $color--blue-light;
			margin-left: 20px;
			margin-top: 20px;
		}
	}
	&__partner__featured {
		display: block;
		height: 122px;
		&__category {
			float: right;
			margin-right: 25px;
			@media only screen and (max-width: 1024px) {
				float: none;
			}
		}
		&__header {
			&__name {
				margin-left: 0;
			}
			&__image {
				float: left;
				height: 81px;
				width: 81px;
				margin-right: 15px;
			}
		}
	}
}

#loadMore {
	.load-more-btn {
		margin: 0 auto;
	 	font-family: $primary-font;
		font-weight: 800;
		font-size: 14px;
		line-height: 41px;
		text-align: center;
		color: $color--blue-light;
		border: 2px solid $color--blue-light;
		width: 244px;
		height: 46px;
		border-radius: 5px;
		cursor: pointer;
		margin-top: 40px;
	}
}

.pagination-wrapper {
	text-align: center;
	margin-top: 20px;
	.pagination {
		display: inline-flex;
		.page-item {
			.page-link {
				border: none;
				color: #354049;
				font-family: $secondary-font;
				font-size: 16px;
				font-weight: 300;
				margin: 0 5px;
			}
		}
		.page-item.active {
			.page-link {
				background: #fff;
				border-bottom: 3px solid $color--blue-light;
				color: $color--blue-light;
				font-weight: bold;
				padding: 9px 5px 2px 5px;
				border-radius: 0;
			}
		}
		.page-item.arrow {
			.page-link {
				border: 1px solid #AFB7C1;
				border-radius: 6px;
				margin: 0 15px;
				padding: 7px 14px;
			}
		}
	}
}

.apps footer {
	margin-top: 150px;
}
