.apps__hero {
	&__container {
	  background-image: url("/img/apps-bg.jpg");
		background-size: cover;
		height: 580px;
	  .btn-group-vertical>.btn, .btn-group>.btn{
	    color: $color--blue-light;
	  }
	  .navlink, .navlink a {
	    color: $color--blue-light;
	  }
	  .nav-join {
	    border-color: $color--blue-light;
	    color: $color--blue-light;
	  }
	}
	&__content {
		width: 200px;
		margin: 0 auto;
		text-align: center;
	}
	&__cta {
		font-family: 'Poppins';
		font-weight: bold;
		font-size: 18px;
		line-height: 20px;
		color: #2582FF !important;
	}
}

.sidebar {
	.category-title {
		font-weight: bold;
		font-family: $primary-font;
		font-size: 14px;
		line-height: 40px;
		color: #000;
	}
	.category-name {
		font-family: $primary-font;
		font-weight: 300;
		font-size: 14px;
		line-height: 50px;
		letter-spacing: .25px;
		color: #000;
	}
}

.apps__partners {
  height: 1000px;
	background: #fff;
	&__partner {
		background: #F7F8FA;
		height: 188px;
		margin-bottom: 25px;
		// display: none;
		&__header {
			&__name {
				font-family: 'Poppins';
				font-weight: bold;
				font-size: 18px;
				line-height: 20px;
				display: inline;
				margin-left: 10px;
				top: 15px;
				position: relative;
			}
			&__image {
				height: 46px;
				width: 46px;
				margin-left: 20px;
				margin-top: 20px;
			}
			&__version {
				display: inline;
			}
			&__status {
				display: inline;
			}
		}
		&__description {
			font-family: Roboto;
			font-weight: 300;
			font-size: 15px;
			line-height: 20px;
			margin-left: 20px;
			margin-top: 20px;
		}
	}
}
