.apps__hero {
	&__container {
	  background-image: url("/img/apps-bg.jpg");
		background-size: cover;
		height: 580px;
	  .btn-group-vertical>.btn, .btn-group>.btn{
	    color: $color--blue-light;
	  }
	  .navlink, .navlink a {
	    color: $color--blue-light;
	  }
	  .nav-join {
	    border-color: $color--blue-light;
	    color: $color--blue-light;
	  }
	}
	&__content {
		width: 200px;
		margin: 0 auto;
		text-align: center;
		margin-top: 10%;
		color: #fff;
	}
	&__title {
		font-family: $primary-font;
		font-weight: bold;
		font-size: 34px;
		line-height: 40px;
		margin-bottom: 40px;
	}
	&__subheading {
		font-family: $secondary-font;
		font-weight: 300;
		font-size: 18px;
		line-height: 27px;
		width: 400px;
		margin: 0 auto;

	}
}

.sidebar {
	.category-title {
		font-weight: bold;
		font-family: $primary-font;
		font-size: 14px;
		line-height: 40px;
		color: #000;
	}
	.category-name {
		font-family: $primary-font;
		font-weight: 300;
		font-size: 14px;
		line-height: 50px;
		letter-spacing: .25px;
		color: #000;
		text-transform: capitalize;
	}
	.current-page {
		font-weight: bold;
		color: $color--blue-light;
	}
}

.dropdown {
	margin-top: 45px;
	display: block;
	.dropdown-icon {
		margin-right: 10px;
		margin-bottom: 2px;
	}
	.btn {
		font-family: $secondary-font;
		font-weight: 300;
		font-size: 16px;
		color: #93A1AF;
		background: #fff;
		border: none;
		&:hover, &:focus, &:active {
			background: #fff;
			color: inherit;
			border: none;
			box-shadow: none !important;
		}
		.fa {
			margin-left: 20px;
		}
	}
	.dropdown-toggle::after {
		display: none;
	}
	.dropdown-menu {
		transform: translate3d(5px, 35px, 0px)!important;
		border: 1px solid #F2F2F2;
		box-sizing: border-box;
		box-shadow: 0px 7px 14px rgba(20, 29, 37, 0.6);
		border-radius: 6px;
		overflow: scroll;
		margin-top: 5px;
		.dropdown-item {
			.item-name {
				color: #93A1AF;
				font-family: $secondary-font;
				font-size: 14px;
				font-weight: 300;
			}
			&:hover {
				.item-name {
					color: #000;
				}
			}
		}
	}
	.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
		background: #fff;
	}
}

.apps__partners {
  height: 1000px;
	background: #fff;
	&__partner {
		background: #F7F8FA;
		height: 188px;
		margin-bottom: 25px;
		// display: none;
		&__header {
			&__name {
				font-family: 'Poppins';
				font-weight: bold;
				font-size: 18px;
				line-height: 20px;
				display: inline;
				margin-left: 10px;
				top: 15px;
				position: relative;
			}
			&__image {
				height: 46px;
				width: 46px;
				margin-left: 20px;
				margin-top: 20px;
			}
			&__version {
				display: inline;
			}
			&__status {
				display: inline;
				float: right;
				margin: 15px 30px 0px 0px;
				border: 1px solid #133E9C;
				color: #133E9C;
				font-family: $primary-font;
				font-weight: bold;
				font-size: 10px;
				border-radius: 2px;
				text-transform: uppercase;
				padding: 0 8px;
			}
		}
		&__description {
			font-family: Roboto;
			font-weight: 300;
			font-size: 15px;
			line-height: 20px;
			margin-left: 20px;
			margin-top: 20px;
		}
		&__category {
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 12px;
			line-height: 20px;
			color: #133E9C;
			margin-left: 20px;
			margin-top: 20px;
		}
	}
}

.pagination-wrapper {
	text-align: center;
	margin-top: 20px;
	.pagination {
		display: inline-flex;
		.page-item {
			.page-link {
				border: none;
				color: #354049;
				font-family: $secondary-font;
				font-size: 16px;
				font-weight: 300;
				margin: 0 5px;
			}
		}
		.page-item.active {
			.page-link {
				background: #fff;
				border-bottom: 3px solid $color--blue-light;
				color: $color--blue-light;
				font-weight: bold;
				padding: 9px 5px 2px 5px;
				border-radius: 0;
			}
		}
		.page-item.arrow {
			.page-link {
				border: 1px solid #AFB7C1;
				border-radius: 6px;
				margin: 0 15px;
				padding: 7px 14px;
			}
		}
	}
}

.apps footer {
	margin-top: 150px;
}
