.apps__hero {
	&__container {
	  background-image: url("/img/apps-bg.png");
		background-size: cover;
		height: 980px;
	  .btn-group-vertical>.btn, .btn-group>.btn{
	    color: $color--blue-light;
	  }
	  .navlink, .navlink a {
	    color: $color--blue-light;
	  }
	  .nav-join {
	    border-color: $color--blue-light;
	    color: $color--blue-light;
	  }
	}
	&__content {
		width: 200px;
		margin: 0 auto;
		text-align: center;
	}
	&__cta {
		font-family: 'Poppins';
		font-weight: bold;
		font-size: 18px;
		line-height: 20px;
		color: #2582FF !important;
	}
}

.apps__partners {
    height: 1000px;
		background: #F4F6F9;
		&__partner {
			background: #fff;
			height: 188px;
			margin-bottom: 25px;
			&__header {
				&__name {
					font-family: 'Poppins';
					font-weight: bold;
					font-size: 18px;
					line-height: 20px;
				}
			}
		}
}
