html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  &:hover {
    color: $color--blue-light;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
}

span,
p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  // font-size: 18px;
  line-height: 1.5;
}

.text-white {
  color: $color--white;
}

.text-grey {
  color: $color--grey;
}

footer {
  background: $color--blue-dark;
  z-index: 0;
  position: relative;
}

.isDisabled {
  display: inline-block; /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.bg-white {
  background: $color--white;
}
.bg-light {
  background: $color--light-bg;
}

.bg-gradient {
  background: $color--blue-bg;
  background: radial-gradient(circle, rgba(0,55,127,1) 0%, rgba(0,5,12,1) 100%);
}
.bg-squares {
  background: $color--blue-bg;
  background-image: radial-gradient(circle, rgba(0,55,127,1) 0%, rgba(0,5,12,1) 100%); /* fallback */
  background-image: url("/img/tar-bg-squares.svg"), radial-gradient(circle, rgba(0,55,127,1) 0%, rgba(0,5,12,1) 100%);
  background-size: cover;
}

.rounded-xl {
  border-radius: 10px;
}

.zi-1 {
  z-index: 1;
}

.lh-2 {
  line-height: 2;
}
