a {
    &:hover {
        color: $color--blue-light;
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

span, p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.text-white {
    color: $color--white;
}

.text-grey {
    color: $color--grey;
}