.community {
  &_hero {
    &_bg {
      background: $color--blue-bg;
      background: radial-gradient(
        516.5px at 92.17% 47.6%,
        #133e9c 0%,
        #00091e 100%
      );
      max-height: 660px;
      overflow: hidden;
    }

    &_img {
      height: 700px;
      width: 1500px;
      margin-top: -160px;
      margin-left: -400px;
    }

    &_heading {
      font-family: "Poppins";
      font-weight: bold;
      font-size: 28px;
      line-height: 40px;
      color: $color--white;
      font-style: normal;
    }

    &_subheading {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;
      color: $color--white;
      position: relative;
      z-index: 999999;
    }

    &_btn_text {
      padding: 15px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: $color--white;
      width: 240px;
    }

    @media only screen and (min-width: 0px) and (max-width: 999px) {
      &_mobile_adjust {
        text-align: center;
      }

      &_bg {
        max-height: 1200px;
      }

      &_img {
        height: 500px;
        width: 1000px;
        margin-top: -200px;
        margin-left: -240px;
      }
    }
  }

  &_main {
    &_heading {
      font-family: "Poppins";
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      color: #000000;
    }

    &_subheading {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #000000;
    }

    &_cta {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      color: #2582ff;
      margin-left: 30px;
    }

    &_box_top {
      height: 300px;
    }

    &_chevron_right {
      height: 40px;
      width: 30px;
      margin-top: -10px;
    }
  }

  &_events {
    &_bg {
      background-color: #f4f6f9;
    }

    &_heading {
      font-family: "Poppins";
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      color: #000000;
    }

    &_subheading {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #000000;
    }

    &_table {
      width: 100%;
      border: 1.5px solid #c9d0d7;
      border-radius: 6px;
      overflow-x: hidden;
      overflow-y: hidden;
      background: $color--white;
      margin-bottom: 100px;
    }

    &_link {
      font-family: "Poppins";
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 40px;
      color: #9ca3ad;
      &:hover {
        color: $color--blue-light;
      }
    }

    &_name {
      font-family: "Poppins";
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 40px;
      color: #000000;
      text-align: left;
      padding-left: 25px;
    }

    &_data {
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 40px;
      color: #000000;
    }

    &_divider {
      width: 120%;
      border-color: 1px solid rgba(147, 161, 175, 0.6);
      margin-top: 0;
      margin-bottom: 0;
    }

    &_bottom_heading {
      font-family: "Poppins";
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #000000;
    }

    &_bottom_cta {
      font-weight: 800;
      color: #2582ff;
      &:hover {
        text-decoration: underline;
      }
    }

    @media only screen and (min-width: 0px) and (max-width: 900px) {
      &_table {
        overflow-y: auto;
      }
    }
  }
}
