.consent-banner{

    background: #11181D;
    opacity: 0.97;
    position: fixed;
    bottom: 0px;
    height: 60px;
    z-index: 99999999999999999;
		display: flex;
    &_text {
        color: $color--white;
        margin-top: 25px;
        font-size: 12px;
        line-height: 14px;
    }

    &_link {
        color: $color--white;
        text-decoration : underline;
    }

    @media only screen and (min-width: 0px) and (max-width: 500px) {
        &_text{
        margin-top:15px;
        }

        &_close {
        margin-top:25px;
        }
    }

    &_close:hover {
        font-size: 16px;
        cursor: pointer;
    }
}
