.covid-page {
	.covid {
		&__hero {
			&__bg {
				background: linear-gradient(3.21deg, #133E9C 5.15%, #00091E 94.47%);
			}
			&__content-wrapper {
				text-align: center;
				color: #fff;
				width: 470px;
				margin: 0 auto;
			}
			&__heading {
				margin: 0 auto;
				font-family: $primary-font;
				font-weight: bold;
				font-size: 32px;
				line-height: 40px;
			}
			&__content {
				margin: 0 auto;
				font-family: $secondary-font;
				font-weight: 300;
				font-size: 18px;
				line-height: 26px;
			}
			&__cta {
				&__button-wrapper {
					margin: 0 auto;
				}
				&__button {
					border-radius: 4px;
					background: $color--blue-light;
					color: #fff;
					font-weight: 800;
					font-size: 14px;
					line-height: 18px;
					border: none;
					padding: 10px 35px;
				}
			}
		}

		&__questions {
			color: #000;

			&__section-wrapper {
				width: 80%;
				margin-bottom: 30px;
			}
			&__heading {
				font-family: $primary-font;
				font-weight: bold;
				font-size: 28px;
				line-height: 39px;
				margin-bottom: 15px;
			}
			&__subheading {
				font-family: $primary-font;
				font-size: 18px;
				line-height: 23px;
			}
			&__content {
				font-family: $secondary-font;
				font-weight: 300;
				font-size: 16px;
				line-height: 26px;
			}
		}
	}
}
