.footer {
  padding-top: 3.5em;
  background-size: cover;
  text-align: left;
  .response {
    color: #fff;
  }
  &__logo-img {
    width: 100%;
    height: auto;
  }

  &__list-unstyled {
    list-style-type: none;
    padding-left: 0;
    span {
      line-height: 28px;
      font-weight: 300;
      font-size: 13px;
      opacity: 0.7;
    }
  }

  &__link {
    color: $color--white;
    font-family: $primary-font;
    font-size: 12px;
    line-height: 28px;
    opacity: 0.4;
    font-weight: 300;
    &-temp {
      opacity: 1;
      color: #2582ff;
    }

    &:hover {
      .footer__link-text {
        opacity: 1;
      }
      opacity: 1;
      color: #2582ff;
    }

    &-img {
      height: 22px;
      width: 22px;
      padding: 4px;
      margin-right: 0.6rem;
    }
  }

  &__content {
    h5 {
      font-size: 12px;
      line-height: 40px;
    }

    &-address {
      font-family: $secondary-font;
      font-weight: 300;
      font-size: 13px;
      line-height: 28px;
      color: #fff;
      opacity: 0.4;
      span {
        font-size: 13px;
        font-weight: 300;
        opacity: 0.7;
      }
    }
  }

  &__email-input {
    display: block;
    background: #fbfbfb;
    border: 1px solid #eee;
    border-radius: 4px 4px 0 0;
    color: $color--grey;
    padding: 12px 18px 10px;
    width: 100%;
    max-width: 320px;
    font-size: 16px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    height: 50%;
    font-size: 12px;
    font-family: $secondary-font;
    &:focus {
      outline: 0;
      border-color: #2d86fb;
    }
  }

  &__btn {
    &-submit {
      font-weight: 800;
      background: #2683ff;
      color: $color--white;
      border-radius: 0 0 4px 4px;
      font-size: 16px;
      padding: 12px 16px;
      width: 100%;
      max-width: 320px;
      border: 0;
      z-index: 2;
      outline: 0;
      -webkit-backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      -ms-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      height: 50%;
      font-size: 12px;
      font-family: $primary-font;
    }
  }

  .footer__content h5 {
    margin-bottom: 0;
  }

  .footer-message {
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
  }

  .social-section {
    float: right;
    padding-left: 0;
    .footer-social {
      display: inline;
      .footer__link {
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
      .social-link {
        opacity: 1;
        margin: auto 15px;
        @media (max-width: 1024px) {
          margin: auto 8px;
        }
        @media (max-width: 768px) {
          margin: auto 15px;
          margin-top: 25px;
        }
      }
    }
  }
}

#mce-error-response-newsletter,
#mce-success-response-newsletter {
  display: none;
  font-size: 12px;
  line-height: 15px;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .footer {
    &__logo-img {
      margin-bottom: 30px;
      width: inherit;
      height: auto;
    }
    &__link {
      line-height: 32px;
    }
  }
}

@media (min-width: 874px) and (max-width: 991px) {
  .footer {
    &__content-item-btn {
      width: 400px;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    &__logo-img {
      width: 125px;
      height: auto;
    }
  }
}
