.form-control {
  height: 48px;
  border-color: #AFB7C1;
  border-radius: 6px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #AFB7C1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #AFB7C1;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #AFB7C1;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #AFB7C1;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #AFB7C1;
}
::placeholder { /* Most modern browsers support this now. */
   color:    #AFB7C1;
}
