/* Tardigrade.io - Highly Distributed. Rediculously Resilient */ 

/* Home-Page */

.banner {
  background-color: color(primary);
}

.banner-text{

  color:white;
  margin:0 auto;
  padding:20px;

}

.slogan-name{
  color: color(primary);
  height:29px;
  margin:0;
  font-size: 24px;
}

.slogan-description{
  color: color(primary);
  font-weight:800;
  margin:0;
  font-size: 12px;
}

.heading{
  font-size:30px;
  line-height:40px;
  color: color(primary);
}

.sub-heading{
  color: color(primary);
  opacity: 0.7;
  font-size:16px;
}

.cta-link{
  color: color(primary);
}

.cta-btn{
  height: 46px;
  border: 2px solid color(primary);
  border-radius: 4px;
  margin-top:25px;
  margin-bottom:25px;
}

/* Waitlist */

.waitlist-heading {
 margin-bottom:0.3em;
 color: color(primary);
 font-weight: 800;
 font-size: 40px;
}

.waitlist-sub-heading {
  height: 93px;
  opacity: 0.8;
  color: color(primary);
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.waitlist-input-name, .waitlist-input-email{
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  max-width: 500px;
}

.waitlist-input-name{
  border:none;
  background-color: color(secondary);
  color: color(accent);
}

.waitlist-input-email{
  border:none;
  background-color: color(secondary);
  color: color(accent);
}

.get-access-btn{
  height: 46px;
  border: 2px solid color(primary);
  border-radius: 4px;
  margin-top:25px;
  margin-bottom:25px;
  font-weight: 800;
}
