/* Tardigrade.io - Highly Distributed. Rediculously Resilient */ 

/* Home-Page */

$colors: (
  primary:#253C6C,
  secondary: #D5DAE0,
  accent: #979797
);

@function color($color-name){
  @return map-get($colors, $color-name)
};

body{
  font-family: 'Poppins';
}

a{
  color: color(primary);
}

.banner {
  background-color: color(secondary);
}

.banner-text{
  margin-top:5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  font-size : 10px;
  color:color(primary);

}

.slogan-name{
  color: color(primary);
  height:29px;
  margin:0;
  font-size: 24px;
}

.slogan-description{
  color: color(primary);
  font-weight:800;
  margin:0;
  font-size: 12px;
}

.footer{
  margin-top:30px;
  color: color(secondary);
  opacity:0.8;
  font-size: 12px;
}

.heading{
  font-size:30px;
  line-height:40px;
  color: color(primary);
}

.sub-heading{
  color: color(primary);
  opacity: 0.7;
  font-size:16px;
}

.cta-link{
  color: color(primary);
}

.cta-btn{
  height: 46px;
  border: 2px solid color(primary);
  border-radius: 4px;
  margin-top:25px;
  margin-bottom:25px;
}

/* Waitlist */

.waitlist-heading {
 margin-bottom:0.3em;
 color: color(primary);
 font-weight: 800;
 font-size: 40px;
}

.waitlist-sub-heading {
  height: 93px;
  opacity: 0.8;
  color: color(primary);
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.waitlist-input-name, .waitlist-input-email{
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  max-width: 500px;
}

.waitlist-input-name{
  border:none;
  background-color: color(secondary);
  color: color(accent);
}

.waitlist-input-email{
  border:none;
  background-color: color(secondary);
  color: color(accent);
}

.get-access-btn{
  height: 46px;
  border: 2px solid color(primary);
  border-radius: 4px;
  margin-top:25px;
  margin-bottom:25px;
  font-weight: 800;
}

/* Timeline */
.timeline,
.timeline-horizontal {
list-style: none;
padding: 20px;
position: relative;
}
.timeline:before {
top: 40px;
bottom: 0;
position: absolute;
content: " ";
width: 3px;
background: #2582FF;
opacity: 0.3;
left: 50%;
margin-left: 35px;
}

.post:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background: #C4C4C4;
  opacity: 0.3;
  left: 50%;
  margin-left: 35px;
  }


.timeline .timeline-item {
margin-bottom: 20px;
position: relative;
}
.timeline .timeline-item:before,
.timeline .timeline-item:after {
content: " ";
display: table;
}
.timeline .timeline-item:after {
clear: both;
}
.timeline .timeline-item .timeline-badge {
color: #fff;
width: 26px;
height: 26px;
line-height: 52px;
font-size: 22px;
text-align: center;
position: absolute;
top: 18px;
left: 50%;
margin-left: -9px;
background-color: #7c7c7c;
border: 3px solid #ffffff;
z-index: 100;
border-top-right-radius: 50%;
border-top-left-radius: 50%;
border-bottom-right-radius: 50%;
border-bottom-left-radius: 50%;
}
.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
top: 2px;
left: 0px;
}
.timeline .timeline-item .timeline-badge.primary {
background-color: #2683FF;
}
.timeline .timeline-item .timeline-badge.info {
background-color: #5bc0de;
}
.timeline .timeline-item .timeline-badge.success {
background-color: #59ba1f;
}
.timeline .timeline-item .timeline-badge.warning {
background-color: #d1bd10;
}
.timeline .timeline-item .timeline-badge.danger {
background-color: #ba1f1f;
}
.timeline .timeline-item .timeline-panel-genesis {
  position: relative;
  width: 46%;
  float: left;
  right: 16px;
  border: 1px solid #c0c0c0;
  background: #ffffff;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  .timeline .timeline-item .timeline-panel-genesis:before {
  position: absolute;
  top: 26px;
  right: -16px;
  display: inline-block;
  border-top: 16px solid transparent;
  border-left: 16px solid #c0c0c0;
  border-right: 0 solid #c0c0c0;
  border-bottom: 16px solid transparent;
  }
.timeline .timeline-item .timeline-panel {
position: relative;
width: 46%;
float: left;
right: 16px;
border: 1px solid #c0c0c0;
background: #ffffff;
border-radius: 2px;
padding: 20px;
-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline .timeline-item .timeline-panel:before {
position: absolute;
top: 26px;
right: -16px;
display: inline-block;
border-top: 16px solid transparent;
border-left: 16px solid #c0c0c0;
border-right: 0 solid #c0c0c0;
border-bottom: 16px solid transparent;
content: " ";
}
.timeline .timeline-item .timeline-panel .timeline-title {
margin-top: 0;
color: inherit;
}
.timeline .timeline-item .timeline-panel .timeline-body > p,
.timeline .timeline-item .timeline-panel .timeline-body > ul {
margin-bottom: 0;
}
.timeline .timeline-item .timeline-panel .timeline-body > p + p {
margin-top: 5px;
}
.timeline .timeline-item:last-child:nth-child(even) {
float: right;
}
.timeline .timeline-item:nth-child(even) .timeline-panel-genesis {
  float: right;
  left: 16px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-panel-genesis:before {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
  }

.timeline .timeline-item:nth-child(even) .timeline-panel {
float: right;
left: 16px;
}
.timeline .timeline-item:nth-child(even) .timeline-panel:before {
border-left-width: 0;
border-right-width: 14px;
left: -14px;
right: auto;
}
.timeline-horizontal {
list-style: none;
position: relative;
padding: 20px 0px 20px 0px;
display: inline-block;
}
.timeline-horizontal:before {
height: 3px;
top: auto;
bottom: 26px;
left: 56px;
right: 0;
width: 100%;
margin-bottom: 20px;
}
.timeline-horizontal .timeline-item {
display: table-cell;
height: 280px;
width: 20%;
float: none !important;
padding-left: 0px;
padding-right: 20px;
margin: 0 auto;
vertical-align: bottom;
}
.timeline-horizontal .timeline-item .timeline-panel-genesis {
  top: auto;
  bottom: 64px;
  display: inline-block;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  height: 114px;
  width: 160px;
  margin-bottom: 20px;
  margin-right:10px;
  border: 1px solid #E2E2E2;	border-radius: 4px;	background-color: #FFFFFF;	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.09);
  }
  
  .timeline-horizontal .timeline-item .timeline-panel-genesis:before {
  top: auto;
  bottom: -16px;
  left: 28px !important;
  right: auto;
  border-right: 16px solid transparent !important;
  border-top: 16px solid #c0c0c0 !important;
  border-bottom: 0 solid #c0c0c0 !important;
  border-left: 16px solid transparent !important;
  }

.timeline-horizontal .timeline-item .timeline-panel {
top: auto;
bottom: 64px;
display: inline-block;
float: none !important;
left: 0 !important;
right: 0 !important;
height: 114px;
width: 160px;
margin-bottom: 20px;
margin-right:10px;
border: 1px solid #E2E2E2;border-radius: 4px;	background-color: #FFFFFF;box-shadow: 0 2px 12px 0 rgba(0,0,0,0.09);
}

.timeline-horizontal .timeline-item .timeline-panel:before {
top: auto;
bottom: -16px;
left: 65px !important;
right: auto;
border-right: 16px solid transparent !important;
border-left: 16px solid transparent !important;
}

.pointy:before{
border-top: 16px solid #2582FF !important;
border-bottom: 0 solid #2582FF!important;
}


.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
display: none;
}
.timeline-horizontal .timeline-item .timeline-badge {
top: auto;
bottom: 14px;
left: 79px;
}

.milestones::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/*  home-hero-banner  */

.bg-gradient{
  background-image: url('/img/Theez-Starz.svg'), radial-gradient(1791.74px at 94.4% -66.62%, #1B4499 0%, #000000 100%);
  background-size: cover;
}


