.hiw-page {
	.hiw-page__section {
		.hiw-header {
			font-family: $primary-font;
			font-weight: bold;
			font-size: 28px;
			line-height: 39px;
		}
		.hiw-text {
			font-family: $secondary-font;
			font-weight: 300;
			font-size: 18px;
			line-height: 23px;
		}
		.hiw-dropdown {
			border: 1px solid #C5CBDB;
			border-radius: 4px;
			border-bottom: none;
			background: #fff;
			.dropdown {
				border-bottom: 1px solid #C5CBDB;
				margin-top: 30px;
				position: relative;
				.card-body {
					border: none;
					font-weight: 300;
					font-family: $secondary-font;
				}
				.arrow {
					position: absolute;
					right: 30px;
					bottom: 20px;
					cursor: pointer;
				}
				.arrow-down {
					position: absolute;
					right: 30px;
					top: 0;
					cursor: pointer;
				}
			}
			.btn {
				position: relative;
				bottom: 12px;
				color: #000;
				left: 10px;
			}
		}
	}
	.hiw-hero {
		background-image: url("/img/hiw-hero-bg.png");
		color: #fff;
		height: 840px;
		background-size: cover;
	}
	.experience {
		background: $color--grey-bg;
		.hiw-header {
			font-size: 24px;
		}
		&__cta {
			background: $color--blue-light;
			border-radius: 4px;
			border: none;
			color: #fff;
			width: 177px;
			padding: 10px 15px 10px 0;
			&__arrow {
				position: relative;
				left: 15px;
			}
		}
	}
	.file-pieces {
		background: $color--grey-bg;
	}
	.encLocally {
		background: $color--grey-bg;
	}
	.why-better {
		&__table {
			width: 100%;
			&__heading {
			}
			&__heading.traditional {
				color: #7E90A5;
			}
			&__heading.decentralized {
				color: $color--blue-light;
			}
			&__title, &__heading {
				font-family: $primary-font;
				font-size: 18px;
				font-weight: bold;
				line-height: 23px;
			}
			&__title {
				padding: 15px;
			}
			&__icon {
				width: 17px;
				text-align: center;
				position: relative;
				left: 15%;
			}
		}
	}
}
