.hiw-page {
	.hiw-page__section {
		.hiw-header {
			font-family: $primary-font;
			font-weight: bold;
			font-size: 28px;
			line-height: 39px;
		}
		.hiw-text {
			font-family: $secondary-font;
			font-weight: 300;
			font-size: 18px;
			line-height: 23px;
		}
		.hiw-dropdown {
			border: 1px solid #C5CBDB;
			border-radius: 4px;
			border-bottom: none;
			background: #fff;
			.dropdown {
				border-bottom: 1px solid #C5CBDB;
				margin-top: 30px;
			}
			.btn {
				position: relative;
				bottom: 12px;
				color: #000;
				left: 10px;
			}
		}
	}
	.experience {
		background: $color--grey-bg;
		.hiw-header {
			font-size: 24px;
		}
		&__cta {
			background: $color--blue-light;
			border-radius: 4px;
			border: none;
			color: #fff;
			width: 177px;
			padding: 10px 15px 10px 0;
			&__arrow {
				position: relative;
				left: 15px;
			}
		}
	}
	.file-pieces {
		background: $color--grey-bg;
	}
	.encLocally {
		background: $color--grey-bg;
	}
}
