.legal {
	background: #F4F5F7;
	b {
		font-weight: bold;
	}
	p {
		font-family: Roboto;
		font-weight: 300;
		font-size: 18px;
		line-height: 31px;
	}
  &__nav {
		background: #fff;
		margin-bottom: 80px;
		.navbar {
			margin-top: 15px;
			padding-bottom: 10px;
	    .navlink {
				color: #93A1AF;
			}
			.nav-join {
				color: #2582FF;
				border: 2px solid #2582FF;
			}
		}
  }
}
