@-webkit-keyframes in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.partner-form-page {
  min-height: 100vh;
  #partner-form {
    text-align: center;
    min-height: 80vh;
    .step {
      -webkit-animation: in 900ms ease both;
      animation: in 900ms ease both;
    }
    .label {
      margin-bottom: 4px;
    }
    .user-input {
      background: #ffffff;
      border: 1px solid #c5cbdb;
      box-sizing: border-box;
      border-radius: 6px;
      max-width: 350px;
      margin: 0 auto;
      height: 56px;
    }
    .error {
      display: none;
      position: relative;
      top: 13px;
      color: red;
    }
    .progress {
      max-width: 350px;
      margin: 40px auto;
      -webkit-animation: in 900ms ease both;
      animation: in 900ms ease both;
    }
    #step-buttons {
      -webkit-animation: in 900ms ease both;
      animation: in 900ms ease both;
      .btn {
        @media (max-width: 380px) {
          margin-right: 0 !important;
          padding-left: 0;
          padding-right: 0;
          width: 49%;
        }
      }
    }
		.progress-bar {
			height: 17px;
		}
  }
}
