.partner {
    &__headline {
        background: url('/img/background.svg') no-repeat;
        background-size: cover;
        &-wrapper {
            height: 80vh;
        }

        &-logo {
            &-wrapper {
                height: 100%;
                width: 50%;
            }

            &-img {
                height: 350px;
            }
        }

        &-description {
            &-wrapper {
                width: 50%;
            }

            &-title {
                font-weight: 600;
                font-size: 34px;
                line-height: 48px;
            }

            &-content {
                font-weight: 300;
                line-height: 26px;
                opacity: 0.7;
            }
        }
    }

    &__partners {
        &-container {
            box-shadow: 0 0 1.3rem;
            border-radius: 1rem;
            padding-bottom: 90px;
            background: $color--white;
        }

        &-header-wrapper {
            padding-top: 65px;
        }

        &-logos {
            &-wrapper {
                margin-top: 57px;
            }
        }
        &-logo {
            &-img {
                height: 25px;
            }
        }
    }

    &__benefits {
        &-logo-wrapper {
            img {
                height: 40px;
            }
        }
    }

    &__virtuous-cycle {
        &-icon-wrapper {
            img {
                height: 50px;
            }
        }

        &-btn {
            font-size: 16px;
            line-height: 24px;
            background: #2683FF;
            color: $color--white;
            border-radius: 6px;
            width: 218px;
            height: 48px;
            max-width: 320px;
            border: 0;
            outline: 0;
            -webkit-backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            -webkit-transition: all 0.15s ease-in-out;
            -moz-transition: all 0.15s ease-in-out;
            -ms-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
        }
    }


    &__single {
        &-partners {
            position: absolute;
            top: 75vh;
            z-index: 1000;
        }

        &-benefits {
            padding-top: 65vh;
        }

        &-virtuous-cycle {
            padding-top: 15rem;
            padding-bottom: 3rem;
        }
    }
}

@media only screen and (max-width: 820px) {
    .partner {
        &__headline {
            &-wrapper {
                height: 100vh;
                flex-direction: column !important;
                justify-content: center;
                align-items: center;
            }

            &-logo {
                &-wrapper {
                    margin-left: 0 !important;
                }
            }

            &-description {
                &-wrapper {
                    padding-bottom: 6rem;
                    margin-left: 0 !important;
                }
            }
        }

        &__single {
            &-partners {
                top: 95vh;
            }

            &-benefits {
                padding-top: 75vh;
            }
        }
    }
}

@media only screen and (min-height: 1000px) {
    .partner {
        &__single {
            &-benefits {
                padding-top: 30vh;
            }
        }
    }
}