.partner-form-page {
  #partner-form {
    margin-top: 210px;
    text-align: center;
    height: 100vh;
    .input {
      background: #FFFFFF;
      border: 1px solid #C5CBDB;
      box-sizing: border-box;
      border-radius: 6px;
      width: 350px;
      height: 56px;
    }
    .partner-form-button {
      background: $color--blue-light;
      border-radius: 6px;
      border: none;
      width: 182px;
      height: 48px;
      color: #fff;
      font-weight: bold;
    }
    .label {
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 13px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #212429;
    }
    .custom-select {
      width: 65%;
    }
    .error {
      display: none;
    }
    input {
      padding-left: 15px;
    }
  }
}
