@-webkit-keyframes in {
  0% { opacity: 0; visibility: hidden;  }
  100% { opacity: 1; visibility: visible; }
}

@keyframes in {
  0% { opacity: 0; visibility: hidden;  }
  100% { transform: scale(1); opacity: 1; visibility: visible; }
}

@-webkit-keyframes out {
  0% { opacity: 1; visibility: visible; }
  100% { opacity: 0; visibility: hidden; }
}

@keyframes out {
  0% { opacity: 1; visibility: visible; }
  100% { opacity: 0; visibility: hidden;  }
}

.partner-form-page {
  #partner-form {
    margin-top: 210px;
    text-align: center;
    height: 100vh;
    .step {
      -webkit-animation: in 900ms ease both;
      animation: in 900ms ease both;
    }
    .input {
      background: #FFFFFF;
      border: 1px solid #C5CBDB;
      box-sizing: border-box;
      border-radius: 6px;
      width: 350px;
      height: 56px;
    }
    .partner-form-button {
      background: $color--blue-light;
      border-radius: 6px;
      border: none;
      width: 142px;
      height: 48px;
      color: #fff;
      font-weight: bold;
      outline: none;
    }
    #partner-form-back {
      background: #fff;
      border-radius: 6px;
      border: 2px solid $color--blue-light;
      width: 142px;
      height: 48px;
      color: $color--blue-light;
      font-weight: bold;
      outline: none;
    }
    .label {
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 13px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #212429;
    }
    .custom-select {
      width: 50%;
    }
    .multiple-select-wrapper {
      border: 1px solid #ced4da;
      width: 60%;
      margin: 0 auto;
      border-radius: 6px;
      padding-bottom: 7px;
      .multiple-select {
        width: 100%;
        height: 32px;
        border: none;
        border-radius: 0;
        outline: none;
      }
    }
    .error {
      display: none;
      position: relative;
      top: 11px;
      color: red;
    }
    .progress {
      width: 350px;
      margin: 0 auto;
      margin-top: 40px;
    }
    input {
      padding-left: 15px;
    }
  }
}
