.press-kit-page {
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
  }
  .heading {
    .col-lg-3 {
      text-align: right;
      img {
        display: inline;
      }
      p {
        display: inline;
      }
    }
  }
  .press-kit__hero-bg {
    color: #fff;
    background-image: url(../img/press-hero.png);
    background-size: 100%;
    background-position: center;
  }
  .press-kit__news {
    h2 {
      font-size: 40px;
    }
    .years {
      @media only screen and (max-width: 991px) {
        display: none;
      }
      list-style-type: none;
      ul {
        list-style-type: none;
        li {
          border-left: 5px solid #979797;
          height: 50px;
          padding-left: 15px;
          padding-top: 15px;
          font-weight: 500;
          font-size: 16px;
          color: #354049;
          mix-blend-mode: normal;
          opacity: 0.5;
          cursor: pointer;
        }
        .active {
          border-left: 5px solid #2582FF;
          color: #000;
          font-weight: bold;
          opacity: 1;
        }
      }
    }
    .mobile-article-group {
      display: none;
      @media only screen and (max-width: 991px) {
        display: block;
      }
    }
    .article-group {
      display: none;
    }
    .current-year {
      display: block;
      @media only screen and (max-width: 991px) {
        display: none;
      }
    }
    .article {
      display: none;
      h4 {
        a {
          font-weight: bold;
          font-size: 16px;
          color: #2582FF;
        }
      }
      .press-date {
        font-weight: 300;
        font-size: 14px;
      }
      .press-source {
        font-weight: 300;
        font-size: 16px;
        line-height: 40px;
        letter-spacing: 0.5px;
        float: right;
      }
    }
    #loadMore {
      margin: 0 auto;
      p {
        font-family: Poppins;
        font-weight: 800;
        font-size: 14px;
        line-height: 41px;
        text-align: center;
        color: #2582FF;
        border: 2px solid #2582FF;
        width: 244px;
        height: 46px;
        border-radius: 5px;
        cursor: pointer;
      }
    }

  }
  .press-kit__terminology {
    .container-fluid {
      .terms {
        @media only screen and (max-width: 768px) {
          overflow-x: auto;
          flex-wrap: nowrap;
        }
      }
      .heading {
        @media only screen and (max-width: 768px) {
          text-align: center;
        }
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 28px;
        }
      }
      .term-segment {
        @media only screen and (max-width: 768px) {
          display: inline-block;
          float: none;
          background: #fff;
          margin-right: 10px;
          max-width: 75%;
        }
        h4 {
          font-style: italic;
          font-weight: bold;
          font-size: 14px;
          line-height: 21px;
        }
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 19px;
          letter-spacing: 0.5px;
        }
      }
    }
  }
  .press-kit__mascot {
    .title {
      padding-left: 0;
    }
    .download-btn {
      text-align: right;
      p {
        display: inline;
      }
    }
    .image {
      img {
        min-width: 550px;
      }
    }
    @media only screen and (max-width: 1200px) {
      .image {
        img {
          min-width: 450px;
        }
      }
    }
    @media only screen and (max-width: 991px) {
      .image {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
  .press-kit__logo {
    .heading {
      @media only screen and (max-width: 991px) {
        text-align: center;
      }
      .col-lg-3 {
        img {
          display: inline;
        }
        p {
          display: inline;
        }
      }
    }
    .pt-4 {
      display: flex;
      justify-content: space-between;
      .logo {
        max-width: 47.5%;
        height: 160px;
        border-radius: 10px;
        border: 1px solid #A1A8B1;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: 991px) {
          max-width: 100%
        }
      }
    }
  }
  .press-kit__fonts {
    .font {
      max-width: 47.5%;
      height: 160px;
      border-radius: 10px;
      border: 1px solid #A1A8B1;
      margin: 10px;
      padding: 0;
      @media only screen and (max-width: 991px) {
        max-width: 100%
      }
      .display {
        border-bottom: 1px solid #A1A8B1;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        h4 {
          font-size: 35px;
        }
        p {
          font-style: normal;
          font-weight: 300;
          font-size: 23px;
          line-height: 30px;
          width: 90%;
          margin: 0 auto;
        }
      }
      .desc {
        padding: 10px 20px;
        background: #F4F6F9;
        height: 40%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        p {
          font-family: Poppins;
          font-style: normal;
          font-size: 12px;
          line-height: 21px;
          margin-bottom: 0;
          margin-top: 1px;
        }
      }
    }
  }

  .press-kit__colors {
    .color {
      max-width: 31%;
      height: 111px;
      border-radius: 10px;
      border: 1px solid #A1A8B1;
      margin: 10px;
      padding: 0;
      @media only screen and (max-width: 991px) {
        max-width: 100%
      }
      .visual {
        height: 50%;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
      }
      .text {
        padding: 10px 20px;
        p {
          font-family: Poppins;
          font-style: normal;
          font-size: 12px;
          line-height: 11px;
          margin-bottom: 11px;
        }
      }
    }
  }
}
