.press-kit-page {
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
  }
  .heading {
    .col-lg-3 {
      text-align: right;
      img {
        display: inline;
      }
      p {
        display: inline;
      }
    }
  }
  .download-btn {
    a {
      color: #7E8B9C;
      p {
        position: relative;
        right: 5px;
        display: inline;
      }
      img {
        position: relative;
        top: 2px;
      }
    }
  }
  .press-kit__hero {
    @media only screen and (max-width: 991px) {
      background: linear-gradient(114.84deg, #133E9C -22.37%, #00091E 63.82%);
    }
    .hero_bg {
      color: #fff;
      background-image: url(../img/press-hero.png);
      background-size: cover;
      background-position: 0 0;
      background-repeat: no-repeat;
      @media only screen and (max-width: 991px) {
        background-position: 30% 0;
      }
       @media only screen and (max-width: 768px) {
         background-image: url(../img/internet-future.png);
         background-position: 100% 430px;
         background-size: 620px;
         height: 850px;
       }

       @media only screen and (max-width: 600px) {
         background-position: 100% 390px;
         background-size: 430px;
         height: 700px;
       }
      .hero_msg {
        @media only screen and (max-width: 768px) {
          text-align: center;
          margin: 0 auto;
        }
      .hero__cta-button-wrapper {
          .hero_signup-btn {
            width: 244px;
            height: 46px;
            background: #fff;
            border: none;
            border-radius: 5px;
            color: #2582FF;
            font-weight: 900;
            font-size: 14px;
          }
          .hero_contact-us {
            color: #fff;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 28px;
            display: inline;
            margin-left: 20px;
            @media only screen and (max-width: 768px) {
              display: block;
              margin-left: 0;
              margin-top: 30px;
            }
          }
        }
      }
    }
  }
  .press-kit__news {
    .news_title {
      font-size: 40px;
    }
    .news_years-wrapper {
      @media only screen and (max-width: 991px) {
        display: none;
      }
      list-style-type: none;
      .news_years-list {
        list-style-type: none;
        .news_year {
          border-left: 5px solid #979797;
          height: 50px;
          padding-left: 15px;
          padding-top: 15px;
          font-weight: 500;
          font-size: 16px;
          color: #354049;
          mix-blend-mode: normal;
          opacity: 0.5;
          cursor: pointer;
        }
        .active {
          border-left: 5px solid #2582FF;
          color: #000;
          font-weight: bold;
          opacity: 1;
        }
      }
    }
    .news_mobile-article-group {
      display: none;
      @media only screen and (max-width: 991px) {
        display: block;
      }
    }
    .news_desktop-article-group {
      display: none;
    }
    .current-year {
      display: block;
      @media only screen and (max-width: 991px) {
        display: none;
      }
    }
    .news_article {
      display: none;
      .news_article-name {
        .news_article-name-link {
          font-weight: bold;
          font-size: 16px;
          color: #2582FF;
        }
      }
      .news_press-date {
        font-weight: 300;
        font-size: 14px;
      }
      .news_press-source {
        font-weight: 300;
        font-size: 16px;
        line-height: 40px;
        letter-spacing: 0.5px;
        float: right;
      }
    }
    #loadMore {
      margin: 0 auto;
      .news_load-more-btn {
        font-family: Poppins;
        font-weight: 800;
        font-size: 14px;
        line-height: 41px;
        text-align: center;
        color: #2582FF;
        border: 2px solid #2582FF;
        width: 244px;
        height: 46px;
        border-radius: 5px;
        cursor: pointer;
      }
    }

  }
  .press-kit__terminology {
    .container-fluid {
      .terms {
        @media only screen and (max-width: 768px) {
          overflow-x: auto;
          flex-wrap: nowrap;
        }
      }
      .heading {
        @media only screen and (max-width: 768px) {
          text-align: center;
        }
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 28px;
        }
      }
      .term-segment {
        @media only screen and (max-width: 768px) {
          display: inline-block;
          float: none;
          background: #fff;
          margin-right: 10px;
          max-width: 75%;
        }
        h4 {
          font-style: italic;
          font-weight: bold;
          font-size: 14px;
          line-height: 21px;
        }
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 19px;
          letter-spacing: 0.5px;
        }
      }
    }
  }
  .press-kit__mascot {
    @media only screen and (max-width: 1200px) {
      .image {
        img {
          min-width: 450px;
        }
      }
    }
    @media only screen and (max-width: 991px) {
      .image {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    .title {
      padding-left: 0;
    }
    .download-btn {
      text-align: right;
      p {
        display: inline;
      }
      img {
        top: -2px;
      }
    }
    .image {
      img {
        min-width: 550px;
      }
    }
  }
  .press-kit__logo {
    .heading {
      @media only screen and (max-width: 991px) {
        text-align: center;
      }
      .download-btn {
        display: block;
        @media only screen and (max-width: 991px) {
          display: none;
        }
      }
      .col-lg-3 {
        img {
          display: inline;
        }
        p {
          display: inline;
        }
      }
    }
    .pt-4 {
      display: flex;
      justify-content: space-between;
      .logo {
        max-width: 47.5%;
        height: 160px;
        border-radius: 10px;
        border: 1px solid #A1A8B1;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: 991px) {
          max-width: 100%
        }
      }
    }
    .download-btn.bottom {
      display: none;
      @media only screen and (max-width: 991px) {
        display: block;
      }
    }
  }
  .press-kit__fonts {
    .font {
      max-width: 47.5%;
      height: 160px;
      border-radius: 10px;
      border: 1px solid #A1A8B1;
      margin: 10px;
      padding: 0;
      @media only screen and (max-width: 991px) {
        max-width: 100%
      }
      .display {
        border-bottom: 1px solid #A1A8B1;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        h4 {
          font-size: 35px;
        }
        p {
          font-style: normal;
          font-weight: 300;
          font-size: 23px;
          line-height: 30px;
          width: 90%;
          margin: 0 auto;
        }
      }
      .desc {
        padding: 10px 20px;
        background: #F4F6F9;
        height: 40%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        p {
          font-family: Poppins;
          font-style: normal;
          font-size: 12px;
          line-height: 21px;
          margin-bottom: 0;
          margin-top: 1px;
        }
      }
    }
  }

  .press-kit__colors {
    .press-kit__colors-color {
      max-width: 31%;
      height: 111px;
      border-radius: 10px;
      border: 1px solid #A1A8B1;
      margin: 10px;
      padding: 0;
      background: #fff;
      @media only screen and (max-width: 991px) {
        max-width: 100%
      }
      .press-kit__colors-visual {
        height: 50%;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
      }
      .press-kit__colors-text {
        padding: 10px 20px;
        .press-kit__colors-color-name, .press-kit__colors-color-hex {
          font-family: Poppins;
          font-style: normal;
          font-size: 12px;
          line-height: 11px;
          margin-bottom: 11px;
        }
      }
    }
  }

  .press-kit__bottom {
    background: radial-gradient(83.61% 309.43% at 50% 50%, #133E9C 0%, #000000 100%);
    color: #fff;
    .row {
      display: flex;
      justify-content: center;
      .press-kit__bottom-link {
        color: #fff;
        .press-kit__bottom-content {
          font-family: $primary-font;
          font-size: 14px;
          font-weight: bold;
          .press-kit__bottom-img {
            margin-left: 10px;
          }
        }
      }
    }
  }

}
