.tech-partner__partnership-types {
  .tech-partner__partnership-types-content {
    .col-md-6 {
      max-width: 939px;
      height: 320px;
      background: #FFFFFF;
      box-shadow: 0px 4px 74px rgba(31, 49, 76, 0.25);
      border-radius: 10px;
      div {
        width: 80%;
        margin: 0 auto;
        margin-top: 10%;
      }
    }
  }
}
