.tech-partner__heading {
  background: linear-gradient(114.84deg, #133E9C -22.37%, #00091E 63.82%);
  .tech-partner__headline {
    .tech-partner__headline-bg {
      background-image: url(../img/internet-future.png);
      background-repeat: no-repeat;
      background-position: 100% 70px;
      background-size: 650px;
      @media only screen and (max-width: 1200px) {
        background-position: 100% 120px;
      }
   }
   h1, p {
     color: #fff;
   }
  }
  @media only screen and (max-width: 768px) {
    background: radial-gradient(236.22% 100.97% at 50% -4.33%, #0059D1 0%, #000000 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.tech-partner__partnership-types {
  font-size: 18px;
  h2 {
    bottom: 20px;
    position: relative;
    @media only screen and (max-width: 768px) {
      bottom: 30px;
    }
  }
  h4,p {
    font-size: 18px;
  }
  img {
    margin-bottom: 10px;
  }
  .tech-partner__partnership-types-content {
    .col-md-6 {
      max-width: 939px;
      height: 320px;
      background: #FFFFFF;
      box-shadow: 0px 4px 74px rgba(31, 49, 76, 0.25);
      border-radius: 10px;
      div {
        width: 80%;
        margin: 0 auto;
        margin-top: 10%;
      }
    }
  }
  .tech-partner__partnership-types-content-two {
    position: relative;
    left: 30px;
    @media only screen and (max-width: 768px) {
      position: relative;
      top: 30px;
      left: 0;
    }
  }
}

.tech-partner__why, .tech-partner__more-benefits {
  h4 {
    font-size: 14px;
  }

  p {
    font-size: 16px;
  }
}

.tech-partner__who {
  ul {
    list-style-type: none;
    li {
      img {
        float: left;
      }
      h4 {
        font-size: 20px;
      }
    }
  }
}
