.tech-partner__heading {
  background: $color--blue-bg;
  background: linear-gradient(114.84deg, #133e9c -22.37%, #00091e 63.82%);
  @media only screen and (max-width: 768px) {
    background: $color--blue-bg;
    background: radial-gradient(
      236.22% 100.97% at 50% -4.33%,
      #0059d1 0%,
      #000000 100%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .tech-partner__headline {
    @media only screen and (max-width: 738px) {
      text-align: center;
    }
    .tech-partner__headline-bg {
      background-image: url(../img/internet-future.png);
      background-repeat: no-repeat;
      background-position: 100% 90px;
      background-size: 650px;
      @media only screen and (max-width: 991px) {
        background-position: bottom right;
        background-size: 550px;
      }
      @media only screen and (max-width: 768px) {
        background-position: bottom;
        background-size: contain;
        height: 1080px;
      }
      @media only screen and (max-width: 600px) {
        background-position: bottom;
        background-size: contain;
        height: 980px;
      }
      @media only screen and (max-width: 500px) {
        background-position: bottom;
        background-size: contain;
        height: 940px;
      }
      .col-sm-8 {
        @media only screen and (max-width: 600px) {
          margin: 0 auto;
        }
      }
      .tech-partner__cta-button-wrapper {
        @media only screen and (max-width: 768px) {
          text-align: left;
        }
        @media only screen and (max-width: 600px) {
          text-align: center;
        }
      }
    }
    .tech-partner__headline-heading,
    .tech-partner__headline-content {
      color: #fff;
      width: 150%;
      text-align: left;
      @media only screen and (max-width: 600px) {
        width: auto;
        text-align: center;
      }
    }
  }
}

.tech-partner__partnership-types {
  font-size: 18px;
  .tech-partner__partnership-types-heading {
    font-size: 28px;
    bottom: 20px;
    position: relative;
    @media only screen and (max-width: 768px) {
      bottom: 30px;
    }
  }
  .tech-partner__partnership-types-subheading,
  .tech-partner__partnership-types-conent {
    font-size: 18px;
  }
  .tech-partner__partnership-types-section-img {
    margin-bottom: 10px;
  }
  .tech-partner__partnership-types-section {
    .col-md-6 {
      max-width: 939px;
      height: 320px;
      background: #ffffff;
      box-shadow: 0px 4px 74px rgba(31, 49, 76, 0.25);
      border-radius: 10px;
      .tech-partner__partnership-types-section-wrapper {
        width: 80%;
        margin: 0 auto;
        margin-top: 10%;
      }
    }
  }
  .tech-partner__partnership-types-section-two {
    position: relative;
    left: 30px;
    @media only screen and (max-width: 768px) {
      position: relative;
      top: 30px;
      left: 0;
    }
  }

  .spacer125 {
    @media only screen and (max-width: 768px) {
      height: 200px;
    }
  }
}

.tech-partner__why,
.tech-partner__more-benefits {
  .tech-partner__why-heading,
  .tech-partner__more-benefit-heading {
    font-size: 28px;
  }
  .tech-partner__why-subheading,
  .tech-partner__more-benefit-subheading {
    font-size: 14px;
  }

  .tech-partner__why-content,
  .tech-partner__more-benefit-content {
    font-size: 16px;
  }
  .col-xs-12 {
    margin: 30px 0;
    @media only screen and (max-width: 991px) {
      margin: 20px auto;
    }
  }
  .tech-partner__why-heading,
  .tech-partner__more-benefit-heading,
  .col-xs-12 {
    @media only screen and (max-width: 768px) {
      margin: 20px auto;
      width: 90%;
    }
    @media only screen and (max-width: 650px) {
      width: 80%;
    }
  }
  .spacer125 {
    @media only screen and (max-width: 500px) {
      height: 90px;
    }
  }
  .tech-partner__why-image,
  .tech-partner__more-benefit-image {
    height: 40px;
  }
}

.tech-partner__who {
  .tech-partner__who {
    font-size: 28px;
  }

  .tech-partner__who-subheading {
    font-size: 18px;
  }

  .tech-partner__who-list-container {
    position: relative;
    bottom: 10px;
    @media only screen and (max-width: 768px) {
      margin-top: 30px;
      text-align: left;
      .spacer30 {
        height: 25px;
      }
    }
    .tech-partner__who-contact-us-text {
      font-weight: 300;
      font-size: 16px;
      margin-left: 30px;
      @media only screen and (max-width: 768px) {
        margin-left: 0;
        text-align: center;
      }
      .tech-partner__who-contact-us-link {
        color: $color--blue-light;
        font-family: $primary-font;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
      }
    }
    .tech-partner__who-list {
      list-style-type: none;
      .tech-partner__who-list-item {
        @media only screen and (max-width: 768px) {
          position: relative;
          left: 12%;
        }
        @media only screen and (max-width: 500px) {
          left: 0;
        }
        .tech-partner__who-list-img {
          float: left;
          position: relative;
          top: 15px;
          right: 15px;
          @media only screen and (max-width: 768px) {
            right: 25px;
          }
        }
        .tech-partner__who-list-content {
          font-size: 20px;
          width: 110%;
          @media only screen and (max-width: 500px) {
            font-size: 14px;
          }
        }
      }
    }
  }

  .spacer30 {
    @media only screen and (max-width: 768px) {
      height: 50px;
    }
  }

  .spacer125 {
    @media only screen and (max-width: 500px) {
      height: 90px;
    }
  }
}
