.thank-you-page {
  .thank-you {
		&__content-wrapper {
			height: 350px;
		}
    &__content {
      text-align: left;
    }
    &__heading {
      font-size: 32px;
    }
    &__msg {
      font-size: 18px;
      font-weight: 200;
      font-family: 'Roboto'
    }
    &__cta {
      font-weight: 700;
      font-size: 18px;
      color: $color--blue-light;
      .mb-1 {
        position: relative;
        top: 2px;
      }
    }
    &__mascot {
      // background-image: url("/img/tardigrade-mascot.svg");
      // background-size: cover;
      // background-repeat: no-repeat;
      // background-position: center center;
			height: 680px;
			// position: relative;
			// @media (max-width: 1200px) {
      //   height: 620px;
      // }
			z-index: 0;
      @media (max-width: 991px) {
        display: none;
      }
    }
  }

}
