.thank-you-page {
  .thank-you {
    .thank-you__content {
      text-align: left;
    }
    .thank-you__heading {
      font-size: 32px;
    }
    .thank-you__msg {
      font-size: 18px;
      font-weight: 200;
      font-family: 'Roboto'
    }
    .thank-you__cta {
      font-weight: 700;
      font-size: 18px;
      color: $color--blue-light;
      .mb-1 {
        position: relative;
        top: 2px;
      }
    }
    .thank-you__mascot {
      background-image: url("/img/tardigrade-mascot.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
			height: 680px;
			position: relative;
			@media (max-width: 1200px) {
        height: 620px;
      }
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  .fixed-bottom {
    @media (max-width: 991px) {
      position: relative;
    }
  }
}
