.thank-you-page {
  .thank-you {
    &__content-wrapper {
      height: 350px;
    }
    &__content {
      text-align: left;
    }
    &__heading {
      font-size: 32px;
    }
    &__msg {
      font-size: 18px;
      font-weight: 200;
      font-family: "Roboto";
    }
  }
}
