
/* Waitlist */

.waitlist {

  &__container {
    background: url('/img/background.svg') no-repeat;
    background-size: cover;
    height: 105vh;
  }

  &__sub-heading {
    font-size: 14px;
    line-height: 19px;
  }

  &__form {
    &-wrapper {
      background: $color--white;
      box-shadow: 0px 0px 74px rgba(31, 49, 76, 0.25);
      border-radius: 10px;
      z-index: 999;

      input {
        border: 1px solid #96ADBE;
        border-radius: 6px;
        width: 100%;
        height: 40px;
        padding-left: .5rem;
      }
    }

    &-input {
      input {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
      }
    }
  
    &-header {
      margin-bottom: 20px;
      margin-top: 40px;
    }

    &-heading {
      font-size: 19px;
      margin-bottom: 30px;
      font-weight: 600;
    }

    &-description {
      font-size: 16px;
      line-height: 19px;
    }
  
    &-input {
      &-name {
        margin-bottom: 20px;
        min-width: 100px;
      }

      &-email {
        min-width: 220px;
      }
    }

    &-submit {
      font-weight: bold;
      background: $color--blue-light;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      line-height: 20px;
      min-width: 220px;
      letter-spacing: 0.25px
    }
  }

  &__img {
    &-satellite {
      position: absolute;
      z-index: 1000;
    }

    &-mars {
      position: absolute;
      left: 58vw;
      top: 650px;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) {
  .waitlist {
    &__img {
      &-satellite {
        left:5vw;
      }
    }
  }
}

@media (min-width: 1199.98px) {
  .waitlist {
    &__img {
      &-satellite {
        left:20vw;
      }

      &-mars {
        left: 58vw;
        bottom: 0vh;
      }
    }
  }
}

@media (max-width: 576px) {
  .waitlist {
    &__container {
      height: 120vh;
    }
  }
}

@media (max-width: 767.98px) {
  .waitlist {
    &__img {
      &-mars {
        left:68vw;
      }
    }
  }
}

@media (min-height: 949px) {
  .waitlist {
    &__content {
      display: flex;
      align-items: center;
      height: 80vh;
    }

    &__img {
      &-mars {
        top: 1050px;
        left: 55vw;
      }
    }
  }
}