.why {
	&__hero {
		overflow: hidden;
		background: $color--light-bg;
		max-height: 547px;
		@media only screen and (max-width: $breakpoint-lg) {
			max-height: 796px;
			.row {
				display: flex;
			}
			.image {
				order: 2;
			}
			.text {
				order: 1;
			}
		}
	}
	&__bold {
		background-image: url('/img/why-bold-bg.jpg');
		background-size: cover;
		background-position: center;
		background-color: #000;
		background-repeat: no-repeat;
		@media only screen and (max-width: $breakpoint-lg) {
			height: 900px;
			background-position: left bottom;
			background-size: 200%;
			.row {
				display: flex;
			}
			.image {
				order: 2;
			}
			.text {
				order: 1;
			}
		}
	}
	&__found {
		background-color: #f7f8fc;
		background-image: url("/img/why-found-bg.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 400px;
		@media only screen and (max-width: $breakpoint-md) {
			background-position: right bottom;
			background-size: 150%;
			min-height: 720px;
		}
	}
	&__resilient {
		background: $color--light-bg;
		min-height: 576px;
		@media only screen and (max-width: $breakpoint-lg) {
			background: #fff;
		}
		.row {
			min-height: 576px;
		}
		&__image {
			background: url("/img/why-resilient-bg.jpg");
			background-size: cover;
			background-position: center;
			@media only screen and (max-width: $breakpoint-lg) {
				height: 640px;
			}
		}
	}
	&__beast {
		@media only screen and (max-width: $breakpoint-lg) {
			display: none;
		}
	}
}
