/* Tardigrade.io - Highly Distributed. Rediculously Resilient */

/* Base CSS files */
@import "color";
@import "base";

/* Pages */
@import "home";
@import "partner";
@import "legal";
@import "footer";
@import "waitlist";
@import "consent-banner";
@import "community";
@import "press-kit";
