<div class="row align-items-center mb-4">
    <div class="col-md-12 col-lg-6 text-white mb-5 mt-5 mt-lg-0">
        <h1 class="mb-4">Get the Most From Your Account with 1 TB Free</h1>
        <p class="lead pr-5">We’re thrilled you’re still interested in using Tardigrade. To optimize your experience, please take a moment to answer a few questions and we’ll add 1 TB of bandwidth and storage to your account.</p>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card p-5 my-5">
        <h3 class="mb-4">Get Started</h3>
        <form name="submit-to-google-sheet" action="/keep-my-account-1tb-success">
          <label for="email">Account Email Address</label>
          <input type="email" id="email" name="email" value="" placeholder="email@example.com" class="form-control mb-3" required>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" value="" placeholder="First Last" class="form-control mb-3" required>
          <label for="company">Company</label>
          <input type="text" id="company" name="company" value="" placeholder="Company Name" class="form-control mb-3" required>
          <label for="title">Title</label>
          <input type="text" id="title" name="title" value="" placeholder="Position title" class="form-control mb-3" required>
          <button type="submit" class="btn btn-primary btn-lg mt-4">Keep My Account – Get 1 TB Free</button>
        </form>
      </div>
    </div>
</div>

<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbxX0yfoPkAigTlpYFhwjZSt96sFGGQlG8jkiJcQMjcUTiOqEwk/exec'
  const form = document.forms['submit-to-google-sheet']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => window.location.href = "/keep-my-account-1tb-success")
      .catch(error => console.error('Error!', error.message))
  })
</script>

<script>
  function getURLParameter(e) {
  return decodeURI((new RegExp(e + "=(.+?)(&|$)").exec(location.search) || [, ""])[1]);
  }

  if (getURLParameter("email") === "") {
    console.log("No URL param value found.");
  } else {
    document.getElementById("email").value = getURLParameter("email");
  }
</script>
