<div class="partner-form-page ">
  <div class="container-fluid community_hero_bg">
    <div  class="container">
      <div class="spacer20"></div>
      {{partial "nav" .}}
      <div class="spacer15"></div>
    </div>
  </div>
  <div id="partner-form">
    <div id="start-wrapper">
      <h2>Want to learn more about becoming</h2>
      <h2>a Tardigrade.io Open-Source Partner?</h2>
      <div class="spacer30"></div>
      <h2>Great! Let's get started.</h2>
      <div class="spacer25"></div>
      <input type="submit" value="Start" name="start" id="partner-form-start" class ="partner-form-button">
    </div>

    <div style="display:none" id="partner-form-name" class="step active">
      <label for="firstName" class="label">Your First Name *</label>
      <div class="spacer15"></div>
      <input id="firstName" class="user-input required" value="" name="first_name" placeholder="first name" required="">
      <div class="error">Please fill this in</div>
    </div>

    <div style="display:none" class="partner-form-last-name step active">
      <label for="lastName" class="label">Your Last Name</label>
      <div class="spacer15"></div>
      <input id="lastName" class="user-input not-required" value="" name="last_name" placeholder="last name">
      <div class="error">Please fill this in</div>
    </div>

    <div style="display:none" class="partner-form-title step active">
      <label for="title" class="label">Your Title *</label>
      <div class="spacer15"></div>
      <input id="title" class="user-input required" value="" name="title" placeholder="title" required="">
      <div class="error">Please fill this in</div>
    </div>

    <div style="display:none" class="partner-form-company step active">
      <label for="company" class="label">Your Company *</label>
      <div class="spacer15"></div>
      <input id="company" class="user-input required" value="" name="company" placeholder="company" required="">
      <div class="error">Please fill this in</div>
    </div>

    <div style="display:none" class="partner-form-company-website step active">
      <label for="companyWebsite" class="label">Your Company Website</label>
      <div class="spacer15"></div>
      <input id="companyWebsite" class="user-input not-required" value="" name="company_website"  placeholder="company website">
      <div class="error">Please fill this in</div>
    </div>

    <div style="display:none" class="partner-form-company-email step active">
      <label for="email" class="label">Your Email *</label>
      <div class="spacer15"></div>
      <input id="email" class="user-input user-email required" value="" name="email"  placeholder="email" required="">
      <div class="error">This email is not formatted correctly</div>
    </div>

    <div style="display:none" class="partner-form-company-number step active">
      <label for="number" class="label">Best number we can reach you at</label>
      <div class="spacer15"></div>
      <input id="number" class="user-input not-required" value="" name="number"  placeholder="number">
      <div class="error">Please fill this in</div>
    </div>

    <div style="display:none" class="partner-form-use-case step active form-group">
      <label class="label">Tell us more about your use case please, which of the following applies (choose as many):</label>
      <div class="spacer15"></div>
      <div class="multiple-select-wrapper">
        <select class="custom-select multiple-select" multiple>
          <option class="use-case">Basic R&D and evaluation of Tardigrade for inclusion in a future project</option>
        </select>
        <select class="custom-select multiple-select" multiple>
          <option class="use-case">Temporary storage of data for transit between external file systems</option>
        </select>
        <select class="custom-select multiple-select" multiple>
          <option class="use-case">Transfer of large files over the internet</option>
        </select>
        <select class="custom-select multiple-select" multiple>
          <option class="use-case">General object storage</option>
        </select>
        <select class="custom-select multiple-select" multiple>
          <option class="use-case">Other</option>
        </select>
      </div>
      <div class="error">A choice must be made to continue!</div>
    </div>

    <div style="display:none" class="partner-form-data-amount  step active form-group">
      <label class="label">WHat is the total amount of data that you will store in the Tardigrade platform (TB stored in a typical month)?</label>
      <div class="spacer15"></div>
      <select class="custom-select" multiple>
        <option class="data-amount" selected>< 1 TB</option>
        <option class="data-amount">1-10 TB</option>
        <option class="data-amount">10-100 TB</option>
        <option class="data-amount">> 100 TB</option>
        <option class="data-amount">> 1000 TPB</option>
      </select>
      <div class="error">A choice must be made to continue!</div>
    </div>

    <div style="display:none" class="partner-form-file-size  step active form-group">
      <label class="label">What file sizes will you usually upload?</label>
      <div class="spacer15"></div>
      <select class="custom-select" multiple>
        <option class="file-size" selected>< 1 MB</option>
        <option class="file-size">1 GB</option>
        <option class="file-size">10-100 GB</option>
        <option class="file-size">> 100 GB</option>
        <option class="file-size">> 1 TB</option>
      </select>
      <div class="error">A choice must be made to continue!</div>
    </div>

    <div style="display:none" class="partner-form-how-long step active">
      <label for="howLong" class="label">How long do you need the data to be stored on the network before you no longer need the data?</label>
      <div class="spacer15"></div>
      <input id="howLong" class="user-input not-required" value="" name="how_long_data_needed"  placeholder="length of time">
      <div class="error">Please fill this in</div>
    </div>

    <div style="display:none" class="partner-form-per-month step active form-group">
      <label class="label">What number of times do you plan to download your data set per month?</label>
      <div class="spacer15"></div>
      <select class="custom-select" multiple>
        <option class="per-month" selected>Very infrequently</option>
        <option class="per-month">< 20% of the total data per month</option>
        <option class="per-month">< 1 time per month</option>
        <option class="per-month">Multiple times per month</option>
      </select>
      <div class="error">A choice must be made to continue!</div>
    </div>

    <div style="display:none" id="step-buttons">
      <div class="spacer25"></div>
      <input style="display:none" type="submit" value="Back" name="back" id="partner-form-back">
      <input type="submit" value="Next" name="next" class="partner-form-button" id="partner-form-next">
      <input style="display:none" type="submit" value="Submit" name="submit" class="partner-form-button" id="partner-form-submit">
    </div>

    <div style="display:none" id="progress-bar-wrapper" class="progress">
      <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 8.3%;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="12">1</div>
    </div>

  </div>
</div>
