<div method="post" id="partner-form">
  <div class="partner-form-name step active">
    <input style="height:50%; font-size: 14px" class="input" value="" name="first_name" placeholder="fist name" required="">
  </div>

  <div style="display:none" class="partner-form-last-name step active">
    <input style="height:50%; font-size: 14px" class="input" value="" name="last_name" placeholder="last name" required="">
  </div>

  <div style="display:none" class="partner-form-title step active">
    <input style="height:50%; font-size: 14px" class="input" value="" name="title" placeholder="title" required="">
  </div>

  <div style="display:none" class="partner-form-company step active">
    <input style="height:50%; font-size: 14px" class="input" value="" name="company" placeholder="company" required="">
  </div>

  <div style="display:none" class="partner-form-company-website step active">
    <input style="height:50%; font-size: 14px" class="input" value="" name="company_website"  placeholder="company website" required="">
  </div>

  <div style="display:none" class="partner-form-company-email step active">
    <input style="height:50%; font-size: 14px" class="input" value="" name="company_email"  placeholder="email" required="">
  </div>

  <div style="display:none" class="partner-form-use-case step active form-group">
    <select class="custom-select" multiple>
      <option class="use-case" selected> Basic R&D and evaluation of Tardigrade for inclusion in a future project</option>
      <option class="use-case"> Temporary storage of data for transit between external file systems</option>
      <option class="use-case"> Transfer of large files over the internet</option>
      <option class="use-case"> General object storage</option>
      <option class="use-case"> Other</option>
    </select>
  </div>

  <div style="display:none" class="partner-form-data-amount  step active form-group">
    <select class="custom-select" multiple>
      <option class="data-amount">< 1 TB</option>
      <option class="data-amount">1-10 TB</option>
      <option class="data-amount">10-100 TB</option>
      <option class="data-amount">> 100 TB</option>
      <option class="data-amount">> 1000 TPB</option>
    </select>
  </div>

  <div style="display:none" class="partner-form-file-size  step active form-group">
    <select class="custom-select" multiple>
      <option class="file-size">< 1 MB</option>
      <option class="file-size">1 GB</option>
      <option class="file-size">10-100 GB</option>
      <option class="file-size">> 100 GB</option>
      <option class="file-size">> 1 TB</option>
    </select>
  </div>

  <div style="display:none" class="partner-form-how-long step active">
    <input style="height:50%; font-size: 14px" class="input" value="" name="how_long_data_needed"  placeholder="email" required="">
  </div>

  <div style="display:none" class="partner-form-per-month  step active form-group">
    <select class="custom-select" multiple>
      <option class="per-month">Very infrequently</option>
      <option class="per-month"> < 20% of the total data per month</option>
      <option class="per-month">< 1 time per month</option>
      <option class="per-month">Multiple times per month</option>
    </select>
  </div>

  <div class="clear"><input style="height:50%; font-size: 14px" type="submit" value="Next" name="next" id="partner-form-next"></div>
  <div class="clear"><input style="height:50%; font-size: 14px" type="submit" value="Submit" name="submit" id="partner-form-submit"></div>

</div>
