<!DOCTYPE html>
<html lang="en">
<head>
	{{ partial "head" . }}
</head>
<body class="page connectors">
	<header class="connectors__hero">

		{{ partial "connectors/hero" .}}
	</header>
	<div id="#native" class="connectors__partners">
		{{partial "connectors/categoryPartners" . }}
	</div>
	<footer>
		{{partial "footer" . }}
	</footer>

	{{partial "site-scripts" .}}
</body>
</html>

<script type="text/javascript">
//grab first four articles of currently active year
$("#native .connectors__partners__partner").slice(0, 8).css("display", "block");

$("#loadMore").click(function(e){ // click event for load more
	e.preventDefault();
	if($("#native .connectors__partners__partner:hidden").length !== 0){ // check if any hidden divs still exist
		$("#native .connectors__partners__partner:hidden").slice(0, 8).css("display", "block");
		if($("#native connectors__partners__partners:hidden").length === 0) {
			$("#loadMore").hide()
		}
	} else if($("#native connectors__partners__partners:hidden").length === 0){
		$("#loadMore").hide()
	}
});

// search logic
$("#searchInput").on("keyup", function() {
	var value = $(this).val().toLowerCase();
	$(".connectors__partners__partner").filter(function() {
		$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		if($(".connectors__partners__partner:visible").length < 9) {
			$("#loadMore").hide()
		}

		if(value.length == 0) {
			$(".connectors__partners__partner").css("display", "none");
			$(".connectors__partners__partner").slice(0, 8).css("display", "block");
			$("#loadMore").show()
		}
	});
});

</script>
