<div class="container-fluid single-connector__content">
	<div class="container">
		<div class="row">
			{{with .context.Site.GetPage .connectorInfo}}
			<div class="col-md-7 top-column">
				<div>
					<h3 class="single-connector__section-header">About</h3>
					<p class="single-connector__section-text about-text">{{ .Params.about }}</p>
				</div>
				<div>
					<button class="single-connector__button fill">Download</button>
					<a target="_blank" href="/signup"><button class="single-connector__button">Join Tardigrade</button></a>
				</div>
				<div class="spacer90"></div>
			</div>
			<div class="col-lg-4 col-md-5  offset-lg-1">
				<div class="column-section">
					<p class="column-section__title">Details</p>
					<ul class="column-section__column left">
						<li class="column-section__list-item">Released</li>
						<li class="column-section__list-item value">{{ .Params.released }}</li>
					</ul>
					<ul class="column-section__column right">
						<li class="column-section__list-item">Version</li>
						{{if .Params.version }}
						<li class="column-section__list-item value">1.3.22</li>
						{{end}}
					</ul>
				</div>
				<div class="column-section">
					<p class="column-section__title">Resources</p>
					<ul class="column-section__link-section">
						<li class="column-section__link-wrapper"><a class="column-section__link" href="#">Docs</a></li>
						{{if .Params.repo}}
						<li class="column-section__link-wrapper"><a class="column-section__link" href="{{.Params.repo}}">Repo</a></li>
						{{end}}
						<li class="column-section__link-wrapper"><a class="column-section__link" href="#">Website</a></li>
					</ul>
				</div>
				<div class="column-section">
					<p class="column-section__title">Links</p>
					<ul class="column-section__link-section">
						<li class="column-section__link-wrapper"><a target="_blank" class="column-section__link" href="/signup">Join Tardigrade</a></li>
						<li class="column-section__link-wrapper"><a target="_blank" class="column-section__link" href="/login">Sign In</a></li>
						<li class="column-section__link-wrapper"><a target="_blank" class="column-section__link" href="/community">Community</a></li>
					</ul>
				</div>
			</div>
			{{end}}
		</div>
		<div class="row">
			<div class="col-md-7">
				<div class="single-connector__main">
					<div class="row single-connector__main__wrapper">
						<div class="spacer60"></div>
						<div class="row">
							<h3 class="single-connector__main__header">Why Tardigrade is Perfect for Filezilla</h3>
						</div>
						{{ range where .context.Site.Pages ".Params.class" "connector-content"}}
						<div class="col-sm-12 col-md-6 single-connector__main__section">
							<img class="single-connector__main__section__image" src="{{ .Params.image }}" alt="Why Tardigrade Icon" />
							<h4 class="single-connector__main__section__title">{{ .Params.title }}<h4>
								<p class="single-connector__main__section__text">{{ .Params.text }}</p>
							</div>
							{{ end }}
						</div>
						<div class="single-connector__bottom-section">
							<h3 class="single-connector__section-header">How Tardigrade Works</h3>
							<div class="single-connector__video-wrapper embed-responsive embed-responsive-16by9">
								<iframe
								width="100%"
								height="100%"
								class="embed-responsive-item"
								style=""
								src="https://www.youtube.com/embed/RtyBjWmbePQ"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen
								>
							</iframe>
						</div>
						<p class="single-connector__section-text">Files are encrypted and split into pieces client-side, then distributed across our network of high-performance Storage Nodes, making it virtually impossible for your data to be compromised.</p>
						<a target="_blank" href="/signup"><button class="single-connector__button">Get Started</button></a>
						<div class="spacer90"></div>
					</div>
				</div>
			</div>
			<div class="offset-md-1 offset-lg-1 col-md-4">

			</div>
		</div>
	</div>
</div>
