{{ with .Site.GetPage "more-partner-benefits"}}
<div class="container-fluid">
  <div class="container">
    <div class="spacer30"></div>
    <div class="spacer30"></div>
    <div class="row">
      <div class="col text-center mt-5">
        <h2>
            {{ replace .Params.heading "\n" "<br/>" | safeHTML}}
        </h2>
      </div>
    </div>
    <div class="pt-5 row d-flex flex-row">
      {{ range where .Site.Pages ".Params.class" "more-benefits-icons"}}
        <div class="col-xs-12 col-lg-4">
          <img class="img-fluid" src="{{ .Params.img }}" alt="benefits icon">
          <div class="pt-3">
            <h4>
                {{ .Params.heading }}
            </h4>
            <p>
                {{ .Params.content }}
            </p>
          </div>
        </div>
      {{ end }}
    </div>
    <div class="spacer125"></div>
  </div>
</div>
{{end}}
