<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXWQXGX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ with .Site.GetPage "banner"}}
<div class="container-fluid banner">
  <div class="container">
    <div class="row banner">
      <h4 class=" col-6 banner-text text-left">{{.Params.leftText}}</h4>
      <h4 class=" col-6 banner-text text-right">
          <a href="https://storj.io">
        {{.Params.rightText}}
        <img src="/img/storj-logo.svg"/><img src="/img/carrot-right.svg"/>
        </a>
      </h4>
    </div>
  </div>
</div>
{{end}}
