<div class="container ">
        <div style="margin-top:45px;"></div>
        <div style="margin-top:45px;"></div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 col-lg-offset-1">
          <h1 style="font-size:30px;line-height:40px;color: #1A2751;"><strong>Decentralized cloud object storage that is affordable, easy to use, private, and secure.</strong></h1>
          <p style="color: #1A2751;;opacity: 0.7;font-size:16px;">The Storj Network uses client-side encryption so data owners can trust that only they can access their files. Its S3 compatibility also makes it simple to implement and scale along with your needs.</p>
          <div class="spacer5"></div>
          <p style="color: #1A2751;;opacity: 0.7;font-size:16px;">Reserve your spot on the Storj Network and get early access to our beta <strong>launching in early 2019.</strong></p>
          <div class="spacer20"></div>
          <a style=" color: #1A2751;" href="/waitlist/"><button class="btn" type="button"  style="	height: 46px;	border: 2px solid #1A2751;	border-radius: 4px;margin-top:25px;margin-bottom:25px;"><strong>JOIN THE WAITLIST</strong></button></a>
        <div class="spacer50"></div>
        </div>   
    
        <div class="col-xs-12 col-sm-10 col-md-5 col-md-offset-1 col-lg-3" style="height:390px;width:379px;" >
          <img src="{{ .Site.BaseURL }}/img/tardigrade-io-illustration.svg"/>
          </div>
      
        </div>
        </div>
    
    
    
        <div class="container ">
            <div class="row">
    
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="spacer45"></div>
                  <div class="spacer45"></div>
                  <div class="col-xs-11  col-sm-10 col-sm-offset-4 col-md-5 col-md-offset-0 col-lg-5 col-lg-offset-1" style="background-color: gray;opacity:0.2;height:328px;width:322px;" >
                    </div>
      
            <div style="position:relative;z-index: 2;" class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-1 ">
      
              <h1 style="font-size:26px;line-height:40px;color: #1A2751;"><strong>Introducing the Open-Source Partner Program</strong></h1>
              <p style="color:#FFFFFF;opacity: 0.7;font-size:16px;color:#333333">Open-source projects can generate revenue when your users incorporate our service as their storage layer. Through simple connectors, Storj has created many mutually beneficial relationships with top open-source companies from around the world.</strong></p>
              <div class="spacer20"></div>
              <a style=" color: #1A2751;"href="https://storjsupport.typeform.com/to/dEzmtr"><button class="btn" type="button"  style="	height: 46px;	border: 2px solid #1A2751;	border-radius: 4px;margin-top:25px;"><strong>TALK WITH US</strong></button></a>
              <div class="spacer50"></div>
            
            </div>
      
        
          </div>
          
          </div>
        </div>
        <div class="spacer45"></div>
    
      </div>
    </div>
    </div>