<nav class="navbar navbar-expand-lg p-0">

    <a class="navbar-brand" href="/">
        <img alt="Storj Labs logo in white" src="/img/tar-logo-whit-horizontal.svg" style="margin-top:-14px;"/>
    </a>

    <button class="navbar-toggler navbar-light bg-light"  type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"  id="navbarToggler">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3 active">
            <p class="nav-link navlink">
                <a href="https://documentation.tardigrade.io/" target="_blank">
                    Docs
                </a>
                <span class="sr-only">(current)</span>
            </p>
        </li>

          <li class="nav-item mr-3 active">
              <a class="nav-link" href="/community/">
                  <p class="navlink">
                      Community
                      <span class="sr-only">(current)</span>
                  </p>
              </a>
          </li>

        <li class="btn-group nav-item mr-3 active">
            <button type="button" class="navlink btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Partners
              <span class="sr-only">(current)</span>
            </button>
            <div class="dropdown-menu">
              <p class="dropdown-item" href="#">Our Partners</p>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/partner">Open Source Partners<img src="/img/blue-carrot.svg" height="13" width="13"></a>
              <a class="dropdown-item" href="/tech-partner">Technology Partners<img src="/img/blue-carrot.svg" height="13" width="13"></a>
            </div>
        </li>
        <li class="nav-item mr-3 active">
            <a class="nav-link" href="https://support.tardigrade.io/hc/en-us">
                <p class="navlink">Support
                <span class="sr-only">(current)</span>
                </p>
            </a>
        </li>
        </ul>
        <a href="/waitlist/" style="margin-top:-15px;">
            <button class="btn my-2 my-sm-0 nav-join">
                Get Started
            </button>
        </a>
    </div>
</nav>
