<nav class="navbar navbar-expand-lg p-0">

    <a class="navbar-brand" href="/">
        <img class="logo-white" alt="Tardigrade logo" src="/img/tar-logo-whit-horizontal.svg" style="margin-top:-14px;"/>
				<img class="logo-blue" alt="Tardigrade logo" src="/img/tar-logo-blue-horizontal.svg" style="margin-top:-14px;"/>
    </a>

    <button class="navbar-toggler navbar-light bg-light"  type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
				<img class="exit-icon" src="/img/exit-icon.svg" />
    </button>

    <div class="collapse navbar-collapse"  id="navbarToggler">
        <ul class="navbar-nav ml-auto">
					<li class="btn-group nav-item mr-3 active">
	            <button type="button" class="navlink btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	              Developers
	              <span class="sr-only">(current)</span>
	            </button>
	            <div class="dropdown-menu">
	              <p class="dropdown-header" href="#">For Developers</p>
	              <div class="dropdown-divider"></div>
	              <a class="dropdown-item" href="https://documentation.tardigrade.io/">Docs<img class="dropdown-icon" src="/img/blue-carrot.svg" height="13" width="13"></a>
								<a class="dropdown-item" href="/connectors">Connectors<img class="dropdown-icon" src="/img/blue-carrot.svg" height="13" width="13"></a>
	              <a class="dropdown-item" href="/community">Community<img src="/img/blue-carrot.svg" height="13" width="13"></a>
								<a class="dropdown-item" href="https://support.tardigrade.io/hc/en-us">Support<img class="dropdown-icon" src="/img/blue-carrot.svg" height="13" width="13"></a>
	            </div>
	        </li>
	        <li class="btn-group nav-item mr-3 active">
	            <button id="partnerButton" type="button" class="navlink btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	              Partners
	              <span class="sr-only">(current)</span>
	            </button>
	            <div class="dropdown-menu">
	              <p class="dropdown-header" href="#">Our Partners</p>
	              <div class="dropdown-divider"></div>
	              <a class="dropdown-item" href="/partner">Open Source Partners<img class="dropdown-icon" src="/img/blue-carrot.svg" height="13" width="13"></a>
	              <a class="dropdown-item" href="/tech-partner">Technology Partners<img class="dropdown-icon" src="/img/blue-carrot.svg" height="13" width="13"></a>
	            </div>
	        </li>
	        <li class="nav-item mr-3 active">
	            <a class="nav-link" href="https://support.tardigrade.io/hc/en-us">
	                <p class="navlink">Support
	                <span class="sr-only">(current)</span>
	                </p>
	            </a>
	        </li>
					<li class="nav-item mr-3 active">
							<a class="nav-link blog-link" href="/blog">
									<p class="navlink">Blog
									<span class="sr-only">(current)</span>
									</p>
							</a>
					</li>
        </ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item mr-3 active">
						<a class="nav-link login-link" href="/login">
								<p class="navlink">Sign In
								<span class="sr-only">(current)</span>
								</p>
						</a>
					</li>
					<li class="nav-item active">
		        <a href="/signup">
		            <button class="btn my-2 my-sm-0 nav-join">
		                Get Started
		            </button>
		        </a>
					</li>
					<li class="nav-item active login-link-mobile">
						<a class="nav-link" href="/login">
								<p class="navlink">Sign In
								<span class="sr-only">(current)</span>
								</p>
						</a>
					</li>
    </div>
</nav>

<script type="text/javascript">
	var partnerButton = document.getElementById("partnerButton");
	var clickCount = 0;

	partnerButton.onclick = function (event) {
		clickCount = clickCount + 1
		if(clickCount === 2) {
			window.location.href = "/partners";
		}
	}

</script>
