<script src="/scripts/jquery-3.5.1.slim.min.js"></script>
<script src="/scripts/popper.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script>
    function select(e){
        var currentTab = e.parentNode;
        var choices = currentTab.parentNode.children;
        for(var i = 0; i < choices.length; i++){
            choices[i].children[0].classList.remove("active");
            choices[i].style.borderLeft = "2px solid #DCDCDC";
            choices[i].style.opacity = 0.5 ;
            choices[i].style.fontWeight = 500;
        }
        currentTab.style.borderLeft = "2px solid #2582FF";
        currentTab.style.opacity = 1.0;
        currentTab.style.fontWeight = "bold";
    }
</script>
<script>
    function hasConsented() {
        var name = "tardigrade_cookie_consent=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return true;
            }
        }
        return false;
    }

    function checkConsent(){
        if(hasConsented()){
            closeBanner()
            return
        }
    }

    window.onload = checkConsent();

    function closeBanner(){
        document.cookie = "tardigrade_cookie_consent=true;"
        var consentBanner = document.getElementById("consent-banner");
        consentBanner.classList.remove("d-flex");
        consentBanner.style.display = "none";
        return
    }
</script>

<script type="text/javascript">
  window.onload = function() {

    var button = document.getElementById("mc-embedded-subscribe-footer")

    button.onclick = function (event) {

      event.preventDefault()

      var inputValue = document.getElementById("mce-EMAIL-newsletter").value
      var errElm = document.getElementById("mce-error-response-newsletter");
      var succElm = document.getElementById("mce-success-response-newsletter");

      if (!inputValue || inputValue.length < 0 || !inputValue.includes("@")) {
        if(succElm) {
          succElm.setAttribute("style", "display:none;");
        }
        if(errElm) {
          errElm.setAttribute("style", "display:flex;");
        }
        return;
      } else {
        analytics.identify(inputValue, {email: inputValue, storj_newsletter: true}, {}, function() {
          analytics.track("storj_newsletter", {});
          if(errElm) {
            errElm.setAttribute("style", "display:none;");
          }
          if(succElm) {
            succElm.setAttribute("style", "display:flex;");
          }
        });
      }
    }
  }
</script>

<script type="text/javascript">
		// homepage checkbox
		checkbox.addEventListener('change', (event) => {
			console.log("HIT")
			var checkbox = document.getElementById('checkbox');
			var storageInputValue = document.getElementById("storage").value;
			var downloadInputValue = document.getElementById("download").value;
			var downloadMeasureChoice = ""
			var storageMeasureChoice = ""
			var downloadMeasureElements = document.querySelectorAll(".download-measure")
			var storageMeasureElements = document.querySelectorAll(".storage-measure")

			for (var i = 0; i < downloadMeasureElements.length; i++) {
				if(downloadMeasureElements[i].style.color === "rgb(37, 130, 255)") {
					downloadMeasureChoice = downloadMeasureElements[i].textContent
				}
			}

			for (var i = 0; i < storageMeasureElements.length; i++) {
				if(storageMeasureElements[i].style.color === "rgb(37, 130, 255)") {
					storageMeasureChoice = storageMeasureElements[i].textContent
				}
			}


		  if (event.target.checked) {
				var tardigradeCombination = (storageInputValue * tardigradeCalculation(storageMeasureChoice, "storage")) + (downloadInputValue * tardigradeCalculation(downloadMeasureChoice, "download"))
				var doubledCombination = ((storageInputValue * 2) * tardigradeCalculation(storageMeasureChoice, "storage")) + (downloadInputValue * tardigradeCalculation(downloadMeasureChoice, "download"))

				var tardigradeTotal = renderCalculation(tardigradeCombination)

				tardigradeTotal = renderCalculation(doubledCombination)

				estimate.textContent = tardigradeTotal
				estimateSm.textContent = tardigradeTotal
				tardigradeEstimate.textContent = tardigradeTotal

				tardigradeBar.style.height = renderBarHeight(doubledCombination, tardigradeCombination)

		  } else {
				var tardigradeCombination = (storageInputValue * tardigradeCalculation(storageMeasureChoice, "storage")) + (downloadInputValue * tardigradeCalculation(downloadMeasureChoice, "download"))
				var tardigradeTotal = renderCalculation(tardigradeCombination)

				estimate.textContent = tardigradeTotal
				estimateSm.textContent = tardigradeTotal
				tardigradeEstimate.textContent = tardigradeTotal

				tardigradeBar.style.height = renderBarHeight(tardigradeCombination, tardigradeCombination)

		  }
		})
</script>
