<section class="section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3 text-center">
              <h1 style="margin-bottom:0.3em;color: #1A2751;font-weight: 800;font-size: 40px;">Decentralized Cloud Storage</h1>
              <p style="height: 93px;	opacity: 0.8;	color: rgba(26,39,81,0.9);	font-size: 16px;	line-height: 28px;	text-align: center;">The Storj network is currently being redesigned to scale to support exabytes of data. Sign up now to get first-come, first-serve early access.</p>
    
              <form id="form2" name="form2" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://storj.wufoo.com/forms/m1lo4ys3176ofyo/#public">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1" style="margin-bottom:0;border:none;background-color: rgba(205,205,205,0.25);color: #979797;" placeholder="First Name" required />
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <input id="Field2" name="Field2" type="text" class="field text ln" value="" size="8" tabindex="2" style="margin-bottom:0;border:none;background-color: rgba(205,205,205,0.25);color: #979797;"  placeholder="Last Name" required />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <input style="max-width:1000px;border:none;background-color: rgba(205,205,205,0.25);color: #979797;" id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3" placeholder="Email Address" required />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
                    <input class="btn" id="saveForm" name="saveForm" type="submit" value="GET EARLY ACCESS" style="	height: 46px;	border: 2px solid #1A2751;	border-radius: 4px;margin-top:25px;margin-bottom:25px;font-weight: 800;"/>
                  </div>
                </div>
                <div class="hide">
                  <label for="comment">Do Not Fill This Out</label>
                  <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                  <input type="hidden" id="idstamp" name="idstamp" value="El0OKNOviaoxf+nB0YK5Ls9ANra2v52SNksCbxUKXRo=" />
                </div>
              </form>
              <div>
                <small style="color:grey;font-size: 12px;">Users who have already signed up for the waitlist on <br><a style="color: #1A2751;" href="https://storj.io/sign-up-farmer">storj.io</a> do not need to register again on tardigrade.io.</small>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <div class="spacer35"></div>
    