<div class="why__beat">
  <div class="container">
    <div class="row text-center text-lg-left">
      {{with .Site.GetPage "whyBold" }}
      <div class="col-md-6">
			</div>
			<div class="col-md-6">
				<h2 class="text-white" >
            {{.Params.heading}}
        </h2>
        <p class="lead text-white">
            {{.Params.subheading}}
        </p>
			</div>
      {{end}}
    </div>
  </div>
</div>

{{ range where (where .Site.Pages ".Params.class" "timelineEvents") ".Params.year" "2016" }}
	<div class="about_timeline__item">
		<h5 class="about_timeline__title">{{.Params.title}}</h5>
		<p>{{.Params.subheading}}</p>
	</div>
{{end}}
