<div class="why__bold py-xl-5">
  <div class="container">
    <div class="row text-left py-xl-5 pt-lg-5">
      {{with .Site.GetPage "whyBold" }}
      <div class="col-md-12 col-lg-6 image">
				<!-- <img src={{.Params.imgSm}}/> -->
			</div>
			<div class="col-md-12 col-lg-6 pt-5 mt-md-5 pt-lg-0 px-lg-5">
				<h2 class="mb-4 text-white pt-5 pt-md-0 pt-lg-0">
            {{.Params.heading}}
        </h2>
        <p class="lead text-white">
            {{.Params.subheading}}
        </p>
			</div>
      {{end}}
    </div>
  </div>
</div>
