<div class="why__bold py-xl-5">
  <div class="container">
    <div class="row text-left py-xl-5">
      {{with .Site.GetPage "whyBold" }}
      <div class="col-md-12 col-lg-6 image">
				<!-- <img src={{.Params.imgSm}}/> -->
			</div>
			<div class="col-md-12 col-lg-6 py-5">
				<h2 class="why__header text-white pt-4 mb-4">
            {{.Params.heading}}
        </h2>
        <p class="why__text lead text-white pb-5">
            {{.Params.subheading}}
        </p>
			</div>
      {{end}}
    </div>
  </div>
</div>
