<div class="why__hero">
  {{partial "secondNav" (dict "logo" "/img/tar-logo-blue-horizontal.svg" )}}
  <div class="container">
    <div class="row text-center text-lg-left py-5">
      {{with .Site.GetPage "whyHero" }}
      <div class="col-md-12 col-lg-6 mt-5 image">
				<img src="{{.Params.img}}" alt="Tardigrade Mascot" width="100%"/>
			</div>
			<div class="col-md-12 col-lg-6 text mt-5">
				<h2>
            {{.Params.heading}}
        </h2>
        <p class="my-4">
            {{.Params.subheading}}
        </p>
				<a href="{{.Params.ctaLink}}" class="btn btn-primary btn-lg mt-3 mb-5">
            {{.Params.ctaText}}
        </a>
			</div>
      {{end}}
    </div>
  </div>
</div>
