<div class="why__resilient">
  <div class="container-fluid">
    <div class="row text-left">
      {{with .Site.GetPage "whyResilient" }}
			<div class="why__resilient__text-wrapper col-sm-12 col-lg-6 text-black py-5 px-sm-5 px-md-5 px-lg-5">
				<h2 class="why__header mt-5 mb-4 pt-5 px-md-4 px-lg-5">
            {{.Params.heading}}
        </h2>
        <p class="why__text text-black pb-5 mb-5 px-md-4 px-lg-5">
            {{.Params.subheading}}
        </p>
			</div>
			<div class="why__resilient__image col-sm-12 col-lg-6">
			</div>
      {{end}}
    </div>
  </div>
</div>
