<div class="why__resilient">
  <div class="container-fluid">
    <div class="row text-left">
      {{with .Site.GetPage "whyResilient" }}
			<div class="why__resilient__text-wrapper col-lg-offset-1 col-sm-12 col-lg-offset-1 col-lg-6 py-5 px-5 text-black">
				<h2 class="mt-5 mb-4 pt-5 px-5" >
            {{.Params.heading}}
        </h2>
        <p class="text-black pb-5 mb-5 px-5">
            {{.Params.subheading}}
        </p>
			</div>
			<div class="col-sm-12 col-lg-6 why__resilient__image">
			</div>
      {{end}}
    </div>
  </div>
</div>
