<div class="why__resilient">
  <div class="container">
    <div class="row text-left">
      {{with .Site.GetPage "whyResilient" }}
			<div class="w-75 why__resilient__text-wrapper col-sm-12 col-md-6 col-lg-6 py-5">
				<h2 class="mt-5 mb-4 text-black" >
            {{.Params.heading}}
        </h2>
        <p class="w-75 text-black">
            {{.Params.subheading}}
        </p>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 why__resilient__image">
			</div>
      {{end}}
    </div>
  </div>
</div>
