<!DOCTYPE html>
  <html lang="en">
    <head>
      {{ partial "head" . }}
    </head>
  <body>
    <header>
      {{ partial "banner" .}}
      {{ partial "home/hero" .}}
    </header>
      {{ partial "home/main" .}}
    <footer>
      {{partial "footer" . }}
    </footer>
      {{ partial "site-scripts" .}}
  </body>
</html>
<script type="text/javascript">
  window.onload = function() {
    var button = document.getElementById("mc-embedded-subscribe")

    button.onclick = function (event) {
      event.preventDefault()
      var inputValue = document.getElementById("url-box").value
      console.log("VALUE:", inputValue)
      // analytics.identify(analytics.user().anonymousId(), {email: inputValue}, {}, function() {
      //   analytics.track("developer_sign_up", {});
      // });
    }
  }
</script>
