<!DOCTYPE html>
  <html lang="en">
    <head>
      {{ partial "head" . }}
    </head>
  <body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXWQXGX"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
    <header>
      {{ partial "home/hero" .}}
    </header>
      {{ partial "home/main" .}}
    <footer>
      {{partial "footer" . }}
    </footer>
      {{ partial "site-scripts" .}}
  </body>
</html>

<script type="text/javascript">
  window.onload = function() {
    // form in hero
    var button = document.getElementById("mc-embedded-subscribe")

    button.onclick = function (event) {
      event.preventDefault()

      if(document.getElementsByClassName("cta-email") && document.getElementsByClassName("cta-email")[0]) {

        var inputValue = document.getElementsByClassName("cta-email")[0].value
        var errElm = document.getElementById("mce-error-response");

        if (!inputValue || inputValue.length < 0 || !inputValue.includes("@")) {
              // display error message
          if(errElm) {
            errElm.setAttribute("style", "display:flex;");
          }
          return;
        } else {

          analytics.identify(inputValue, {email: inputValue}, {}, function() {
            analytics.track("developer_sign_up", {});
            window.location = "/thank-you"
          });
        }
      }
    }

    // form above footer
    if(document.getElementsByClassName("cta-btm-join")[0]) {
      var buttomButton = document.getElementsByClassName("cta-btm-join")[0]

      buttomButton.onclick = function (event) {
        event.preventDefault()
        if(document.getElementsByClassName("cta-btm-email") && document.getElementsByClassName("cta-btm-email")[0]) {

          var inputValue = document.getElementsByClassName("cta-btm-email")[0].value;
          var errElm = document.getElementById("mce-error-response-bottom");

          if (!inputValue || inputValue.length < 0 || !inputValue.includes("@")) {
                if(errElm) {
                  errElm.setAttribute("style", "display:flex;");
                }
                return;
          } else {

            analytics.identify(inputValue, {email: inputValue}, {}, function() {
              analytics.track("developer_sign_up", {});
              window.location = "/thank-you"
            });
          }
        }
      }
    }

    // footer newsletter signup
    var newsletterButton = document.getElementById("mc-embedded-subscribe-footer")

    newsletterButton.onclick = function (event) {

      event.preventDefault()
.toLowerCase().trim()
      var errElm = document.getElementById("mce-error-response-newsletter");
      var succElm = document.getElementById("mce-success-response-newsletter");

      if (!inputValue || inputValue.length < 0 || !inputValue.includes("@")) {
        if(succElm) {
          succElm.setAttribute("style", "display:none;");
        }
        if(errElm) {
          errElm.setAttribute("style", "display:flex;");
        }
        return;
      } else {
        analytics.identify(inputValue, {email: inputValue, storj_newsletter: true}, {}, function() {
          analytics.track("storj_newsletter", {});
          if(errElm) {
            errElm.setAttribute("style", "display:none;");
          }
          if(succElm) {
            succElm.setAttribute("style", "display:flex;");
          }
        });
      }
    }
  }
</script>
