<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}
</head>

<body class="page hiw-page">
    {{ partial "banner" .}}
    {{partial "partner/headline" .}}
		<div class="hiw-page__section">
				{{partial "how-it-works/encLocally" .}}
		</div>

		<div class="hiw-page__section">
				{{partial "how-it-works/encFiles" .}}
		</div>

		<div class="hiw-page__section">
				{{partial "how-it-works/filePieces" .}}
		</div>

    <div class="hiw-page__section">
        {{partial "how-it-works/retrieve" .}}
    </div>

		<div class="hiw-page__section">
				{{partial "how-it-works/whyBetter" .}}
		</div>

		<div class="hiw-page__section">
        {{partial "how-it-works/reinventing" .}}
    </div>

    <div class="hiw-page__section">
        {{partial "how-it-works/experience" .}}
    </div>

    <footer>
        {{partial "footer" . }}
    </footer>

    {{partial "site-scripts" .}}
</body>
</html>
