<div class="row align-items-center mb-4">
    <div class="col-md-12 col-lg-6 text-white mb-5 mt-5 mt-lg-0">
        <h1 class="mb-4 pr-lg-5">We’re Sad to See You Go</h1>
        <p class="lead pr-5">Please take a moment to answer a few questions so we can better understand your storage needs.</p>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card p-5 my-5">
        <h3 class="mb-4">Tell Us More</h3>
        <form name="submit-to-google-sheet" action="/deactivate-my-account-success">
          <label for="email">Account Email Address</label>
          <input type="email" id="email" name="email" value="" placeholder="email@example.com" class="form-control mb-3" required>
          <label for="reason">Reason for Closing Account</label>
          <select class="custom-select form-control" id="reason" name="reason" onchange='CheckReason(this.value);' required>
            <option value="" disabled selected>Select a reason</option>
            <option value="dropbox">I was expecting a Dropbox-like service</option>
            <option value="complicated">It was too complicated to upload data</option>
            <option value="payment-method">I didn’t want to add payment method before trying it out</option>
            <option value="use-case">Tardigrade isn’t applicable to my use case</option>
            <option value="other">Other</option>
          </select>
          <textarea class="form-control mt-3" id="otherReason" rows="3" name="other" placeholder="Write your reason here"></textarea>
          <button type="submit" class="btn btn-primary btn-lg mt-4">Close My Account</button>
        </form>
      </div>
    </div>
</div>
