<div class="lite-gray-bg container-fluid thank-you">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="spacer90"></div>
      <div class="col-lg-4 thank-you__content">
        {{ with .Site.GetPage "thankYou" }}
        <h2 class="thank-you__heading">
          {{ replace .Params.heading "\n" "<br/>" | safeHTML}}
        </h2>
        <div class="spacer20"></div>
        <div class="thank-you__msg">
          {{ .Params.content}}
        </div>
        <div class="spacer20"></div>
        <a href="/community">
          <h2 class="thank-you__cta">
            {{ .Params.cta}}
            <img class="mb-1" src="/img/blue-carrot.svg" height="13" width="13"/>
          </h2>
        </a>
        {{ end }}
      </div>
      <div class="col-lg-7 offset-1 thank-you__mascot">

      </div>
    </div>
  </div>
  <div class="spacer125"></div>
</div>
