{{ with .Site.GetPage "info" }}
  <div class="waitlist container-fluid">
    <div class="row">
        <div class="col-12 text-center mt-5 mb-5">
          <h1 class="waitlist__heading text-white">
              {{ replace .Params.heading "\n" "<br/>" | safeHTML}}
          </h1>
          <br />
          <p class="waitlist__sub-heading text-white">
              {{ replace .Params.subheading "\n" "<br/>" | safeHTML}}
          </p>
        </div>
    </div>
        
    <div class="row">
      <div class="waitlist__img-satellite col-3 col-sm-3 col-xl-2">
        {{$satelliteImg := index (.Params.imgs) 0 }}
        <img class="img-fluid" src="{{ $satelliteImg.img_path }}" alt="{{ $satelliteImg.caption }}">
      </div>
    </div>
        
      <!--form-start-->
    <div class="row mb-5 pb-5">
      <div class="waitlist__form-wrapper col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-10 offset-1">
        <div class="waitlist__form-header text-center offset-1 col-10">
            <h2 class="waitlist__form-heading">
                {{ replace .Params.formHeading "\n" "<br/>" | safeHTML}}
            </h2>
            <p class="waitlist__form-description">
                {{ replace .Params.formDescription "\n" "<br/>" | safeHTML}}
            </p>
        </div> 
        <form id="form2" name="form2" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://storj.wufoo.com/forms/m1lo4ys3176ofyo/#public">
  
          <div class="row">
            <div class="waitlist__form-input offset-xl-2 col-xl-4 col-sm-4 offset-sm-2">
              <input id="Field1" name="Field1" type="text" class="field text fn waitlist__form-input-name" value="" size="8" tabindex="1"  placeholder="First Name" required />
            </div>
            <div class="waitlist__form-input col-xl-4 col-sm-4">
              <input id="Field2" name="Field2" type="text" class="field text ln waitlist__form-input-name" value="" size="8" tabindex="2"   placeholder="Last Name" required />
            </div>
          </div>
  
          <div class="row">
            <div class="waitlist__form-input offset-sm-2 col-xl-8 col-sm-8 mt-2">
              <input class="waitlist__form-input-email" id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3" placeholder="Email Address" required />
            </div>
          </div>
  
          <div class="row mt-3 mb-5">
            <div class="offset-sm-2 col-xl-8 col-sm-8">
              <input class="waitlist__form-submit text-white" id="saveForm" name="saveForm" type="submit" value="Get Early Access"/>
            </div>
          </div>
  
          <div class="d-none">
            <label for="comment">Do Not Fill This Out</label>
            <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
            <input type="hidden" id="idstamp" name="idstamp" value="El0OKNOviaoxf+nB0YK5Ls9ANra2v52SNksCbxUKXRo=" />
          </div>
        </form>
      </div>

      <div class="row">
        <div class="waitlist__img-mars col-3 col-sm-3 col-xl-2">
          {{$marsImg := index (.Params.imgs) 1 }}
          <img class="img-fluid" src="{{ $marsImg.img_path }}" alt="{{ $marsImg.caption }}">
        </div>
      </div>
    </div>
    <!--form-end-->
  </div>
{{end}}
    
    