<!-- ***** POST-VANGUARD-COMMUNITY SECTION STARTED ******
  <div class="container-fluid" style="background: radial-gradient(1791.74px at 94.4% -66.62%, #1B4499 0%, #000000 100%);">
  <div class="container" style="overflow: visible;">
      <div class="w-100" style="height:30px;"></div>
      <div class="w-100" style="height:30px;"></div>
      <div class="w-100" style="height:30px;"></div>
    <div class="row" style="height:300px;overflow: visible;">
      <div class="col" style="color:white;">
        <h1>Community</h1>
        <p>With an active, worldwide community, we have a diverse network of enthusiasts to connect with, share ideas, and discuss your setup. Whether you’re looking for guidance, have product feedback, need some example code, or just need a quick tutorial - come talk with us!
          </p>
        <h3>Join the Community</h3>
      </div>
      <div class="col-4 offset-2" style="overflow: visible;">
          <img src="img/planet-chat.png" height="600" width="700"/>
        </div>
    </div>
  </div>
</div> -->