<div class="spacer30"></div>
    <div class="container hero-cta">
        <div class="d-flex justify-content-center">
          <div class="col-xs-12 col-md-8 text-center cta-wrapper">
            {{ with .Site.GetPage "page" "cta"}}
            <h4 class="mt-5 font-weight-bold pop-set">
              {{.Params.heading}}
            </h4>
            <p class="m-4 mx-auto limit540 cta-subheading">
              {{.Params.subheading}}
            </p>
            <div class="spacer20 d-none d-sm-block"></div>
            <div class="cta-inner-container">
              <div id="mc_embed_signup">
                <form method="post" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <input type="email" placeholder="Email Address" name="EMAIL" class="cta-email" id="mce-EMAIL url-box cta-btm-email"  style="margin-top:-40px;">
                    <button class="btn btn-primary cta-join-btn" name="subscribe" id="mc-embedded-subscribe" type="submit">{{.Params.buttonText}}</button>
                  <div id="mce-responses" class="clear">
                    <div class="response p-2" id="mce-error-response" style="display:none;font-size:12px;"></div>
                    <div class="response p-2" id="mce-success-response" style="display:none;font-size:12px;"></div>
                  </div>
                </form>
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </div>
  
