<div class="spacer30"></div>
    <div class="container hero-cta">
        <div class="d-flex justify-content-center">
          <div class="col-xs-12 col-md-8 text-center cta-wrapper">
            <h4 class="mt-5 font-weight-bold pop-set">
              Interested? Try it Out for Yourself.
            </h4>
            <p class="m-4 mx-auto limit540 cta-subheading">
              The first 10,000 developers who sign up for our waitlist will get 1TB free for 30 days at production launch.
            </p>

            <div class="spacer20 d-none d-sm-block"></div>
            <div class="cta-inner-container">
                                          <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup">
                    <form action="https://github.us8.list-manage.com/subscribe/post?u=edba9fc4ce8b9095a31859cba&amp;id=a5cc1e6ed3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                      <input type="email" placeholder="Email Address" name="EMAIL" class="required email cta-email" id="mce-EMAIL url-box cta-btm-email"  style="margin-top:-40px;">
                      <button class="btn btn-primary cta-join-btn" name="subscribe" id="mc-embedded-subscribe" type="submit">Join the Waitlist</button>
                    <div id="mce-responses" class="clear">
                      <div class="response p-2 " id="mce-error-response" style="display:none;font-size:12px;"></div>
                      <div class="response p-2 " id="mce-success-response" style="display:none;font-size:12px;"></div>
                    </div>    
      
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_edba9fc4ce8b9095a31859cba_a5cc1e6ed3" tabindex="-1" value=""></div>
                    </div>
      
                    </form>
                  </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
            </div>
          </div>
        </div>
      </div>