<div class="container-fluid">
        <div class="home-pre-footer container mb-2">
          <div class="row">
            <div class="spacer20"></div>

            <div class="col-12 col-lg-7 text-center">
              <p class="cta-btm mt-3 anonc">Join Thousands of Developers Already Making the Switch</p>
            </div>
            <div class="col-xs-12 col-lg-5 text-center">
                    <div id="mc_embed_signup">
                      <form rel="noopener noreferrer" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                        <input type="email" placeholder="Email Address" name="EMAIL" class="cta-btm-email" id="mce-EMAIL url-box cta-btm-email"  >
                        <button class="btn btn-primary cta-btm-join" name="subscribe" id="mc-embedded-subscribe" type="submit">Get Started</button>
                        <div id="mce-responses" class="clear">
                          <div class="response" id="mce-error-response-bottom" style="display:none;color:#000">
                            The email address you have provided is not valid!
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
