<div class="dev-in-mind container-fluid">
  <div class="container">
    <div class="spacer125 d-none d-xl-block"></div>
    <div class="row row-fluid">
			<img class="pl-5 dev-in-mind__image" src="/img/tar-gui-cli.png" />
			<img class="dev-in-mind__image-resp" src="/img/tar-gui-cli-resp.svg" />
      <div class="col-lg-6 col-sm-push-6  dev-in-mind__content">
        {{ with .Site.GetPage "devInMind" }}
        <h2 class="dev-in-mind__heading">
          {{ replace .Params.heading "\n" "<br/>" | safeHTML}}
        </h2>
        <div class="spacer40"></div>
          <p class="dev-in-mind__text">
            {{ replace .Params.desc "\n" "<br/>" | safeHTML}}
          </p>
        <div class="spacer40"></div>
        <a class="dev-in-mind__cta-wrapper" href="/satellites">
          <p class="dev-in-mind__cta">
          {{ .Params.cta}}
          </p>
        </a>
        {{ end }}
      </div>
      <div class="col-sm-5 col-sm-pull-6 col-lg-6 dev-in-mind__image-wrapper">
      </div>
    </div>
  </div>
	<!-- <img class="dev-in-mind__responsive-mobile-bg" src="/img/tar-web-grey-bg-sm.png" /> -->
	<img alt="Developer tool made for developers" class="dev-in-mind__responsive-mobile-bg" src="/img/tar-web-grey-bg-sm-2.png" />
</div>
