  <div class="container-fluid half-price">
    <div class="container">
      <div class="spacer125"></div>
			{{ with .Site.GetPage "halfPrice" }}
			<h2 class="half-price__heading">
				{{ replace .Params.heading "\n" "<br/>" | safeHTML}}
			</h2>
			<div class="spacer40"></div>
			<div class="spacer60"></div>
      <div class="row d-flex justify-content-center">
  			<img src="/img/pricing-chart.svg" alt="Pricing Chart" />
      </div>
			<div class="spacer70"></div>
			<a class="half-price__cta__wrapper" href="/signup">
				<p class="half-price__cta">
				{{ .Params.cta}}
				</p>
			</a>
			{{ end }}
    </div>
    <div class="spacer125"></div>
  </div>

	<script type="text/javascript">

		// icon toggle
		var buttonWrapper = document.getElementById("htcCollapseWrapper");
		var toggleDownBtn = document.getElementById("toggleDownBtn");
		var toggleUpBtn = document.getElementById("toggleUpBtn");
		buttonWrapper.onclick = function (event) {
			if (window.getComputedStyle(toggleUpBtn).display === "none") {
				toggleDownBtn.style.display = "none";
				toggleUpBtn.style.display = "flex";
		 	} else {
				toggleDownBtn.style.display = "flex";
				toggleUpBtn.style.display = "none";
			}


		}

	</script>
