  <div class="container-fluid half-price">
    <div class="container">
      <div class="spacer125"></div>
			{{ with .Site.GetPage "halfPrice" }}
			<h2 class="half-price__heading">
				{{ replace .Params.heading "\n" "<br/>" | safeHTML}}
			</h2>
			<div class="spacer40"></div>
			<div class="spacer60"></div>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4 col-lg-6 col-sm-12 half-price__content">
          <div class="spacer40"></div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 half-price__section" style="border-right: 1px solid #979797">
              <p class="half-price__column-heading">{{ .Params.col1Heading }}</p>
              <img class="half-price__column-image" src="{{ .Params.col1Image }}" />
              <h2 class="half-price__column-amount">{{ .Params.col1Amount }}</h2>
              <p class="half-price__column-metric">{{ .Params.col1Metric }}</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 half-price__section">
              <p class="half-price__column-heading">{{ .Params.col2Heading }}</p>
              <img class="half-price__column-image" src="{{ .Params.col2Image }}" />
              <h2 class="half-price__column-amount">{{ .Params.col2Amount }}</h2>
              <p class="half-price__column-metric">{{ .Params.col2Metric }}</p>
            </div>
          </div>
          <div class="spacer40"></div>
					<div class="spacer60"></div>
        </div>
        <div class="col-lg-6 half-price__image-wrapper">
            <img class="half-price__image" src="/img/tar-pricing.svg" width="1200" />
						<img class="half-price__image-resp" src="/img/tar-pricing-resp.svg" width="1200" />
        </div>
      </div>
			<div class="spacer70"></div>
			<a class="half-price__cta__wrapper" href="/satellites">
				<p class="half-price__cta">
				{{ .Params.cta}}
				</p>
			</a>
			{{ end }}

    </div>
    <div class="spacer125"></div>
  </div>
