    <div class="container-fluid bg-gradiant nomp">

    <div class="container-fluid inner-hero-wrapper">
        <div class="container">
            <div class="spacer20"></div>
            {{ partial "nav" .}}
            <div class="row">
            <div class="spacer30"></div>

            <div class="col-xs-10 col-sm-10 col-lg-6">
                <!-- <div class="d-none d-lg-block spacer125"></div> -->
                <!-- <div class="d-xs-block d-sm-none spacer30"></div> -->
                <div class="row">
                    <div class="col-xs-11 col-md-9 hero-prod-status">CURRENTLY IN ALPHA 4: VANGUARD - DATA STORAGE</div>
                </div>


                <h1 class="mt-4 hero-heading">Decentralized Cloud<br>Storage is Better</h1>
                <div class="spacer30"></div>
                <p class="white home-subheading">Tardigrade is the enterprise, production-ready version of<br> the Storj network, complete with guaranteed SLAs.</p>
                <div class="row ml-auto nomp">
                <!-- <div class="spacer20"></div> -->
                    <div class="col-3">
                        <ul class="white hero-listitems nomp">
                            <li class="mt-2">Affordable</li>
                            <li class="mt-2">Performant</li>
                            <li class="mt-2">Resilient</li>
                        </ul>
                    </div>
                    <div class="col-4 offset-2" >
                        <ul class="white hero-listitems">
                            <li class="mt-2">Secure</li>
                            <li class="mt-2">Predictable</li>
                            <li class="mt-2">Intuitive</li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="d-none d-md-block spacer125"></div>
                <div class="powered-spacer"></div> -->
                <div class="powered-by">
                    <img src="img/poweredbystorj.svg" height="40.89" width="105.15"/>
                </div>
            </div>
            <div class="col-sm-5 offset-1">
                <img class="pl-5" src="img/tardigrade-hero.png" height="95%" width="1200" />
            </div>
        </div>
    </div>
</div>  



