    <div class="container-fluid bg-gradient" style="margin:0;padding:0;">

    <div class="container-fluid" style="height:830px;margin:0;padding:0;overflow: hidden;">
        <div class="container">
            <div class="w-100" style="height:30px;"></div>
            {{ partial "nav" .}}
            <div class="row">
            <div class="w-100" style="height:30px;"></div>

            <div class="col-xs-12 col-sm-6">
                <div class="w-100 d-none d-sm-block" style="height:125px;"></div>
                <h1 style="color:white;font-size:34px;">Decentralized Cloud<br>Storage is Better</h1>
                <div class="w-100" style="height:30px;"></div>
                <p style="color:white;">Tardigrade is the enterprise, production-ready version of the Storj network, complete with guaranteed SLAs.</p>

                <div class="row ml-auto" style="margin:0;padding:0;">
                <div class="w-100" style="height:30px;"></div>
                    <div class="col-3">
                        <ul style="list-style-image: url('img/check.svg');color:white;margin:0;padding:0;">
                            <li>Affordable</li>
                            <li>Performant</li>
                            <li>Resilient</li>
                        </ul>
                    </div>
                    <div class="col-6" >
                        <ul style="list-style-image: url('img/check.svg');color:white;">
                            <li>Secure</li>
                            <li>Predictable</li>
                            <li>Intuitive</li>
                        </ul>
                    </div>
                </div>

                <div class="w-100" style="height:30px;"></div>
                <div class="w-100" style="height:30px;"></div>

                <img src="img/poweredbystorj.svg" height="100" width="200"/>
            </div>
            <div class="col-sm-5 offset-1" style="overflow:visible;">
                <img src="/img/tardigrade-hero.png" height="90%" width="1800" />
            </div>
        </div>
    </div>
</div>  



