<div id="heroBackground" class="container-fluid bg-gradiant nomp">
    <div id="heroWrapper" class="container-fluid inner-hero-wrapper">
        <div class="container">
            <div class="spacer20"></div>
            {{ partial "nav" .}}
            <div class="row">
              <div class="spacer20"></div>
              <div class="jumbotron hero-tardigrade-msg">
                <div>
                  <p class="hero-tardigrade-msg-left">Tardigrade is Powered by Storj Labs</p>
                </div>
                <div>
                  <a target="_blank" href="https://storj.io" style="text-decoration: none">
                    <p class="hero-tardigrade-msg-right">Visit Storj.io</p>
                    <img class="hero-tardigrade-msg-img" src="/img/mini-storj-logo.png" />
                    <img class="hero-tardigrade-msg-img" src="/img/chevron-right-white.png" />
                  </a>
                </div>
              </div>
              <div class="spacer40"></div>
              <div class="col-md-12 col-sm-12 col-lg-6 hero-content">
                {{with .Site.GetPage "page" "hero"}}
                <h1 class="mt-4 hero-heading">{{.Params.headingLeft}}<br>{{.Params.headingRight}}</h1>
                <div class="spacer20"></div>
                <p class="white home-subheading">{{.Params.subheading}}</p>
                <div class="spacer30"></div>
                  <a href="/signup" class="btn btn-primary btn-lg" id="mc_embed_signup_scroll">
                    Get Started<img class="cta-join-btn-arrow" src="/img/arrow-right.svg" />
                  </a>
            </div>

            {{end}}
        </div>
    </div>
</div>
