<div class="lite-gray-bg hiw">
	{{ with .Site.GetPage "howitworks"}}

	<div class="container">

	  <div class="row">
	    <div class="col hiw-col">
	      <h1 class="mt-5 hiw-heading">{{.Params.heading}}</h1>
	    </div>
	  </div>

	  <div class="row hiw-col mt-3">
	    <div class="col-xs-12 col-lg-7 text-center hiw-subheading">
	        <p>{{.Params.subheading}}</p>
	    </div>
	  </div>

	  <div class="row mt-5">

	    <div class="col-xs-12 col-sm text-center">
	      <img alt="Cloud storage encrypt icon" class="hiw-image" src="/img/encrypt.svg" height="94"/>
				<p class="hiw-item-txt">Encrypt</p>
	    </div>

			<div class="col-xs-12 col-sm text-center">
				<div class="hiw-arrow"></div>
			</div>

	    <div class="col-xs-12 col-sm text-center">
	      <img alt="Cloud storage split icon" class="hiw-image" src="/img/split.svg" height="94"/>
				<p class="hiw-item-txt">Split</p>
	    </div>

			<div class="col-xs-12 col-sm text-center">
				<div class="hiw-arrow"></div>
			</div>

	    <div class="col-xs-12 col-sm text-center">
	      <img alt="Object storage distribute icon" class="hiw-image" src="/img/tar-ico-how-distributed.svg" height="94"/>
				<p class="hiw-item-txt">Distribute</p>
	    </div>

	  </div>

	</div>

	{{end}}
</div>
