<div class="container p-5">
        <div class="row">
          <div class="col hiw-col">
            {{ with .Site.GetPage "howitworks"}}
            <h1 class="mt-5 hiw-heading">{{.Params.heading}}</h1>
          </div>
        </div>
        <div class="row hiw-col mt-3">
          <div class="col-xs-12 col-md-7 text-center hiw-subheading">
              <p>{{.Params.subheading}}</p>
          </div>
        </div>
        {{end}}
        <div class="row mt-5 hiw-col" >

          <div class="col-xs-12 col-lg-3 text-center">
            <img src="/img/encrypt.png" height="94"/>
            <br><p class="mt-4"><strong><span class="hiw-item-txt">Encrypt</span></strong></p>
          </div>

          <div class="hiw-arrow"></div>

          <div class="d-block d-sm-none spacer30"></div>

          <div class="col-xs-12 col-lg-3 text-center">
            <img src="/img/split.png" height="94"/>
            <br><p class="mt-4" ><span class="hiw-item-txt"><strong>Split</strong></span></p>
          </div>

          <div class="hiw-arrow"></div>


          <div class="d-block d-sm-none spacer30"></div>

          <div class="col-xs-12 col-lg-3 text-center">
            <img src="/img/tar-ico-how-distributed.png" height="94"/>
            <br><p class="mt-4"><span class="hiw-item-txt"><strong>Distribute</strong></span></p>
          </div>

        </div>
      </div>
      <div class="spacer55"></div>
      