<div class="w-100" style="height:30px;"></div>

<div class="container" style="margin-top:-270px;">
    <div class="d-flex justify-content-center">
      <div class="col text-center" style="box-shadow: 0px 0px 74px rgba(31, 49, 76, 0.25);border-radius:20px;height:300px;max-width:600px;background-color:white;">
        <h4 class="mt-5 font-weight-bold" ><strong>Interested? Try it Out for Yourself.</strong></h4>
        <p class="m-4" style="font-weight:100;">The first 10,000 developers who sign up for our waitlist will get 1TB free for 30days at production launch.</p>
        <div class="w-100 d-none d-sm-block" style="height:20px;"></div>
        <div style="display:flex;justify-content: center;" >
                      <!-- Begin Mailchimp Signup Form -->
                      <div id="mc_embed_signup">
                          <form action="https://github.us8.list-manage.com/subscribe/post?u=edba9fc4ce8b9095a31859cba&amp;id=a5cc1e6ed3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                          <div id="mc_embed_signup_scroll">
            
                            <input type="email" placeholder="Email Address" name="EMAIL" class="required email" id="mce-EMAIL url-box"  style="margin:0px;border: 1px solid #DCDCDC;	border-radius: 4px 0 0 4px;	background-color: #F2F4F6;text-align:left;padding-left:25px;padding-bottom:8px;padding-top:10px;height:43px;border-right:none;resize:none;">
                            <button class="btn btn-primary" name="subscribe" id="mc-embedded-subscribe" type="submit" style="border-radius: 0px 4px 4px 0px;height:42px;margin-top:-5px;margin-left:-5px;">Join the Waitlist</button>
            
            
                          <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                          </div>    
            
                          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_edba9fc4ce8b9095a31859cba_a5cc1e6ed3" tabindex="-1" value=""></div>
                          </div>
            
                          </form>
                        </div>
                      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            
        </div>
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col" style="display:flex;justify-content: center;">
      <h1 class="m-5 font-weight-bold">How it Works</h1>
    </div>
  </div>
  <div class="row" style="display:flex;justify-content: center;">
    <div class="col-xs-12 col-md-6 text-center">
        <p>With Tardigrade cloud storage, your files are encrypted and split into pieces client-side before being distributed across our network of high-performance storage nodes.  </p>
    </div>
  </div>
  <div class="row mt-5" style="display:flex;justify-content: center;" >
    <div class="col-xs-12 col-sm-2 text-center"><img src="img/encrypt.png" height="75" width="75"/><br><p class="mt-5" ><strong>Encrypt</strong></p></div>
    <div class="col-xs-12 col-sm1 text-center"><img class="d-none d-sm-block mt-3" src="img/next-step-arrow.svg"/><img class="d-block d-sm-none" class="mt-3 mb-3" src="img/next-step-arrow-down.png"/></div>
    <div class="d-block d-sm-none w-100" style="height:30px;"></div>
    <div class="col-xs-12 col-sm-2 text-center"><img src="img/split.png" height="75" width="75"/><br><p class="mt-5" ><strong>Split</strong></p></div>
    <div class="col-xs-12 col-sm1 text-center"><img class="d-none d-sm-block mt-3" src="img/next-step-arrow.svg"/><img class="d-block d-sm-none" class="mt-3 mb-3" src="img/next-step-arrow-down.png"/></div>
    <div class="d-block d-sm-none w-100" style="height:30px;"></div>
    <div class="col-xs-12 col-sm-2 text-center"><img src="img/distr.png" height="75" width="75"/><br><p class="mt-5" ><strong>Distribute</strong></p></div>
  </div>
</div>
<div class="w-100" style="height:30px;"></div>
<div class="w-100" style="height:30px;"></div>
<div class="w-100" style="height:30px;"></div>


<div class="container-fluid" style="background-color: #FBFBFC;">
    <div class="w-100" style="height:30px;"></div>
    <div class="w-100" style="height:30px;"></div>
    <div class="w-100" style="height:30px;"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-5 text-center">
      <h3 class="m-5">S3 compatible Object Storage for Half the Price.</h3>
      <p class="m-5">Only pay for what you use</p>
    </div>
    <div class="col-xs-12 col-md-3 text-center mt-5"><h4><strong>Storage</strong></h4><img class="mt-3" src="img/icon-storage.svg"/><h1 class="mt-2" style="color:#2582FF;">$0.015</h1><h6><strong>PER GB PER MONTH</strong></h6></div>
    <div class="w-100 mt-5 d-block d-md-none" style="border-bottom:1px solid #DCDCDC;"></div>
    <div class="d-none d-md-block " style="border-right:1px solid #DCDCDC;"></div>
    <div class="col-xs-12 col-md-3 text-center mt-5"><h4><strong>Bandwidth</strong></h4><img class="mt-3" src="img/icon-downloads.svg"/><h1 class="mt-2" style="color:#2582FF;">$0.05</h1><h6><strong>PER GB OF OUTBOUND DATA</strong></h6><small style="color:#DCDCDC;">(all inboud data transfers are free)</small></div>
  </div>
</div>
<div class="w-100" style="height:30px;"></div>

<div class="w-100" style="height:30px;"></div>
<div class="w-100" style="height:30px;"></div>
<div class="w-100" style="height:30px;"></div>

</div>

<div class="container">
  <div class="row mt-5">
    <div class="col text-center mt-5">
      <h1>A Storage Service That's<br>Actually Simple</h1>
    </div>
  </div>
  <div class="row mt-5 justify-content-center text-center">
    <div class="col-xs-12 col-md-3">
      <img src="img/tar-screen-code-block.png" height="75" width="75"/>
      <h5 class="mt-5"><strong>Drop-in S3 Compatibility</strong></h5>
      <p class="mt-2" style="font-size:14px;">Our simple s4-compatible library gives developers a familiar experience.</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="img/tar-screen-key.png" height="75" width="75"/>
      <h5 class="mt-5"><strong>Simple IAM</strong></h5>
      <p class="mt-2" style="font-size:14px;">Tardigrade is equipped with intuitive identity and access management tools that streamline data sharing and permissions.</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="img/tar-screen-curl.png" height="75" width="75"/>
      <h5 class="mt-5"><strong>Developer Friendly</strong></h5>
      <p class="mt-2" style="font-size:14px;" style="font-size:14px;">We have an easy-to-use library for app integration with our cloud storage network.</p>
    </div>
  </div>
</div>


<div class="container">
    <div class="row mt-5 p-3">
        <div class="col text-center mt-5">
        <h1>Need More Reasons to Try Tardigrade?</h1>
      </div>
      <div class="row mt-5 ">
        <div class="col-xs-12 col-md-3 text-center mt-5 p-3">
      <img src="img/tar-ico-performance.png" height="75" width="75"/>
      <h4 class="mt-5">
        Performance
      </h4>
      <p style="font-size:14px;">
          With multi-threaded, concurrent downloads you can get your files 20% faster than Amazon S3. 
      </p>
    </div>
    <div class="col-xs-12 col-md-3 text-center mt-5 p-3">
      <img src="img/tar-ico-durability.png" height="75" width="75"/>
      <h4 class="mt-5">
        Durability
      </h4>
      <p style="font-size:14px;">
          Reed-Solomon erasure coding enables the highest levels of durability for all files uploaded to the Tardigrade network.
      </p>
      </div>
      <div class="col-xs-12 col-md-3 text-center mt-5 p-3">
        <img src="img/tar-ico-secure.png" height="75" width="75"/>
        <h4 class="mt-5">
          Security & Privacy
        </h4>
        <p style="font-size:14px;">
            No one can compromise or view your data without your permission. Client-side AES-256-GCM encryption is standard on every file. 
        </p>
        </div>     

        <div class="col-xs-12 col-md-3 text-center mt-5 p-3">
          <img src="img/tar-ico-opensource.png" height="75" width="75"/>
          <h4 class="mt-5">
            Open Source
          </h4>
          <p>
              We’re open source, which means absolute transparency. Audit our code, read our white paper, and know exactly how everything works. 
          </p>
        </div> 
    </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col">
      <a href="/waitlist/" style="text-decoration: none;"><h2 class="mt-5">Join the Waitlist<img src="img/carrot-right.svg" height="40" width="40"/></h2></a>
    </row>
    <div class="w-100" style="height:30px;"></div>
    <div class="w-100" style="height:30px;"></div>
    <div class="w-100" style="height:30px;"></div>
<div class="w-100" style="height:30px;"></div>

</div>
</div>
</div>
</div>

<div class="container-fluid" style="background-color: #FBFBFC;">
  <div class="container">
    <div class="row">
      <div class="col text-center">
          <div class="w-100" style="height:30px;"></div>
          <div class="w-100" style="height:30px;"></div>
          <h2 class="mt-5"><strong>Tardigrade Cloud Object Storage Use Cases</strong></h2>
          <div class="w-100" style="height:30px;"></div>
      </div>
    </div>
    <div class="row mt-5">
          <div class="col-xs-12 col-md-5">
            <div class="pl-3" style="border-left: 2px solid #DCDCDC;list-style-type: none;height:50px;">
                <a class="nav-link" onclick="select(this);" id="v-pills-backup-tab" data-toggle="pill" href="#v-pills-backup" role="tab" aria-controls="v-pills-backup" aria-selected="true">
                  Backup & Archival</a>
            </div>
            <div class="pl-3" style="border-left: 2px solid #2582FF;list-style-type: none;height:50px;">  
              <a class="nav-link active" onclick="select(this);" id="v-pills-media-tab" data-toggle="pill" href="#v-pills-media" role="tab" aria-controls="v-pills-media" aria-selected="false">
                Media Storage</a>
            </div>
            <div class="pl-3" style="border-left: 2px solid #DCDCDC;list-style-type: none;height:50px;">
              <a class="nav-link" onclick="select(this);" id="v-pills-cloud-tab" data-toggle="pill" href="#v-pills-cloud" role="tab" aria-controls="v-pills-cloud" aria-selected="false">
                Hybrid Cloud</a>
            </div>
            <div class="pl-3" style="border-left: 2px solid #DCDCDC;list-style-type: none;height:50px;">
              <a class="nav-link" onclick="select(this);" id="v-pills-transfers-tab" data-toggle="pill" href="#v-pills-transfers" role="tab" aria-controls="v-pills-transfers" aria-selected="false">
                Large File Transfers</a>
            </div>
            <div class="pl-3" style="border-left: 2px solid #DCDCDC;list-style-type: none;height:50px;">
              <a class="nav-link" onclick="select(this);" id="v-pills-logs-tab" data-toggle="pill" href="#v-pills-logs" role="tab" aria-controls="v-pills-logs" aria-selected="false">
                Log Files</a>
            </div>
            <div class="pl-3" style="border-left: 2px solid #DCDCDC;list-style-type: none;height:50px;">
              <a class="nav-link" onclick="select(this);" id="v-pills-snapshots-tab" data-toggle="pill" href="#v-pills-snapshots" role="tab" aria-controls="v-pills-snapshots" aria-selected="false">
                Database Snapshots</a>
            </div>
        </div>

        <div class="tab-content pl-3" id="v-pills-tabContent">
            <div class="w-100 d-block d-sm-none" style="height:30px;"></div>
            <div class="tab-pane fade" id="v-pills-backup" role="tabpanel" aria-labelledby="v-pills-backup-tab">
              <img src="img/tar-ico-cloud-time.png" height="150" width="150">
              <h3 class="mt-4">Backup, Recovery and Archival</h3>
              <p style="max-width:400px;">Long-term storage for infrequently accessed files for regulatory, compliance, disaster recover, or archival purposes.</p>
            </div>
            <div class="tab-pane fade active show" id="v-pills-media" role="tabpanel" aria-labelledby="v-pills-media-tab">
              <img src="img/tar-ico-media.png" height="150" width="150">
              <h3 class="mt-4">Media Content Storage</h3>  
              <p style="max-width:400px;">Store large volumes of video, photo, or audio media, including tape / physical alternatives.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-cloud" role="tabpanel" aria-labelledby="v-pills-cloud-tab">
                <img src="img/tar-ico-disk-cloud.png" height="150" width="150">
                <h3 class="mt-4">Hybrid Cloud Storage</h3>  
                <p style="max-width:400px;">Instantly available cloud to compliment your on-prem storage.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-transfers" role="tabpanel" aria-labelledby="v-pills-transfers-tab">
                <img src="img/tar-ico-files-folder.png" height="150" width="150">
                <h3 class="mt-4">Large File Transfer</h3>  
                <p style="max-width:400px;">Temporary storage of large files for sharing or point-to-point transfers.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-logs" role="tabpanel" aria-labelledby="v-pills-logs-tab">
                <img src="img/tar-ico-note.png" height="150" width="150">
                <h3 class="mt-4"> Log Files Over 4kb</h3>  
                <p style="max-width:400px">Long-term storage and easy accessibility for log data.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-snapshots" role="tabpanel" aria-labelledby="v-pills-snapshots-tab">
                <img src="img/tar-ico-snapshot.png" height="150" width="150">
                <h3 class="mt-4">Database Snapshots</h3>  
                <p style="max-width:400px">Backup and store critical database records.</p>
            </div>
          </div>
          

          <!-- <div class="col-xs-12 col-md-6">
              <img src="/img/tar-ico-media.png"/>
              <h1>Media Content Storage</h1>
              <p>Store large volumes of video, photo, or audio media, including tape / physical alternatives.</p>
            </div> -->

    <div class="w-100" style="height:30px;"></div>
    <div class="w-100" style="height:30px;"></div>
    <div class="w-100" style="height:30px;"></div>

  </div>
</div>
</div>

<!-- <div class="container-fluid" style="background: radial-gradient(1791.74px at 94.4% -66.62%, #1B4499 0%, #000000 100%);">
  <div class="container" style="overflow: visible;">
      <div class="w-100" style="height:30px;"></div>
      <div class="w-100" style="height:30px;"></div>
      <div class="w-100" style="height:30px;"></div>
    <div class="row" style="height:300px;overflow: visible;">
      <div class="col" style="color:white;">
        <h1>Community</h1>
        <p>With an active, worldwide community, we have a diverse network of enthusiasts to connect with, share ideas, and discuss your setup. Whether you’re looking for guidance, have product feedback, need some example code, or just need a quick tutorial - come talk with us!
          </p>
        <h3>Join the Community</h3>
      </div>
      <div class="col-4 offset-2" style="overflow: visible;">
          <img src="img/planet-chat.png" height="600" width="700"/>
        </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row justify-content-center text-center">
      <div class="w-100" style="height:30px;"></div>
      <div class="w-100" style="height:30px;"></div>
    <h1>Roadmap Milestones to Production</h1>
    <div class="w-100" style="height:30px;"></div>
    <p style="max-width:800px;color:#354049;">Tardigrade is currently in the Explorer phase of our alpha and we’re excited to get this product into the hands of our users for testing.</p>
    <p style="max-width:800px;color:#354049;">Those who sign up on our waitlist will receive the option to also participate in our beta, ahead of our production launch later this year. </p>
  </div>
    
          <div class="row">
            <div class="milestones" style="display:inline-block;width:100%;overflow-y:auto;">
              
            <div class="row d-flex flex-nowrap">
            <ul class="timeline timeline-horizontal">
            <li class="timeline-item">
                <div class="timeline-badge primary"
                  style="background: #2582FF;opacity: 0.3;"></div>
                  <div class="timeline-panel genesis" style="background: #2582FF;opacity: 0.3;">
                    <div class="timeline-heading">
                      <p style="height: 67px;	color: #FFF;	font-family: Montserrat;font-size: 16px;	font-weight: 800;	line-height: 22px;" ><small>Explorer: Storage Nodes Alpha</small></p>
                  </div>
                </div>
              </li>
            </ul>
            
            <ul class="timeline post timeline-horizontal">
              <li class="timeline-item">
                  <div class="timeline-badge primary"
                    style="background-color:#2582FF;box-shadow: 0 0 8px 4px rgba(38,131,255,0.3)"}></div>
                    <div class="timeline-panel pointy" style="background-color:#2582FF;">
                      <div class="timeline-heading">
                        <p style="height: 67px;	color:#FFF;	font-family: Montserrat;font-size: 16px;	font-weight: 800;	line-height: 22px;" ><small>Vanguard: User Alpha</small></p>
                    </div>
                  </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-badge primary"
                      style="background-color:#B8B8B8;"
                      style="box-shadow: 0 0 8px 4px rgba(38,131,255,0.3)"}></div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <p style="height: 67px;	color: #7E90A5;;	font-family: Montserrat;font-size: 16px;	font-weight: 800;	line-height: 22px;" ><small>Beacon: Identity & Access Management</small></p>
                      </div>
                    </div>
                  </li>

                  <li class="timeline-item">
                      <div class="timeline-badge primary"
                        style="background-color:#B8B8B8;"
                        style="box-shadow: 0 0 8px 4px rgba(38,131,255,0.3)"}></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <p style="height: 67px;	color: #7E90A5;;	font-family: Montserrat;font-size: 16px;	font-weight: 800;	line-height: 22px;" ><small>Pioneer: V3 Network Beta</small></p>
                        </div>
                      </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-badge primary"
                          style="background-color:#B8B8B8;"
                          style="box-shadow: 0 0 8px 4px rgba(38,131,255,0.3)"}></div>
                          <div class="timeline-panel">
                            <div class="timeline-heading">
                              <p style="height: 67px;	color: #7E90A5;;	font-family: Montserrat;font-size: 16px;	font-weight: 800;	line-height: 22px;" ><small>ISS: Open Source Partner Connection</small></p>
                          </div>
                        </div>
                      </li>

                      <li class="timeline-item">
                          <div class="timeline-badge primary"
                            style="background-color:#B8B8B8;"
                            style="box-shadow: 0 0 8px 4px rgba(38,131,255,0.3)"}></div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <p style="height: 67px;	color: #7E90A5;;	font-family: Montserrat;font-size: 16px;	font-weight: 800;	line-height: 22px;" ><small>Voyager: Network V3 Launch</small></p>
                            </div>
                          </div>
                        </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid" style="background-color:#DCDCDC;">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12  col-md-7 mt-4 mb-2">
          <div class="w-100" style="height:20px;"></div>
        <p style="font-weight: 800;">First 10k Users Get 1TB free for 30 Days at Production Launch.</p>
      </div>
          <div class="col mt-4 mb-2">
              <div class="w-100" style="height:10px;"></div>

                      <!-- Begin Mailchimp Signup Form -->
              <div id="mc_embed_signup">
              <form action="https://github.us8.list-manage.com/subscribe/post?u=edba9fc4ce8b9095a31859cba&amp;id=a5cc1e6ed3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">

                <input type="email" placeholder="Email Address" name="EMAIL" class="required email" id="mce-EMAIL url-box"  style="margin:0px;border: 1px solid #DCDCDC;	border-radius: 4px 0 0 4px;	background-color: #F2F4F6;text-align:left;padding-left:25px;padding-bottom:8px;padding-top:10px;height:43px;border-right:none;resize:none;">
                <button class="btn btn-primary" name="subscribe" id="mc-embedded-subscribe" type="submit" style="border-radius: 0px 4px 4px 0px;height:42px;margin-top:-5px;margin-left:-5px;">Join the Waitlist</button>


              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    

              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_edba9fc4ce8b9095a31859cba_a5cc1e6ed3" tabindex="-1" value=""></div>
              </div>

              </form>
            </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
              <!--End mc_embed_signup-->
          </div>
          <div class="w-100" style="height:20px;"></div>
  </div>
</div>
</div>


