<div class="container">
  <div class="row justify-content-center text-center">
    <div class="spacer60"></div>
    {{with .Site.GetPage "milestones"}}
    <h1>{{.Params.heading}}</h1>
    <div class="spacer30"></div>
    <p class="milestone-intro">{{.Params.subheading1}}</p>
    <p class="milestone-intro">{{.Params.subheading2}}</p>
    {{end}}
    </div>
    <div class="row">
      <div class="milestones milestones-wrapper">
        <div class="row d-flex flex-nowrap">
          <ul class="timeline timeline-horizontal">
          <li class="timeline-item">
              <div class="timeline-badge primary faded-blu"></div>
                <div class="timeline-panel genesis faded-blu"> 
                  <div class="timeline-heading ">
                    <p class="isCurrent-milestone-text" >
                      <small>Explorer: Storage Nodes Alpha</small>
                    </p>
                </div>
              </div>
            </li>
          </ul>
          
          <ul class="timeline post timeline-horizontal">
          {{range where .Site.Pages ".Params.class" "milestone"}}
            <li class="timeline-item">
                <div class="timeline-badge primary {{.Params.status}}"></div>
                  <div class="timeline-panel {{if eq .Params.status "isCurrent"}}lite-blu-bg pointy{{end}}">
                    <div class="timeline-heading">
                      <p class="{{.Params.status}}-milestone-text" ><small>{{.Params.heading}}</small></p>
                  </div>
                </div>
              </li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>