<div class="container mb-5">
  <div class="row justify-content-center text-center">
    <div class="col-xs-12 col-md-9">
    <div class="spacer125"></div>
    {{with .Site.GetPage "milestones"}}
    <h1 class="use-case-top-heading">{{.Params.heading}}</h1>
    <div class="spacer16"></div>
    <p class="milestone-intro pl-5 pr-5">{{.Params.subheading}}</p>
    {{end}}
    </div>
  </div>
    <div class="row">
      <div class="milestones milestones-wrapper" style="margin-top:-60px;">
        <div class="row d-flex flex-nowrap">
          
          <ul class="timeline post timeline-horizontal">
          {{range where .Site.Pages ".Params.class" "milestone"}}
            <li class="timeline-item">
                <div class="timeline-badge primary {{.Params.status}}"></div>
                  <div class="timeline-panel {{if eq .Params.status "isCurrent"}}lite-blu-bg pointy{{end}}">
                    <div class="timeline-heading" style="margin-top:-8px;">
                      <p style="font-family:'Poppins';line-height:19px;{{if eq .Params.status "isCurrent" }}font-weight:bold{{else}}font-weight:normal{{end}};font-size:12px;font-style:normal;" class="{{.Params.status}}-milestone-text" >{{.Params.heading}}</p>
                  </div>
                </div>
              </li>
            {{end}}
          </ul>
        </div>
        <div class="row mstone-link-wrapper">
          {{with .Site.GetPage "milestoneBottom"}}
            <div class="col-12 text-center">
                <p class="mstone-link">
                  <a href={{.Params.link}} target="_blank" class="link">
                    {{.Params.linkDescription}}
                    <img src="/img/blue-carrot.svg" height="13" width="13">
                  </a>
                </p>
            </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>

