<div class="container-fluid lite-gray-bg">
    <div class="spacer90"></div>
    
    <div class="container">
      <div class="row">
        {{with .Site.GetPage "s3Compatible"}}
        <div class="col-xs-12 col-lg-5 text-center">
          <h3 class="m-5">{{.Params.heading}}</h3>
          <p class="m-5">{{.Params.subheading}}</p>
        </div>
        {{end}}
        <div class="col-xs-12 col-lg-3 text-center mt-5">
          <h4><strong>Storage</strong></h4>
          <img class="mt-3" src="img/icon-storage.svg"/>
          <h1 class="mt-2 lite-blu">$0.015</h1>
          <h6><strong>PER GB PER MONTH</strong></h6>
        </div>
        <div class="w-100 mt-5 d-block d-lg-none btm-border"></div>
        <div class="d-none d-md-block right-border"></div>
        <div class="col-xs-12 col-lg-3 text-center mt-5">
          <h4><strong>Bandwidth</strong></h4>
          <img class="mt-3" src="img/icon-downloads.svg"/>
          <h1 class="mt-2 lite-blu">$0.05</h1>
          <h6><strong>PER GB OF OUTBOUND DATA</strong></h6>
          <small class="gray">(all inboud data transfers are free)</small></div>
      </div>
    </div>
    <div class="spacer125"></div>
    </div>