<!--below closing div fixes lite-gray bg not spanning entire width of viewport-->
</div>
<div class="container-fluid">
  <div class="container">
  <div class="spacer30"></div>
        <div class="row mt-5">
          <div class="col text-center mt-5">
            {{with .Site.GetPage "page" "simple"}}
            <h1 class="hiw-heading-simple">{{.Params.headingLeft}}<br>{{.Params.headingRight}}</h1>
            {{end}}
          </div>
        </div>
        <div class="row mt-5 justify-content-center text-center">
          {{range where .Site.Pages ".Params.class" "simplestorage"}}
          <div class="simple-section col-xs-12 col-lg-4">
            <img class="simple-section-image" src="{{.Params.img}}" height="100" width="99"/>
            <h5 class="mt-3" style="font-size:14px;"><strong>{{.Params.heading}}</strong></h5>
            <p class="mt-2 pl-4 pr-4" style="font-size:14px;">
              {{.Params.desc}}
            </p>
          </div>
          {{end}}
          <div class="spacer125"></div>
        </div>
      </div>
    </div>
  </div>
