  <div class="container-fluid why-tardigrade">
    <div class="container">
      <div class="row p-3">
        <div class="spacer90"></div>

        <div class="col-lg-4 why-tardigrade-section">
          {{ with .Site.GetPage "whySection" }}
          <h2 class="why-tardigrade-heading">
            {{ replace .Params.heading "\n" "<br/>" | safeHTML}}
          </h2>
          <div class="why-tardigrade-list-container text-center">
            <ul class="why-tardigrade-list">
              {{ range where .Site.Pages ".Params.class" "why-item"}}
              <li class="why-tardigrade-list-item text-center">
                <img class="why-tardigrade-list-img img-fluid" src="/img/check.svg" alt="benefits icon">
                <h4 class="why-tardigrade-list-item-content">{{ .Params.content }}</h4>
              </li>
              {{ end }}
            </ul>
          </div>
          {{end}}
        </div>
        <div class="col-lg-5 offset-3 superior-cloud-section">
          <div class="row">
            {{range where .Site.Pages ".Params.class" "superior-cloud"}}
            <div class="col-xs-12 col-lg-6 text-center">
              <h3 class="m-5 superior-cloud-heading">{{.Params.heading}}</h3>
              <p class="m-5 superior-cloud-subheading">{{.Params.desc}}</p>
            </div>
            {{end}}
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
