  <div class="container-fluid why-tardigrade">
    <div class="container">
      <div class="row p-3">
        <div class="spacer90"></div>

        <div class="col-lg-4 col-sm-12 why-tardigrade__section-wrapper">
          {{ with .Site.GetPage "whySection" }}
		  <div class="why-tardigrade__section">
			  <div class="spacer30"></div>
          <h2 class="why-tardigrade__heading">
            {{ replace .Params.heading "\n" "<br/>" | safeHTML}}
          </h2>
					<div class="spacer20"></div>
          <div class="why-tardigrade__list-container text-center">
            <ul class="why-tardigrade__list">
              {{ range where .Site.Pages ".Params.class" "why-item"}}
              <li class="why-tardigrade__list-item">
                <img class="why-tardigrade__list-img img-fluid" src="/img/check.svg" alt="Decentralized Cloud Storage Benfits Check Mark">
                <h4 class="why-tardigrade__list-item-content">{{ .Params.content }}</h4>
              </li>
              {{ end }}
							<div class="spacer40"></div>
            </ul>
          </div>
		  	</div>
          {{end}}
        </div>
				{{ with .Site.GetPage "superior-cloud" }}
        <div class="col-lg-6 offset-lg-1 superior-cloud-section">
					<h2 class="superior-cloud__header">{{ .Params.header }}</h2>
          <div class="row">
						<div class="spacer30"></div>
            {{range where .Site.Pages ".Params.class" "superior-cloud"}}
            <div class="col-xs-12 col-lg-6 text-center {{.Params.secondClass}}">
							<img alt="{{.Params.alt}}" class="superior-cloud__img" src="{{.Params.img}}" />
              <h3 class="superior-cloud-heading">{{.Params.heading}}</h3>
              <p class="superior-cloud-subheading">{{.Params.desc}}</p>
            </div>
            {{end}}
          </div>
					<div class="spacer30"></div>
					<!-- <div class="text-center hiw-cta-wrapper superior-cloud-cta">
						<a href="#" class="hiw-cta-link">
							<p class="hiw-cta">Learn More</p>
							<img class="hiw-cta__arrow" src="/img/blue-carrot.svg"></img>
						</a>
					</div> -->
        </div>
				{{end}}
      </div>
      </div>
    </div>
  </div>
</div>
