{{ $lastUrlElement := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}
<div class="container-fluid nomp">
  <div class="container">
		<div class="row">
			<div class="col-4">
				<aside class="sidebar">
					<section>
					    <div class="spacer20"></div>
								{{ partial "apps/taxonomy" (dict "taxonomy" .Site.Taxonomies.categories "taxonomyname" "categories" "lastUrlElement" $lastUrlElement) }}
					</section>
				</aside>
			</div>
			<div class="col-8">
				<div class="pt-5 row d-flex flex-row apps__partners__partners">
		 			{{ range (.Paginator 8).Pages }}
						<div class="col-xs-12 col-lg-6 ">
							<div class="apps__partners__partner">
								<div class="apps__partners__partner__header">
									<img class="img-fluid apps__partners__partner__header__image" alt="{{ .Params.name }} logo" src="{{ .Params.img }}" alt="{{ .Params.name }}">
									<h4 class="apps__partners__partner__header__name">
										{{ .Params.name }}
									</h4>
									{{ if eq .Params.new true }}
									<p class="apps__partners__partner__header__status">
											New
									</p>
									{{end}}
								</div>
								<p class="apps__partners__partner__description">
									{{ .Params.description }}
								</p>
								<div class="apps__partners__partner__category">
									{{ .Params.categories }}
								</div>
							</div>
						</div>
					{{end}}
				</div>
				<div id="loadMore">
					<p class="load-more-btn">Load More</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	//grab first four articles of currently active year
	$(".apps__partners__partner").slice(0, 8).css("display", "block");

	hideButton()

	function hideButton(){
		if($(".apps__partners__partner:hidden").length === 0) {
			$("#loadMore").hide()
		}
	}


	$("#loadMore").click(function(e){ // click event for load more
		e.preventDefault();
		if($(".apps__partners__partner:hidden").length !== 0){ // check if any hidden divs still exist
			$(".apps__partners__partner:hidden").slice(0, 8).css("display", "block");

			hideButton()

		} else if($("apps__partners__partner:hidden").length === 0){
			$("#loadMore").hide()
		}
	});


	$("#searchInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$(".apps__partners__partner").filter(function() {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			if($(".apps__partners__partner:visible").length < 10) {
				$("#loadMore").hide()
			}

			if(value.length == 0) {
				$(".apps__partners__partner").css("display", "none");
				$(".apps__partners__partner").slice(0, 8).css("display", "block");
				$("#loadMore").show()
			}
		});
	});

</script>
