{{ $lastPage := .lastPage }}
{{ $lastUrlElement := .lastUrlElement }}
<div class="btn-group dropdown">
	<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<img alt="dropdown-icon" class="dropdown-icon" src="/img/dropdown-icon.svg" />
		{{if eq $lastUrlElement $lastPage}}
			Oldest
		{{else}}
			Latest
		{{end}}
		 <i class="fa fa-angle-down"></i>
	</button>
	<div class="dropdown-menu">
		<a class="dropdown-item" href="/apps"><p class="item-name">Latest</p></a>
		<a class="dropdown-item" href=""><p class="item-name">Oldest</p></a>
	</div>
</div>
