<div class="container-fluid nomp">
  <div class="container">
		<div class="apps__partners__search-container">
			<input id="searchBar" class="form-control mr-sm-2" type="search" placeholder="Search Tardigrade partners & apps..." aria-label="Search">
		</div>
		<div class="pt-5 row d-flex flex-row apps__partners__partners">
			{{ $paginator := .Paginate (where .Site.Pages ".Params.class" "partner") 9}}
			{{ range $paginator.Pages }}
				<div class="col-xs-12 col-lg-4 ">
					<div class="apps__partners__partner">
						<div class="apps__partners__partner__header">
							<img class="img-fluid apps__partners__partner__header__image" src="{{ .Params.img }}" alt="{{ .Params.name }}">
							<h4 class="apps__partners__partner__header__name">
								{{ .Params.name }}
							</h4>
							<p class="apps__partners__partner__header__version">
								{{ .Params.version }}
							</p>
							<p class="apps__partners__partner__header__status">
								{{ .Params.new }}
							</p>
						</div>
						<p class="apps__partners__partner__description">
							{{ .Params.description }}
						</p>
						<div class="apps__partners__partner__footer">
						</div>
					</div>
				</div>
			{{ partial "pagination/pagination" .}}
			{{end}}
		</div>
	    <!-- <nav aria-label="Page navigation example">
	    <ul class="pagination">
	      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
	      <li class="page-item"><a class="page-link" href="#">1</a></li>
	      <li class="page-item"><a class="page-link" href="#">2</a></li>
	      <li class="page-item"><a class="page-link" href="#">3</a></li>
	      <li class="page-item"><a class="page-link" href="#">Next</a></li>
	    </ul> -->
	  </nav>
	</div>
</div>

<script type="text/javascript">

	// var isContains = $('#elementId').text().indexOf('some text') > -1;

	// var size = 9; var arrayOfArrays = []; var partners = $(".apps__partners__partner")
	// let searchBar = $("#searchBar")
	// console.log("BAR:", searchBar, searchBar.val())
	// for (var i=0; i<partners.length; i+=size) {
	//      arrayOfArrays.push(partners.slice(i,i+size));
	// }
	//
  // $(document).ready(function(){
	// 	arrayOfArrays[1].css("display", "inherit");
	//
	// 	$(searchBar).on('input', function() {
	// 	   console.log(searchBar.val())
	// 	});
	// })

</script>
