<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 text-center">
          <div class="card border-0 rounded-xl p-5">
            <h2 class="mb-4">Create an Account to Finish Claiming Your Credit</h2>
            <p>Create an account with Tardigrade and the free $150 will be applied within two weeks—you can start using your account immediately.</p>
            <div class="row">
              <div class="col">
                <a href="/signup/?partner=fastly" class="btn btn-primary btn-lg mt-4 mb-5">Create an Account</a>
              </div>
            </div>
            <p><small class="text-muted font-weight-light">A payment method is required to create an account on Tardigrade, but you won’t be charged anything until your credit is used up or expires.</small></p>
          </div>
            <img src="/img/mascot-3d-hello.svg" class="mt-5 pt-5" alt="Tardigrade Mascot"/>
        </div>
    </div>
</div>
