<!DOCTYPE html>
  <html lang="en">
    <head>
      {{ partial "head" . }}
    </head>
  <body>
      {{ partial "partner-form/form" .}}
    <footer>
      {{partial "footer" . }}
    </footer>
      {{ partial "site-scripts" .}}
  </body>
</html>

<script type="text/javascript">
    window.onload = function() {

    var nextButton = document.getElementById("partner-form-next");
    var backButton = document.getElementById("partner-form-back");
    var submitButton = document.getElementById("partner-form-submit");
    var stepWrappers = document.getElementsByClassName("step"); // all step wrapper divs
    var progressBar = document.getElementById("progress-bar");
    var errors = document.getElementsByClassName("error"); // all error divs
    var formStart = document.getElementById("start-wrapper"); // initial page message
    var startButton = document.getElementById("partner-form-start");
    var firstStep = document.getElementById("partner-form-name");
    var progressBarWrapper = document.getElementById("progress-bar-wrapper");
    var stepButtons = document.getElementById("step-buttons");


    var index = 0; // to be increased an decreased depending on button clicked
    var progressBarValue = 8.333; // 100 divided by the 12 steps

    var partnerForm = {partner_form: true}

    if(formStart && startButton && firstStep && progressBarWrapper && stepButtons) {
      // remove beginning message and start process
      startButton.onclick = function (event) {
        formStart.setAttribute("style", "display:none;");
        firstStep.setAttribute("style", "display:inherit;");
        progressBarWrapper.setAttribute("style", "display:inherit;");
        stepButtons.setAttribute("style", "display:inherit;");
      }
    }

    nextButton.onclick = function (event) {
      // stepWrappers[index] will always be current step
      if(stepWrappers[index] && errors && errors[index]) {
        // if required field is empty
        if(stepWrappers[index].querySelector(".required") && stepWrappers[index].querySelector(".required").value == "") {
          errors[index].setAttribute("style", "display:block;");
        } else {
          var userEmailInput = stepWrappers[index].querySelector(".user-email");
          // if email input does not include ampersand
          if(userEmailInput && userEmailInput.value && userEmailInput.value < 3 && !userEmailInput.value.includes(".") && !userEmailInput.value.includes("@")) {
            errors[index].setAttribute("style", "display:block;");
          } else {
            // next button successful click logic
            stepWrappers[index].setAttribute("style", "display:none;");
            if(backButton) {
              backButton.setAttribute("style", "display:inline-block;");
            }
            if(progressBar) {
              progressBar.innerHTML = index + 2
              progressBarValue += 8.333;
              progressBar.setAttribute("style", `width: ${progressBarValue}%`);
            }
            index += 1
            stepWrappers[index].setAttribute("style", "display:block;");
            if(stepWrappers[index].classList.contains('partner-form-per-month')) {
              nextButton.setAttribute("style", "display:none;");
              submitButton.setAttribute("style", "display:inline-block;");
            }
          }
        }
      }
    }

    // toggle use case options
    window.onmousedown = function (event) {
      var el = event.target;
      if (el.tagName.toLowerCase() == "option" &&
          el.stepWrappersNode.hasAttribute("multiple") &&
          el.className == "use-case") {

        event.preventDefault();
        // toggle selection
        el.hasAttribute("selected") ? el.removeAttribute("selected") : el.setAttribute("selected", "")
      }
    }


    backButton.onclick = function (event) {
      // no back button on first step
      if(index == 1 && backButton) {
        backButton.setAttribute("style", "display:none");
      }
      stepWrappers[index].setAttribute("style", "display:none;");
      if(progressBar) {
        progressBar.innerHTML = index
        progressBarValue = progressBarValue - 8.333;
        progressBar.setAttribute("style", `width: ${progressBarValue}%`);
      }
      index = index - 1
      stepWrappers[index].setAttribute("style", "display:block;");
    }

    submitButton.onclick = function (event) {
      var userInput = document.querySelectorAll(".user-input") // all non-selecter user inputs

      for (i = 0; i < userInput.length; i++) { // get answers for all non-selecter user inputs
        partnerForm[userInput[i].name] = userInput[i].value
      }

			function valuePush(formStep, answerOptions) { // function to grab user answers for selecter inputs
				if(answerOptions) {
					for (var i = 0, length = answerOptions.length; i < length; i++) {
						if (answerOptions[i].selected) {
							 formStep = answerOptions[i].value;
							 break;
						}
					}
				}
			}

      var useCaseOptions = document.getElementsByClassName('use-case');
			var dataAmountOptions = document.getElementsByClassName('data-amount');
			var fileSizeOptions = document.getElementsByClassName('file-size');
			var perMonthOptions = document.getElementsByClassName('per-month');

      if(useCaseOptions) { // not using function beacuse multiple answers can be chosen for this specific question
        partnerForm.use_case = [];
        for (var i = 0, length = useCaseOptions.length; i < length; i++) {
          if (useCaseOptions[i].selected) {
            partnerForm.use_case.push(useCaseOptions[i].value);
          }
        }
      }

			valuePush(partnerForm.data_amount, dataAmountOptions)
			valuePush(partnerForm.file_sizes, fileSizeOptions)
			valuePush(partnerForm.download_times_per_month, perMonthOptions)

      // timestamps with timezone
      partnerForm.timestamp = Math.floor((new Date()).getTime() / 1000)

      analytics.identify(analytics.user().anonymousId(),
        {email: partnerForm.email, timestamp: partnerForm.timestamp, partner_form: true},
        {integrations: {'All': false, 'Customer.io': true}}, function() {
          analytics.track("partner-form", {});
      });

      analytics.identify(analytics.user().anonymousId(),
        partnerForm,
        {integrations: {'All': false, 'postgresSelfHosted': true}}, function() {
          window.location = "/partner-thank-you"
      });
    }

  }
</script>
