<!DOCTYPE html>
  <html lang="en">
    <head>
      {{ partial "head" . }}
    </head>
  <body>
      {{ partial "partner-form/form" .}}
    <footer>
      {{partial "footer" . }}
    </footer>
      {{ partial "site-scripts" .}}
  </body>
</html>

<script type="text/javascript">
    window.onload = function() {

    var nextButton = document.getElementById("partner-form-next");
    var backButton = document.getElementById("partner-form-back");
    var submitButton = document.getElementById("partner-form-submit");
    var parent = document.getElementsByClassName("step");
    var progressBar = document.getElementById("progress-bar");
    var errElm = document.getElementsByClassName("error");


    var index = 0;
    var progressBarValue = 8.333;

    var user = {partner_signup: true}

    nextButton.onclick = function (event) {

      if(parent[index].querySelector("#input") && parent[index].querySelector("#input").value !== "" || parent[index].querySelector(".custom-select")) {
        parent[index].setAttribute("style", "display:none;");
        if(backButton) {
          backButton.setAttribute("style", "display:inline-block;");
        }
        if(progressBar) {
          console.log("VALUE:", progressBar.innerHTML)
          progressBar.innerHTML = index + 2
          progressBarValue = progressBarValue + 8.333;
          progressBar.setAttribute("style", `width: ${progressBarValue}%`);
        }
        index = index + 1
        parent[index].setAttribute("style", "display:block;");
        if(parent[index].classList.contains('partner-form-per-month')) {
          nextButton.setAttribute("style", "display:none;");
          submitButton.setAttribute("style", "display:inline-block;");
        }
      } else {
        if(errElm && errElm[index]) {
          errElm[index].setAttribute("style", "display:block;");
        }
      }
    }

    backButton.onclick = function (event) {
      if(index == 1 && backButton) {
        backButton.setAttribute("style", "display:none");
      }
      parent[index].setAttribute("style", "display:none;");
      index = index - 1
      parent[index].setAttribute("style", "display:block;");
    }

    submitButton.onclick = function (event) {
      var userInput = document.querySelectorAll(".input")

      for (i = 0; i < userInput.length; i++) {
        user[userInput[i].name] = userInput[i].value
      }

      var useCaseOptions = document.getElementsByClassName('use-case');
      var useCaseVal= "";
      user.use_case = [];
      for (var i = 0, length = useCaseOptions.length; i < length; i++) {
          if (useCaseOptions[i].selected) {
             user.use_case.push(useCaseOptions[i].value);
             break;
           }
      }

      var dataAmountOptions = document.getElementsByClassName('data-amount');

      var dataAmountVal= "";
      for (var i = 0, length = dataAmountOptions.length; i < length; i++) {
          if (dataAmountOptions[i].selected) {
             user.data_amount = dataAmountOptions[i].value;
             break;
           }
      }

      var fileSizeOptions = document.getElementsByClassName('file-size');

      for (var i = 0, length = fileSizeOptions.length; i < length; i++) {
          if (fileSizeOptions[i].selected) {
             user.file_sizes = fileSizeOptions[i].value;
             break;
           }
      }

      var perMonthOptions = document.getElementsByClassName('per-month');

      for (var i = 0, length = perMonthOptions.length; i < length; i++) {
        if (perMonthOptions[i].selected) {
           user.download_times_per_month = perMonthOptions[i].value;
           console.log("USER:", user)
           console.log("VALUE:", perMonthOptions[i].value)
           break;
         }
      }

      user.timestamp = Math.floor((new Date()).getTime() / 1000)

      console.log("PERSON:",user)

      // timestamps with timezone

      // analytics.identify(analytics.user().anonymousId(), {user}, {}, function() {
      //     analytics.track("storj_newsletter", {});
      //     if(errElm) {
      //       errElm.setAttribute("style", "display:none;");
      //     }
      //     if(succElm) {
      //       succElm.setAttribute("style", "display:table-caption;");
      //     }
      // });
    }

  }
</script>
