<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-10 col-md-6 text-center pt-5">
            <h2 class="mb-4">Thanks for Trying Tardigrade</h2>
            <p>We’ll send you one more email to confirm when your account is closed. If you ever need secure cloud object storage that’s just a fraction of the cost – check us out again!</p>
            <img src="/img/mascot-3d-hello.svg" class="mt-5 pt-5" alt="Tardigrade Mascot"/>
        </div>
    </div>
</div>
