<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-md-12 col-lg-5 py-5 mt-0 mt-lg-5">
      <div class="hero">

        <div class="row mb-2">
          <div class="col my-4">
            <img src="/img/fastly.svg" class="fastly-logo" alt="Fastly">
            <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" class="plus mx-4">
              <path d="M26.4255 13.0692C26.6634 13.0692 26.8563 13.2621 26.8563 13.5C26.8563 13.724 26.6854 13.908 26.467 13.9289L26.4255 13.9309H0.574406C0.336453 13.9309 0.143555 13.738 0.143555 13.5C0.143555 13.276 0.314427 13.092 0.532912 13.0711L0.574406 13.0692H26.4255Z" fill="#384761"/>
              <path d="M13.4999 0.143616C13.7239 0.143616 13.9079 0.314488 13.9288 0.532973L13.9308 0.574467V26.4255C13.9308 26.6635 13.7379 26.8564 13.4999 26.8564C13.276 26.8564 13.0919 26.6855 13.0711 26.467L13.0691 26.4255V0.574467C13.0691 0.336514 13.262 0.143616 13.4999 0.143616Z" fill="#384761"/>
            </svg>
            <img src="/img/tardigrade-2.svg" class="tardigrade-logo" alt="Tardigrade">
          </div>
        </div>

        <h2 class="hero-title">Get $150 in Free Credits When You Try Tardigrade With Fastly</h2>
        <p class="description my-4">Tardigrade is safer, faster, decentralized object storage at a fraction of the cost. Get $150* credit when you join Tardigrade, and start uploading data with Fastly in just a few easy steps. </p>
        <p class="text-black-50 small mt-5">*Credit expires two months after being applied.</p>

      </div>
    </div>

    <div class="col-md-12 col-lg-6 offset-lg-1">
      <div class="card border-0 p-4 p-lg-5 mb-5 mt-4 shadow rounded-lg">

        <h4 class="mb-3">Register Your Email Address</h4>
        <p class="mb-4">After registering your email, create a Tardigrade account using the same email address, and a credit will be applied to your account within two weeks.</p>

        <form name="submit-to-google-sheet" action="/fastly-success">
          <label for="email">Enter Email Address</label>
          <input type="email" id="email" name="email" value="" placeholder="example@email.com" class="form-control mb-1" required>
          <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Claim $150 Credit<div hidden id="spinner"></div></button>
        </form>

        <div class="bg-light mt-5 p-4 rounded-lg">
          <h5>Get Fastly</h5>

          <p class="mb-2">Fastly is the programmable edge cloud platform that delivers faster, more powerful sites and applications.</p>

          <a href="https://docs.fastly.com/en/guides/tardigrade-decentralized-object-cloud-storage" target="_blank" class="link font-weight-bold">Sign Up with Fastly</a>
        </div>

      </div>
    </div>
  </div>
</div>
