<div class="how pt-5 bg-white">
  <div class="container">
    <div class="row py-5">

      <div class="col-md-12 col-lg-5 pb-5">
        <div class="video embed-responsive embed-responsive-16by9 mb-5">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RtyBjWmbePQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <h2 class="mb-3">How Tardigrade Works</h2>
        <p>Tardigrade splits files into encrypted pieces, then distributes them on a global network, and recompiles each piece on download. This means your data isn't being stored in a vulnerable data center, it's being securely stored all over the world.</p>
        <a href="https://link.tardigradeshare.io/15CYbbCAnFyMjXZdZs8sVJ8JbGdCKjdaMCjhNKF937pUMikZnXCBDu6SeemVbQ1opJW257otj7SXFaM7DSEGf9Fm6LjtSPQycMXskWbsbWyNY6q6vetvhRY8TsBLKxuB5778sNfVHvnstGHRUB26cKNpZsnRjCXfzqyDLCB2Rd2euu3qf4d3sNFHKwrym9Ubf8ctbAUsQyruK7TJhFHVBGgQLfVDXnoHZo7CcGXDE1gxL27ac2u8YN1tj4vAGvTVy5e2V9mArg7wrJ3q25g9WwerDjScgQFwvPTABBjwyckH8dmH6cTyhqfgsf8UMj9gAc8ygJHbrroZkx3PpxeEvLVHpGvoWSQbyR7SDqdp1UYQ5gCG1T4nPoRrxjMHDCwgScEAAoBb7TJu5pmznEk6KEXb98oriJ1NU3Gh7oykbeQCKHMnwNd2e8W1NcMbFJN8TrWtpzDXafQSWDPEykJot3o3526VWYBDXdCao3C31V99mMf2tEcaWFDnhjv9a97Ck2UKZ8EB8vwPq4tW/homepage/TardigradeExplainerVideo.m4v" class="btn btn-primary button mt-4 px-5">See Tardigrade in Action</a>
      </div>

      <div class="col-md-12 col-lg-6 offset-lg-1">
        <div class="row mb-5">
          <div class="col-1">
            <img src="/img/tar-ico-secure.svg" alt="100% Secure" height="32" width="32">
          </div>
          <div class="col-11 px-4">
            <h5>100% Secure</h5>
            <p>Store your data with confidence, knowing Tardigrade uses end-to-end encryption and decentralization to offer unparalled security.</p>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-1">
            <img src="/img/tar-ico-durable.svg" alt="Remarkably Durable" height="32" width="32">
          </div>
          <div class="col-11 px-4">
            <h5>Remarkably Durable</h5>
            <p>Don't worry about downtime and outages. Files on Tardigrade are split into pieces and distributed on a global network, which is why we've never lost a file.</p>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-1">
            <img src="/img/tar-ico-money.svg" alt="Predictable Pricing" height="32" width="32">
          </div>
          <div class="col-11 px-4">
            <h5>Predictable Pricing</h5>
            <p>Tardigrade is a fraction of the cost of other storage solutions, and out pricing is predictable so you don't run into surprises when looking at your bill.</p>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-1">
            <img src="/img/tar-ico-global.svg" alt="Globally Distributed" height="32" width="32">
          </div>
          <div class="col-11 px-4">
            <h5>Globally Distributed</h5>
            <p>Most storage services run on data centers. Tardigrade never puts your file in one place, so downtime and breaches are a thing of the past.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
